Repository eirvandelden/dotfiles: changes, and which lefthook commands are due for each by the changed paths.
All: csslint, erb_lint, eslint, spelling, rubocop, ruby-syntax

Path conditions:
  csslint: any of: *.{css,scss}
  erb_lint: any of: *.{erb}
  eslint: any of: *.{js,ts,jsx,tsx}
  spelling: any of: *.{js,rb,md}
  rubocop: any of: *.{rb}, but not: application.rb|routes.rb|schema.rb
  ruby-syntax: any of: *.rb

fix(herdr): clear a stale report, and say accurately what the skills promise
  claude/.claude/skills/handoff/SKILL.md
  claude/.claude/skills/review/SKILL.md
  codex/.codex/skills/handoff/SKILL.md
  codex/.codex/skills/review/SKILL.md
  herdr/.config/herdr/scripts/hand-off-plan.sh
  herdr/.config/herdr/scripts/start-review.sh
  test/herdr_worker_scripts_test.rb
Due: spelling, ruby-syntax

fix(herdr): bound the retry, and pin the behaviour the tests were missing
  claude/.claude/skills/handoff/SKILL.md
  claude/.claude/skills/review/SKILL.md
  codex/.codex/skills/handoff/SKILL.md
  codex/.codex/skills/review/SKILL.md
  herdr/.config/herdr/scripts/hand-off-plan.sh
  herdr/.config/herdr/scripts/start-review.sh
  test/herdr_worker_scripts_test.rb
Due: spelling, ruby-syntax

fix(herdr): give the retry a number an agent can count, and the tests names that match
  claude/.claude/skills/review/SKILL.md
  codex/.codex/skills/review/SKILL.md
  herdr/.config/herdr/scripts/hand-off-plan.sh
  herdr/.config/herdr/scripts/start-review.sh
  test/herdr_worker_scripts_test.rb
Due: spelling, ruby-syntax

feat(herdr): hand work over in a pane below instead of a new tab
  claude/.claude/skills/handoff/SKILL.md
  codex/.codex/skills/handoff/SKILL.md
  codex/.codex/skills/handoff/agents/openai.yaml
  herdr/.config/herdr/scripts/hand-off-plan.sh
  test/herdr_worker_scripts_test.rb
Due: spelling, ruby-syntax

fix(claude): read the guarded command, not the prose inside it
  claude/.claude/hooks/consent-guard.sh
  test/consent_guard_test.rb
Due: spelling, ruby-syntax

fix(ghostty): rebuild the solunized themes from the current palette
  ghostty/.config/ghostty/themes/solunized-dark
  ghostty/.config/ghostty/themes/solunized-light
Due: none

feat(herdr): make the focused pane border stand out from the rest
  herdr/.config/herdr/config.toml
Due: none

fix(herdr): settle the report file before starting an agent
  herdr/.config/herdr/scripts/hand-off-plan.sh
  herdr/.config/herdr/scripts/start-review.sh
  test/herdr_worker_scripts_test.rb
Due: spelling, ruby-syntax

feat(herdr): report back to the agent that asked
  claude/.claude/skills/handoff/SKILL.md
  claude/.claude/skills/review/SKILL.md
  codex/.codex/skills/handoff/SKILL.md
  codex/.codex/skills/review/SKILL.md
  herdr/.config/herdr/scripts/hand-off-plan.sh
  herdr/.config/herdr/scripts/start-review.sh
  test/herdr_worker_scripts_test.rb
Due: spelling, ruby-syntax

fix(herdr): make the report-back line survive a busy caller and an odd path
  herdr/.config/herdr/scripts/hand-off-plan.sh
  herdr/.config/herdr/scripts/start-review.sh
  test/herdr_worker_scripts_test.rb
Due: spelling, ruby-syntax

fix(herdr): refuse before spawning when there is nobody to report back to
  herdr/.config/herdr/scripts/hand-off-plan.sh
  herdr/.config/herdr/scripts/start-review.sh
  test/herdr_worker_scripts_test.rb
Due: spelling, ruby-syntax

fix(herdr): keep a review report out of the directory the worktree sweep deletes
  herdr/.config/herdr/scripts/hand-off-plan.sh
  herdr/.config/herdr/scripts/start-review.sh
  test/herdr_worker_scripts_test.rb
Due: spelling, ruby-syntax

feat(herdr): give the focused pane a blue accent and a readable sidebar
  herdr/.config/herdr/config.toml
Due: none

fix: keep project files that a stow package ignores
  git/.config/git/worktree-tools/lib/file_cleaner.rb
  git/.config/git/worktree-tools/test/file_cleaner_test.rb
Due: spelling, ruby-syntax

fix(git): let bundle-audit refresh its advisories from inside a hook
  lefthook.yml
Due: none

fix(claude): take the last directory change before the git command
  claude/.claude/hooks/consent-guard.sh
  test/consent_guard_test.rb
Due: spelling, ruby-syntax

fix(claude): judge a push by the branches it writes
  claude/.claude/hooks/consent-guard.sh
  test/consent_guard_test.rb
Due: spelling, ruby-syntax

feat(git): let this machine verify the commits it signs
  git/.config/git/allowed_signers
  git/.config/git/config
Due: none

docs(worktree-tools): plan fixing project names that are not hostnames
  docs/plans/worktree-init-hostname.md
Due: spelling

feat: add token hygiene rules to global Claude instructions
  claude/.claude/CLAUDE.md
  claude/.claude/TOKENS.md
Due: spelling

Add test output hygiene rule to agent playbook
  agents.md
Due: spelling

Cross-reference rule 14 and fix unsafe tail pipe in rule 23
  agents.md
Due: spelling

Remove test-output rule duplicated by agents.md #117
  claude/.claude/TOKENS.md
Due: spelling

test(claude): pin the command text the guard still reads as configuration
  claude/.claude/hooks/consent-guard.sh
  test/consent_guard_test.rb
Due: spelling, ruby-syntax

fix(claude): find the checkout the write actually runs in
  claude/.claude/hooks/consent-guard.sh
  test/consent_guard_test.rb
Due: spelling, ruby-syntax

fix(claude): keep looking for git behind a wrapper word
  claude/.claude/hooks/consent-guard.sh
  test/consent_guard_test.rb
Due: spelling, ruby-syntax

docs(claude): say what the parser actually does
  claude/.claude/hooks/consent-guard.sh
Due: none

refactor(claude): let the default-branch check answer yes or no
  claude/.claude/hooks/consent-guard.sh
Due: none

fix(claude): refuse a push that sends every branch
  claude/.claude/hooks/consent-guard.sh
  test/consent_guard_test.rb
Due: spelling, ruby-syntax

refactor(claude): read the guarded command in Ruby
  claude/.claude/hooks/consent-guard.rb
  claude/.claude/hooks/consent-guard.sh
  claude/.claude/settings.json
  project-dictionary.txt
  test/consent_guard_test.rb
Due: spelling, ruby-syntax

refactor(claude): guard only what nothing else can
  claude/.claude/hooks/consent-guard.rb
  claude/.claude/hooks/consent-guard.sh
  claude/.claude/settings.json
  project-dictionary.txt
  test/consent_guard_test.rb
Due: spelling, ruby-syntax

fix(herdr): use prefix+arrow keys for pane focus instead of hjkl
  herdr/.config/herdr/config.toml
Due: none
