Repository eirvandelden/dotfiles: changes, and which lefthook commands are due for each by the changed paths.
All: csslint, erb_lint, eslint, spelling, rubocop, ruby-syntax

Path conditions:
  csslint: any of: *.{css,scss}
  erb_lint: any of: *.{erb}
  eslint: any of: *.{js,ts,jsx,tsx}
  spelling: any of: *.{js,rb,md}
  rubocop: any of: *.{rb}, but not: application.rb|routes.rb|schema.rb
  ruby-syntax: any of: *.rb

fix(neovim): add arrow keys as alternative window-focus bindings
  neovim/.config/nvim/lua/config/keymaps.lua
Due: none

docs(playbook): state which model to use for planning vs implementing
  agents.md
  project-dictionary.txt
Due: spelling

chore(claude): default to opusplan so plan mode gets Opus
  claude/.claude/settings.json
Due: none

feat(codex): add a terra profile for planning sessions
  codex/.codex/terra.config.toml
Due: none

chore(neovim): update plugin lockfile
  neovim/.config/nvim/lazy-lock.json
Due: none

feat(git): ignore config/development.key globally
  git/.config/git/ignore.global
Due: none

feat(zed): start the Claude agent on Sonnet
  zed/.config/zed/settings.json
Due: none

chore(claude): turn off the official github plugin
  .gitignore
  claude/.claude/settings.json
Due: none

chore(codex): sync config with local Codex state
  codex/.codex/config.toml
Due: none

feat(claude): read the extra push allowlist from a file
  agents.md
  claude/.claude/hooks/consent-guard.rb
  test/consent_guard_test.rb
Due: spelling, ruby-syntax

feat(git,ssh): move the work conditions into dotfiles-work
  git/.config/git/config
  ssh/.ssh/config
Due: none

feat(zsh): take the work 1Password account from the environment
  test/secrets_loader_test.rb
  zsh/.config/zsh/functions/secrets.zsh
Due: spelling, ruby-syntax

refactor(codex): move the fizzy-sync skill to dotfiles-work
  codex/.codex/skills/fizzy-sync/SKILL.md
  codex/.codex/skills/fizzy-sync/agents/openai.yaml
  codex/.codex/skills/fizzy-sync/references/examples.md
  packages.conf
Due: spelling

chore: stop naming the employer in the public dotfiles
  claude/.claude/settings.json
  conductor/.config/conductor/scripts/README.md
  cspell/.config/cspell/user-dictionary.txt
  git/.config/git/worktree-tools/test/config_test.rb
  project-dictionary.txt
  zed/.config/zed/keymap.json
  zed/.config/zed/tasks.json
Due: spelling, ruby-syntax

docs: move Ruby method style into a ruby-style skill
  agents.md
  claude/.claude/skills/ruby-style/SKILL.md
Due: spelling

docs: move dependency policy into a dependencies skill
  agents.md
  claude/.claude/skills/dependencies/SKILL.md
  claude/.claude/skills/new-repo-setup/SKILL.md
Due: spelling

docs: move open questions out of the always-read playbook
  agents.md
  docs/open-questions.md
Due: spelling

docs: move agent skill setup into dotfiles-maintenance
  agents.md
  claude/.claude/skills/dotfiles-maintenance/SKILL.md
Due: spelling

docs: move the skill index into SKILLS-INDEX.md
  SKILLS-INDEX.md
  agents.md
Due: spelling

docs: compress the playbook and drop the duplicated style block
  agents.md
Due: spelling

docs: drop the fizzy-sync entry from the skills index
  SKILLS-INDEX.md
Due: spelling

feat(claude): load the playbook from the user config
  claude/.claude/CLAUDE.md
  claude/.claude/PLAYBOOK.md
Due: spelling

feat(codex): load the playbook and skills index from the user config
  codex/.codex/AGENTS.md
  codex/.codex/PLAYBOOK.md
  codex/.codex/SKILLS-INDEX.md
Due: spelling

feat(claude): show timestamps on each message
  claude/.claude/settings.json
Due: none

docs: say where the playbook comes from and what a repo file covers
  agents.md
Due: spelling

docs(new-repo-setup): set up a repo context file, not a playbook symlink
  claude/.claude/skills/new-repo-setup/SKILL.md
Due: spelling

docs(skills): drop the playbook fallback from review and handoff
  claude/.claude/skills/code-review/SKILL.md
  claude/.claude/skills/plan-handoff/SKILL.md
Due: spelling

chore(packages): drop alerter brew tap
  packages.conf
Due: none

feat(claude): add last-reply time to the statusline
  claude/.claude/settings.json
  claude/.claude/statusline-command.sh
Due: none

feat(claude): show the full PR URL as plain text in the statusline
  claude/.claude/statusline-command.sh
Due: none

refactor(claude): port the statusline script from bash to ruby
  claude/.claude/settings.json
  claude/.claude/statusline-command.rb
  claude/.claude/statusline-command.sh
Due: spelling, ruby-syntax

test(claude): add a minitest suite for the statusline script, run it in CI
  .github/workflows/statusline-command-test.yml
  claude/.claude/statusline-command.rb
  claude/.claude/test/statusline_command_test.rb
Due: spelling, ruby-syntax

style(claude): add the yaml document-start marker lefthook expects
  .github/workflows/statusline-command-test.yml
Due: none

fix(claude): drop the dead XDG playbook symlink
  claude/.config/claude/CLAUDE.md
  git/.config/git/worktree-tools/test/conductor_scripts_test.rb
Due: spelling, ruby-syntax

docs(agents): allow agents to push branches and open PRs against origin
  agents.md
Due: spelling

fix(claude): resolve a stash-pop conflict left in settings.json
  claude/.claude/settings.json
Due: none

Switch nvim and Zed to solunized colors
  neovim/.config/nvim/colors/solunized.lua
  neovim/.config/nvim/lua/config/lazy.lua
  neovim/.config/nvim/lua/config/options.lua
  neovim/.config/nvim/lua/plugins/selenized_rails.lua
  zed/.config/zed/settings.json
  zed/.config/zed/themes/selenized-rails-theme.json
  zed/.config/zed/themes/solunized-theme.json
Due: none

docs(playbook): fix pre-existing CI failures instead of ignoring them
  agents.md
Due: spelling

fix(codex): allow network in sandboxed workspace-write commands
  codex/.codex/config.toml
Due: none

feat(codex): prompt before destructive or infra-affecting commands
  codex/.codex/rules/default.rules
Due: none
