Repository eirvandelden/dotfiles: changes, and which lefthook commands are due for each by the changed paths.
All: csslint, erb_lint, eslint, spelling, rubocop, ruby-syntax

Path conditions:
  csslint: any of: *.{css,scss}
  erb_lint: any of: *.{erb}
  eslint: any of: *.{js,ts,jsx,tsx}
  spelling: any of: *.{js,rb,md}
  rubocop: any of: *.{rb}, but not: application.rb|routes.rb|schema.rb
  ruby-syntax: any of: *.rb

Scope review-report-fresh's code-commit check to the branch
  git/.config/git/worktree-tools/review-report-fresh
Due: none

Mark review round 1 finding fixed
  docs/changes/no-hardwrap-markdown-unwrap/review.md
Due: spelling

Prove the branch's own code still needs a review
  docs/changes/review-report-fresh-merge-base/plan.md
  test/review_report_check_test.rb
Due: spelling, ruby-syntax

Remove change artifacts for no-hardwrap-markdown-unwrap
  docs/changes/no-hardwrap-markdown-unwrap/intent.md
  docs/changes/no-hardwrap-markdown-unwrap/plan.md
  docs/changes/no-hardwrap-markdown-unwrap/review.md
  docs/changes/no-hardwrap-markdown-unwrap/spec.md
Due: spelling

Review round 1 for review-report-fresh-merge-base
  docs/changes/review-report-fresh-merge-base/review.md
Due: spelling

Drop the setext dictionary word with the change folder
  project-dictionary.txt
Due: none

Pin merge-base path and restore review hint assertion
  test/review_report_check_test.rb
Due: spelling, ruby-syntax

Align spec.md with plan.md on the renamed test and base resolution
  docs/changes/review-report-fresh-merge-base/spec.md
Due: spelling

Close review round 1 for review-report-fresh-merge-base
  docs/changes/review-report-fresh-merge-base/review.md
Due: spelling

Review round 2 for review-report-fresh-merge-base
  docs/changes/review-report-fresh-merge-base/review.md
Due: spelling

Fall through to local main/master when origin/HEAD is dangling
  git/.config/git/worktree-tools/review-report-fresh
  test/review_report_check_test.rb
Due: spelling, ruby-syntax

Close review round 2 for review-report-fresh-merge-base
  docs/changes/review-report-fresh-merge-base/review.md
Due: spelling

Remove change artifacts for review-report-fresh-merge-base
  docs/changes/review-report-fresh-merge-base/intent.md
  docs/changes/review-report-fresh-merge-base/plan.md
  docs/changes/review-report-fresh-merge-base/review.md
  docs/changes/review-report-fresh-merge-base/spec.md
Due: spelling

Tests for fill-pr-template-no-template
  test/fill_pr_template_test.rb
Due: spelling, ruby-syntax

Fix fill-pr-template's appended sections
  claude/.claude/skills/finish/scripts/fill-pr-template
Due: none

Describe fill-pr-template's trimmed appended sections
  claude/.claude/skills/finish/SKILL.md
  docs/changes/ai-native-workflow/phases/04-finish.md
Due: spelling

Review round 1 for fill-pr-template-no-template
  docs/changes/fill-pr-template-no-template/review.md
Due: spelling

Record change artifacts for fill-pr-template-no-template
  docs/changes/fill-pr-template-no-template/intent.md
  docs/changes/fill-pr-template-no-template/plan.md
  docs/changes/fill-pr-template-no-template/spec.md
Due: spelling

Match fill-pr-template's Proof fixture to a real plan's shape
  docs/changes/fill-pr-template-no-template/plan.md
  test/fill_pr_template_test.rb
Due: spelling, ruby-syntax

Filter fill-pr-template's Proof by arrow, not indentation
  claude/.claude/skills/finish/scripts/fill-pr-template
  docs/changes/ai-native-workflow/phases/04-finish.md
  docs/changes/fill-pr-template-no-template/spec.md
Due: spelling

Close review round 1 for fill-pr-template-no-template
  docs/changes/fill-pr-template-no-template/review.md
Due: spelling

Review round 2 for fill-pr-template-no-template
  docs/changes/fill-pr-template-no-template/review.md
Due: spelling

Fix plan.md Proof line's test name
  docs/changes/fill-pr-template-no-template/plan.md
Due: spelling

Delete Proof test that reads files finish deletes
  test/fill_pr_template_test.rb
Due: spelling, ruby-syntax

Describe the arrow-based Proof filter in plan.md
  docs/changes/fill-pr-template-no-template/plan.md
Due: spelling

Trim script header comment to three categories
  claude/.claude/skills/finish/scripts/fill-pr-template
Due: none

Describe the arrow-based Proof filter in 04-finish.md
  docs/changes/ai-native-workflow/phases/04-finish.md
Due: spelling

Keep all Proof bullets when none carry an arrow
  claude/.claude/skills/finish/scripts/fill-pr-template
  docs/changes/fill-pr-template-no-template/spec.md
  test/fill_pr_template_test.rb
Due: spelling, ruby-syntax

Close review round 2 for fill-pr-template-no-template
  docs/changes/fill-pr-template-no-template/review.md
Due: spelling

Review round 3 for fill-pr-template-no-template
  docs/changes/fill-pr-template-no-template/review.md
Due: spelling

Drop the per-file lead-in and require an arrow-backtick shape in Proof filter
  claude/.claude/skills/finish/scripts/fill-pr-template
  test/fill_pr_template_test.rb
Due: spelling, ruby-syntax

Close review round 3 for fill-pr-template-no-template
  docs/changes/fill-pr-template-no-template/review.md
Due: spelling

Describe the lead-in cutoff and arrow-backtick Proof rule
  docs/changes/ai-native-workflow/phases/04-finish.md
  docs/changes/fill-pr-template-no-template/plan.md
  docs/changes/fill-pr-template-no-template/spec.md
Due: spelling

Review round 4 for fill-pr-template-no-template
  docs/changes/fill-pr-template-no-template/review.md
Due: spelling

Close review round 4 for fill-pr-template-no-template
  docs/changes/fill-pr-template-no-template/review.md
Due: spelling

Remove change artifacts for fill-pr-template-no-template
  docs/changes/fill-pr-template-no-template/intent.md
  docs/changes/fill-pr-template-no-template/plan.md
  docs/changes/fill-pr-template-no-template/review.md
  docs/changes/fill-pr-template-no-template/spec.md
Due: spelling

Update to latest ruby
  ruby/.ruby-version
Due: none

Reproduce herdr freezing on system notifications
  docs/changes/herdr-terminal-notifications/intent.md
  docs/changes/herdr-terminal-notifications/plan.md
  docs/changes/herdr-terminal-notifications/spec.md
  test/herdr_config_test.rb
Due: spelling, ruby-syntax

Deliver herdr notifications through the terminal
  herdr/.config/herdr/config.toml
Due: none

Review round 1 for herdr-terminal-notifications
  docs/changes/herdr-terminal-notifications/review.md
Due: spelling
