Repository eirvandelden/dotfiles: changes, and which lefthook commands are due for each by the changed paths.
All: csslint, erb_lint, eslint, spelling, rubocop, ruby-syntax

Path conditions:
  csslint: any of: *.{css,scss}
  erb_lint: any of: *.{erb}
  eslint: any of: *.{js,ts,jsx,tsx}
  spelling: any of: *.{js,rb,md}
  rubocop: any of: *.{rb}, but not: application.rb|routes.rb|schema.rb
  ruby-syntax: any of: *.rb

Add shellcheck and yamllint to lefthook
  lefthook.yml
  packages.conf
  yamllint/.config/yamllint/config
Due: none

Add shellcheck and yamllint to lefthook (#26)
  lefthook.yml
  packages.conf
  yamllint/.config/yamllint/config
Due: none

Add chpwd hook to rv for non-interactive shell compatibility
  zsh/.config/zsh/paths.zsh
Due: none

Fix workspace DB handling and hook file selection
  claude/.config/claude/CLAUDE.md
  conductor/.config/conductor/scripts/archive
  conductor/.config/conductor/scripts/run
  conductor/.config/conductor/scripts/setup
  git/.config/git/worktree-tools/lib/config.rb
  git/.config/git/worktree-tools/test/conductor_scripts_test.rb
  git/.config/git/worktree-tools/test/config_test.rb
  lefthook.yml
Due: spelling, ruby-syntax

Switch from bundler to rv ci for gem installation (#25)
  conductor/.config/conductor/scripts/setup
  conductor/.config/conductor/scripts/test/scripts_test.rb
  lefthook.yml
  project-dictionary.txt
  test/rv_ci_fallback_test.rb
  zsh/.config/zsh/aliases.zsh
Due: spelling, ruby-syntax

Add chpwd hook to rv for non-interactive shell compatibility (#27)
  zsh/.config/zsh/paths.zsh
Due: none

add even more mac apps to brew install
  packages.conf
Due: none

Update agents.md with more safety requests and workspace configuration
  agents.md
  project-dictionary.txt
Due: spelling

Disabling automatic rv ci calling until it support passing bundler env vars
  zsh/.config/zsh/aliases.zsh
Due: none

Moved ssh config because the symlink wasn't really working
  ssh/.config/ssh/config
  ssh/.ssh/config
Due: none

Add superpowers ignore patterns to global gitignore
  git/.config/git/ignore.global
Due: none

Add superpowers ignore patterns to global gitignore (#29)
  git/.config/git/ignore.global
Due: none

Use ruby 4.0.2 as default ruby
  ruby/.ruby-version
Due: none

Use Node 24.14.0 as default Node version
  node/.node-version
Due: none

Use Node 24.14.0 as default Node version (#30)
  node/.node-version
Due: none

Add Ruby shell-defaults verification to pre-push hook
  lefthook.yml
Due: none

Add Node shell-defaults verification to pre-push hook
  lefthook.yml
Due: none

Tighten shell default path checks
  lefthook.yml
  test/rv_ci_fallback_test.rb
Due: spelling, ruby-syntax

Update bi test to expect bundle install
  test/rv_ci_fallback_test.rb
Due: spelling, ruby-syntax

Add shell defaults verification to pre-push hook (#31)
  lefthook.yml
  test/rv_ci_fallback_test.rb
Due: spelling, ruby-syntax

fix: worktree-tools command_exists?, puma-dev port file, Conductor skip
  git/.config/git/worktree-tools/lib/common.rb
  git/.config/git/worktree-tools/lib/puma_dev.rb
Due: spelling, ruby-syntax

Add code review workflow to AI Agent instructions
  agents.md
Due: spelling

Add code review workflow to AI Agent instructions (#33)
  agents.md
Due: spelling

fix: default to Caddy over puma-dev in Conductor workspaces
  git/.config/git/worktree-tools/lib/config.rb
  git/.config/git/worktree-tools/test/config_test.rb
Due: spelling, ruby-syntax

refactor: remove redundant Conductor guard from PumaDev#setup!
  git/.config/git/worktree-tools/lib/puma_dev.rb
Due: spelling, ruby-syntax

fix: show correct proxy URL in Conductor setup script
  conductor/.config/conductor/scripts/setup
Due: none

Fix ruby/node version detection for non-interactive shells
  lefthook-local.yml
  lefthook.yml
  zsh/.config/zsh/environment.zsh
  zsh/.config/zsh/paths.zsh
Due: none

fix(conductor): DATABASE_NAME export, worktree PROJECT_NAME, worktree-remove in archive
  conductor/.config/conductor/scripts/archive
  conductor/.config/conductor/scripts/setup
Due: none

Fix zsh hook startup follow-ups
  project-dictionary.txt
  test/rv_ci_fallback_test.rb
  zsh/.config/zsh/environment.zsh
  zsh/.config/zsh/paths.zsh
Due: spelling, ruby-syntax

Apply home Node default in zsh startup
  test/rv_ci_fallback_test.rb
  zsh/.config/zsh/environment.zsh
  zsh/.config/zsh/paths.zsh
Due: spelling, ruby-syntax

Fix non-interactive Ruby and Node version detection (#35)
  lefthook-local.yml
  lefthook.yml
  project-dictionary.txt
  test/rv_ci_fallback_test.rb
  zsh/.config/zsh/environment.zsh
  zsh/.config/zsh/paths.zsh
Due: spelling, ruby-syntax

Update default js to include later patch version
  node/.node-version
Due: none

Require explicit approval before implementing, committing, or pushing
  agents.md
Due: spelling

Require explicit approval before implementing, committing, or pushing (#36)
  agents.md
Due: spelling

Fix zsh startup for stripped shell environments
  zsh/.config/zsh/.zshenv
  zsh/.config/zsh/paths.zsh
Due: none

Fix zsh startup for stripped shell environments (#37)
  zsh/.config/zsh/.zshenv
  zsh/.config/zsh/paths.zsh
Due: none

Install prerequisits when running on steamos
  install/utils.sh
  packages.conf
Due: none

Add lite agent voice rules
  agents.md
Due: spelling

Add lite agent voice rules (#38)
  agents.md
Due: spelling

Add codex configuration file
  codex/.codex/config.toml
Due: none
