Repository eirvandelden/dotfiles: changes, and which lefthook commands are due for each by the changed paths.
All: csslint, erb_lint, eslint, spelling, rubocop, ruby-syntax

csslint:
  tags: sass css linter
  run: yarn csslint {staged_files}

erb_lint:
  tags: erb style
  run: erb_lint {staged_files}

eslint:
  tags: javascript linter
  run: yarn eslint {staged_files}

spelling:
  run: cspell {staged_files}

rubocop:
  tags: ruby linter
  run: rubocop -a {staged_files} --parallel
  stage_fixed: true

ruby-syntax:
  tags:
  - ruby
  - syntax
  run: ruby -c "{staged_files}"
  fail_text: Hey there, it looks like your Ruby syntax is incorrect. Take a break if you're tired!

Update git commit hoks
  git/.config/git/hooks/post-merge
  git/.config/git/hooks/pre-commit
  git/.config/git/hooks/pre-push
Due: none

Update zed models
  zed/.config/zed/settings.json
Due: none

Add Rails defaults dotfile
  ruby/.railsrc
Due: none

Add Rails defaults dotfile (#39)
  ruby/.railsrc
Due: none

docs: forbid github comments as user
  agents.md
Due: spelling

docs: forbid github comments as user (#40)
  agents.md
Due: spelling

Fix workspace DB handling and hook file selection
  claude/.config/claude/CLAUDE.md
  conductor/.config/conductor/scripts/archive
  conductor/.config/conductor/scripts/run
  conductor/.config/conductor/scripts/setup
  git/.config/git/worktree-tools/lib/config.rb
  git/.config/git/worktree-tools/test/conductor_scripts_test.rb
  git/.config/git/worktree-tools/test/config_test.rb
  lefthook.yml
Due: spelling, ruby-syntax

Restore Claude config symlink
  claude/.config/claude/CLAUDE.md
Due: spelling

Fix workspace DB handling and push-file checks (#28)
  agents.md
  codex/.codex/config.toml
  conductor/.config/conductor/scripts/archive
  conductor/.config/conductor/scripts/run
  conductor/.config/conductor/scripts/setup
  conductor/.config/conductor/scripts/test/scripts_test.rb
  git/.config/git/hooks/post-merge
  git/.config/git/hooks/pre-commit
  git/.config/git/hooks/pre-push
  git/.config/git/ignore.global
  git/.config/git/worktree-tools/lib/config.rb
  git/.config/git/worktree-tools/test/conductor_scripts_test.rb
  git/.config/git/worktree-tools/test/config_test.rb
  install/utils.sh
  lefthook-local.yml
  lefthook.yml
  node/.node-version
  packages.conf
  project-dictionary.txt
  ruby/.railsrc
  ruby/.ruby-version
  ssh/.config/ssh/config
  ssh/.ssh/config
  test/rv_ci_fallback_test.rb
  zed/.config/zed/settings.json
  zsh/.config/zsh/.zshenv
  zsh/.config/zsh/aliases.zsh
  zsh/.config/zsh/environment.zsh
  zsh/.config/zsh/paths.zsh
Due: spelling, ruby-syntax

Fix workspace DB handling and push-file checks (#28)
  conductor/.config/conductor/scripts/archive
  conductor/.config/conductor/scripts/run
  conductor/.config/conductor/scripts/setup
  git/.config/git/worktree-tools/lib/config.rb
  git/.config/git/worktree-tools/test/conductor_scripts_test.rb
  git/.config/git/worktree-tools/test/config_test.rb
  lefthook.yml
Due: spelling, ruby-syntax

fix: worktree-tools command_exists?, puma-dev port file, Conductor skip
  git/.config/git/worktree-tools/lib/common.rb
  git/.config/git/worktree-tools/lib/puma_dev.rb
Due: spelling, ruby-syntax

fix: default to Caddy over puma-dev in Conductor workspaces
  git/.config/git/worktree-tools/lib/config.rb
  git/.config/git/worktree-tools/test/config_test.rb
Due: spelling, ruby-syntax

refactor: remove redundant Conductor guard from PumaDev#setup!
  git/.config/git/worktree-tools/lib/puma_dev.rb
Due: spelling, ruby-syntax

fix: show correct proxy URL in Conductor setup script
  conductor/.config/conductor/scripts/setup
Due: none

fix(conductor): DATABASE_NAME export, worktree PROJECT_NAME, worktree-remove in archive
  conductor/.config/conductor/scripts/archive
  conductor/.config/conductor/scripts/setup
Due: none

fix: make worktree setup explicit and configurable
  conductor/.config/conductor/scripts/setup
  conductor/.config/conductor/scripts/test/scripts_test.rb
  git/.config/git/config
  git/.config/git/hooks/post-checkout
  git/.config/git/worktree-tools/README.md
  git/.config/git/worktree-tools/lib/puma_dev.rb
  git/.config/git/worktree-tools/test/git_alias_test.rb
  git/.config/git/worktree-tools/test/post_checkout_hook_test.rb
  git/.config/git/worktree-tools/test/remove_test.rb
  git/.config/git/worktree-tools/worktree-init
  git/.config/git/worktree-tools/worktree-remove
Due: spelling, ruby-syntax

Add Pokemon nicknames for Codex explorer subagent
  codex/.codex/agents/explorer.toml
Due: none

fix: expose ZDOTDIR to launchd so GUI apps inherit zsh config
  zsh/.zshenv
Due: none

chore: bump Ruby to 4.0.3 and Node to 25.9.0
  node/.node-version
  ruby/.ruby-version
Due: none

fix: use absolute path /bin/launchctl in ~/.zshenv
  zsh/.zshenv
Due: none

revert: remove Hyprland game-mode session from dotfiles
  README.md
  hyprland/.config/hypr/autostart.conf
  hyprland/.config/hypr/bindings.conf
  hyprland/.config/hypr/hyprland.conf
  hyprland/.config/hypr/input.conf
  hyprland/.config/hypr/looknfeel.conf
  hyprland/.config/hypr/monitors.conf
  hyprland/.local/bin/hyprland-gamemode
  hyprland/.local/bin/steamdeck-dev-starter
  packages.conf
Due: spelling

revert: remove Hyprland game-mode session from dotfiles (#45)
  README.md
  hyprland/.config/hypr/autostart.conf
  hyprland/.config/hypr/bindings.conf
  hyprland/.config/hypr/hyprland.conf
  hyprland/.config/hypr/input.conf
  hyprland/.config/hypr/looknfeel.conf
  hyprland/.config/hypr/monitors.conf
  hyprland/.local/bin/hyprland-gamemode
  hyprland/.local/bin/steamdeck-dev-starter
  packages.conf
Due: spelling

chore: Phase 0 foundation for Nix + home-manager migration
  docs/nix-migration/README.md
  docs/nix-migration/glossary.md
  docs/nix-migration/phase-0-foundation.md
  docs/nix-migration/phase-1-first-flake.md
  docs/nix-migration/phase-2-more-flakes.md
  docs/nix-migration/phase-3-home-manager.md
  docs/nix-migration/phase-4-zsh.md
  docs/nix-migration/phase-5-stow-packages.md
  docs/nix-migration/phase-6-nix-darwin.md
  docs/nix-migration/phase-7-end-state.md
  docs/nix-migration/phase-8-work-dotfiles.md
  docs/nix-migration/troubleshooting.md
  packages.conf
  project-dictionary.txt
  zsh/.config/zsh/environment.zsh
Due: spelling

feat(worktree-tools): add opt-in Portless backend
  caddy/.config/caddy/Caddyfile
  git/.config/git/worktree-tools/lib/config.rb
  git/.config/git/worktree-tools/lib/portless.rb
  git/.config/git/worktree-tools/test/config_test.rb
  git/.config/git/worktree-tools/test/portless_test.rb
  git/.config/git/worktree-tools/worktree-remove
  git/.config/git/worktree-tools/worktree-setup
  launchd/Library/LaunchAgents/sh.portless.proxy.plist
  packages.conf
  zsh/.config/zsh/aliases.zsh
Due: spelling, ruby-syntax

fix(caddy): move work-internal hostnames out of public Caddyfile
  caddy/.config/caddy/Caddyfile
Due: none

refactor(worktree-tools): drop Portless backend, defer to `portless run`
  git/.config/git/worktree-tools/lib/config.rb
  git/.config/git/worktree-tools/lib/portless.rb
  git/.config/git/worktree-tools/test/config_test.rb
  git/.config/git/worktree-tools/test/portless_test.rb
  git/.config/git/worktree-tools/worktree-remove
  git/.config/git/worktree-tools/worktree-setup
Due: spelling, ruby-syntax

revert(zsh): keep caddy aliases double-quoted
  zsh/.config/zsh/aliases.zsh
Due: none

revert(zsh): restore `e` as an alias
  zsh/.config/zsh/aliases.zsh
Due: none

Path conditions:
  csslint: any of: *.{css,scss}
  erb_lint: any of: *.{erb}
  eslint: any of: *.{js,ts,jsx,tsx}
  spelling: any of: *.{js,rb,md}
  rubocop: any of: *.{rb}, but not: application.rb|routes.rb|schema.rb
  ruby-syntax: any of: *.rb
