Repository eirvandelden/dotfiles: changes, and which lefthook commands are due for each by the changed paths.
All: csslint, erb_lint, eslint, spelling, rubocop, ruby-syntax

Path conditions:
  csslint: any of: *.{css,scss}
  erb_lint: any of: *.{erb}
  eslint: any of: *.{js,ts,jsx,tsx}
  spelling: any of: *.{js,rb,md}
  rubocop: any of: *.{rb}, but not: application.rb|routes.rb|schema.rb
  ruby-syntax: any of: *.rb

Fix a run-on sentence in the plan's mutation check step
  docs/changes/rubocop-refute-methods/plan.md
Due: spelling

Fail the fallback test in CI when RuboCop cannot load its config
  docs/changes/rubocop-refute-methods/plan.md
  test/rubocop_fallback_test.rb
Due: spelling, ruby-syntax

Say plainly how the CI RuboCop gems relate to packages.conf
  .github/workflows/dotfiles-tests.yml
Due: none

Drop the plan's claim that CI installs the same gems as the installer
  docs/changes/rubocop-refute-methods/plan.md
Due: spelling

Review round 3 for rubocop-refute-methods
  docs/changes/rubocop-refute-methods/review.md
Due: spelling

Review round 4 for rubocop-refute-methods
  docs/changes/rubocop-refute-methods/review.md
Due: spelling

Close the review findings for rubocop-refute-methods
  docs/changes/rubocop-refute-methods/review.md
Due: spelling

Remove change artifacts for rubocop-refute-methods
  docs/changes/rubocop-refute-methods/intent.md
  docs/changes/rubocop-refute-methods/plan.md
  docs/changes/rubocop-refute-methods/review.md
  docs/changes/rubocop-refute-methods/spec.md
Due: spelling

Use plain Minitest refute in the herdr worker script tests
  test/herdr_worker_scripts_test.rb
Due: spelling, ruby-syntax

Add Haije to cspell user dictionary
  cspell/.config/cspell/user-dictionary.txt
Due: none

docs: intent for hotwire-native-agent-guidance
  docs/changes/hotwire-native-agent-guidance/intent.md
Due: spelling

Disable the agile, caveman and superpowers-ruby plugins in Claude
  claude/.claude/settings.json
Due: none

Default Claude sessions to opus and say so in the playbook
  agents.md
  claude/.claude/settings.json
Due: spelling

Disable the superpowers-ruby plugin in Codex
  codex/.codex/config.toml
  project-dictionary.txt
Due: none

Vendor sandi-metz-rules from superpowers-ruby 7.5.0
  agents/.agents/skills/sandi-metz-rules
  claude/.claude/skills/sandi-metz-rules/SKILL.md
  claude/.claude/skills/sandi-metz-rules/agents/openai.yaml
  claude/.claude/skills/sandi-metz-rules/references/rules.md
  project-dictionary.txt
Due: spelling

Vendor compound from superpowers-ruby 7.5.0
  agents/.agents/skills/compound
  claude/.claude/skills/compound/SKILL.md
  claude/.claude/skills/compound/agents/openai.yaml
Due: spelling

Vendor ruby from superpowers-ruby 7.5.0
  agents/.agents/skills/ruby
  claude/.claude/skills/ruby/SKILL.md
  claude/.claude/skills/ruby/agents/openai.yaml
  claude/.claude/skills/ruby/references/error_handling.md
  claude/.claude/skills/ruby/references/method_ordering.md
  claude/.claude/skills/ruby/references/modern_ruby.md
  claude/.claude/skills/ruby/references/ood-philosophy.md
  claude/.claude/skills/ruby/references/performance.md
  project-dictionary.txt
Due: spelling

Vendor ruby-upgrade from superpowers-ruby 7.5.0
  agents/.agents/skills/ruby-upgrade
  claude/.claude/skills/ruby-upgrade/SKILL.md
  claude/.claude/skills/ruby-upgrade/agents/openai.yaml
  claude/.claude/skills/ruby-upgrade/references/ruby-4-0-changes.md
  project-dictionary.txt
Due: spelling

Vendor rails-upgrade from superpowers-ruby 7.5.0
  agents/.agents/skills/rails-upgrade
  claude/.claude/skills/rails-upgrade/SKILL.md
  claude/.claude/skills/rails-upgrade/agents/openai.yaml
  claude/.claude/skills/rails-upgrade/references/breaking-changes.md
  claude/.claude/skills/rails-upgrade/references/deprecation-timeline.md
  claude/.claude/skills/rails-upgrade/references/detection-patterns.md
  claude/.claude/skills/rails-upgrade/references/dual-boot-guide.md
  claude/.claude/skills/rails-upgrade/references/gem-compatibility.md
  claude/.claude/skills/rails-upgrade/references/load-defaults-guide.md
  claude/.claude/skills/rails-upgrade/references/troubleshooting.md
  claude/.claude/skills/rails-upgrade/scripts/fetch-changelogs.sh
  project-dictionary.txt
Due: spelling

Vendor using-sqlite-worktrees from superpowers-ruby 7.5.0
  agents/.agents/skills/using-sqlite-worktrees
  claude/.claude/skills/using-sqlite-worktrees/SKILL.md
  claude/.claude/skills/using-sqlite-worktrees/agents/openai.yaml
  claude/.claude/skills/using-sqlite-worktrees/scripts/create_sqlite_worktree.rb
  project-dictionary.txt
Due: spelling, ruby-syntax

Vendor brakeman from superpowers-ruby 7.5.0
  agents/.agents/skills/brakeman
  claude/.claude/skills/brakeman/SKILL.md
  claude/.claude/skills/brakeman/agents/openai.yaml
  claude/.claude/skills/brakeman/references/command_options.md
  claude/.claude/skills/brakeman/references/reducing_false_positives.md
  claude/.claude/skills/brakeman/references/warning_types.md
  claude/.claude/skills/brakeman/scripts/brakeman_helper.rb
  project-dictionary.txt
Due: spelling, ruby-syntax

Vendor systematic-debugging from superpowers-ruby 7.5.0
  agents/.agents/skills/systematic-debugging
  claude/.claude/skills/systematic-debugging/CREATION-LOG.md
  claude/.claude/skills/systematic-debugging/SKILL.md
  claude/.claude/skills/systematic-debugging/agents/openai.yaml
  claude/.claude/skills/systematic-debugging/condition-based-waiting-example.rb
  claude/.claude/skills/systematic-debugging/condition-based-waiting.md
  claude/.claude/skills/systematic-debugging/defense-in-depth.md
  claude/.claude/skills/systematic-debugging/find-polluter.sh
  claude/.claude/skills/systematic-debugging/root-cause-tracing.md
  claude/.claude/skills/systematic-debugging/test-academic.md
  claude/.claude/skills/systematic-debugging/test-pressure-1.md
  claude/.claude/skills/systematic-debugging/test-pressure-2.md
  claude/.claude/skills/systematic-debugging/test-pressure-3.md
  project-dictionary.txt
Due: spelling, ruby-syntax

Point worktree-first at the vendored SQLite worktree skill
  claude/.claude/skills/worktree-first/SKILL.md
Due: spelling

Vendor hwc-forms-validation from superpowers-ruby 7.5.0
  agents/.agents/skills/hwc-forms-validation
  claude/.claude/skills/hwc-forms-validation/SKILL.md
  claude/.claude/skills/hwc-forms-validation/agents/openai.yaml
  claude/.claude/skills/hwc-forms-validation/references/2023-11-07-turbo-frames-typeahead-search.md
  claude/.claude/skills/hwc-forms-validation/references/2024-01-16-stimulus-action-parameters.md
  claude/.claude/skills/hwc-forms-validation/references/2024-02-27-turbo-frames-inline-edit.md
  claude/.claude/skills/hwc-forms-validation/references/2024-05-21-turbo-frames-modals-validation.md
  claude/.claude/skills/hwc-forms-validation/references/2025-10-20-turbo-frames-typeahead-validation.md
  claude/.claude/skills/hwc-forms-validation/references/2026-02-03-turbo-frames-external-form.md
  claude/.claude/skills/hwc-forms-validation/references/INDEX.md
  project-dictionary.txt
Due: spelling

Vendor hwc-media-content from superpowers-ruby 7.5.0
  agents/.agents/skills/hwc-media-content
  claude/.claude/skills/hwc-media-content/SKILL.md
  claude/.claude/skills/hwc-media-content/agents/openai.yaml
  claude/.claude/skills/hwc-media-content/references/2024-04-09-turbo-frames-scrolling-lyrics.md
  claude/.claude/skills/hwc-media-content/references/2024-04-23-stimulus-progressive-image-loading-blurhash.md
  claude/.claude/skills/hwc-media-content/references/2024-06-04-stimulus-picture-in-picture.md
  claude/.claude/skills/hwc-media-content/references/2024-07-02-stimulus-wavesurfer-add-markers.md
  claude/.claude/skills/hwc-media-content/references/2024-07-30-stimulus-wavesurfer-remove-markers.md
  claude/.claude/skills/hwc-media-content/references/2024-09-17-stimulus-image-upload-previews.md
  claude/.claude/skills/hwc-media-content/references/2024-10-29-stimulus-video-progress-tracker.md
  claude/.claude/skills/hwc-media-content/references/2025-01-14-turbo-frames-swiper-autoplay.md
  claude/.claude/skills/hwc-media-content/references/INDEX.md
  project-dictionary.txt
Due: spelling

Vendor hwc-navigation-content from superpowers-ruby 7.5.0
  agents/.agents/skills/hwc-navigation-content
  claude/.claude/skills/hwc-navigation-content/SKILL.md
  claude/.claude/skills/hwc-navigation-content/agents/openai.yaml
  claude/.claude/skills/hwc-navigation-content/references/2023-05-09-turbo-drive-custom-rendering.md
  claude/.claude/skills/hwc-navigation-content/references/2023-05-23-turbo-drive-cache-lifecycle.md
  claude/.claude/skills/hwc-navigation-content/references/2023-06-20-turbo-frames-tabbed-navigation.md
  claude/.claude/skills/hwc-navigation-content/references/2023-07-04-turbo-frames-pagination.md
  claude/.claude/skills/hwc-navigation-content/references/2023-09-12-turbo-frames-scroll-position-restoration.md
  claude/.claude/skills/hwc-navigation-content/references/2023-09-26-turbo-frames-lazy-loading-lifecycle.md
  claude/.claude/skills/hwc-navigation-content/references/2024-02-13-turbo-drive-conditional-instant-click.md
  claude/.claude/skills/hwc-navigation-content/references/2024-10-08-turbo-frames-markdown-preview.md
  claude/.claude/skills/hwc-navigation-content/references/2024-12-10-stimulus-turbo-frames-faceted-search.md
  claude/.claude/skills/hwc-navigation-content/references/INDEX.md
  project-dictionary.txt
Due: spelling

Vendor hwc-stimulus-fundamentals from superpowers-ruby 7.5.0
  agents/.agents/skills/hwc-stimulus-fundamentals
  claude/.claude/skills/hwc-stimulus-fundamentals/SKILL.md
  claude/.claude/skills/hwc-stimulus-fundamentals/agents/openai.yaml
  claude/.claude/skills/hwc-stimulus-fundamentals/references/2023-08-29-stimulus-value-changed-callbacks.md
  claude/.claude/skills/hwc-stimulus-fundamentals/references/2023-10-24-stimulus-keyboardevent-101.md
  claude/.claude/skills/hwc-stimulus-fundamentals/references/2023-12-05-stimulus-auto-sorting.md
  claude/.claude/skills/hwc-stimulus-fundamentals/references/2023-12-19-stimulus-outlets-api.md
  claude/.claude/skills/hwc-stimulus-fundamentals/references/2024-05-07-stimulus-target-callbacks.md
  claude/.claude/skills/hwc-stimulus-fundamentals/references/2024-06-18-fundamentals-core-web-vitals.md
  claude/.claude/skills/hwc-stimulus-fundamentals/references/2025-11-25-stimulus-web-share-api.md
  claude/.claude/skills/hwc-stimulus-fundamentals/references/INDEX.md
Due: spelling

Vendor hwc-realtime-streaming from superpowers-ruby 7.5.0
  agents/.agents/skills/hwc-realtime-streaming
  claude/.claude/skills/hwc-realtime-streaming/SKILL.md
  claude/.claude/skills/hwc-realtime-streaming/agents/openai.yaml
  claude/.claude/skills/hwc-realtime-streaming/references/2023-08-01-turbo-streams-inline-stream-tags.md
  claude/.claude/skills/hwc-realtime-streaming/references/2023-08-15-turbo-streams-custom-stream-actions.md
  claude/.claude/skills/hwc-realtime-streaming/references/2023-10-10-turbo-streams-custom-stream-actions-video-playlist-management.md
  claude/.claude/skills/hwc-realtime-streaming/references/2023-11-21-stimulus-inter-tab-communication.md
  claude/.claude/skills/hwc-realtime-streaming/references/2024-01-30-turbo-streams-custom-stream-actions-localstorage.md
  claude/.claude/skills/hwc-realtime-streaming/references/2024-03-12-hotwire-combobox-with-real-time-data.md
  claude/.claude/skills/hwc-realtime-streaming/references/2025-06-10-turbo-streams-list-animation-view-transitions.md
  claude/.claude/skills/hwc-realtime-streaming/references/INDEX.md
  project-dictionary.txt
Due: spelling

Vendor hwc-ux-feedback from superpowers-ruby 7.5.0
  agents/.agents/skills/hwc-ux-feedback
  claude/.claude/skills/hwc-ux-feedback/SKILL.md
  claude/.claude/skills/hwc-ux-feedback/agents/openai.yaml
  claude/.claude/skills/hwc-ux-feedback/references/2023-04-25-turbo-drive-render-interception.md
  claude/.claude/skills/hwc-ux-feedback/references/2023-06-06-turbo-drive-form-activity-indicators.md
  claude/.claude/skills/hwc-ux-feedback/references/2023-07-18-turbo-drive-progress-bar.md
  claude/.claude/skills/hwc-ux-feedback/references/2024-03-26-optimistic-ui-with-turbo-8-morphs.md
  claude/.claude/skills/hwc-ux-feedback/references/2024-08-13-turbo-drive-ulid.md
  claude/.claude/skills/hwc-ux-feedback/references/2024-11-19-turbo-drive-swiper-view-transitions.md
  claude/.claude/skills/hwc-ux-feedback/references/2026-01-20-turbo-frames-loading-spinner.md
  claude/.claude/skills/hwc-ux-feedback/references/INDEX.md
  project-dictionary.txt
Due: spelling

Vendor 37signals-style from superpowers-ruby 7.5.0
  agents/.agents/skills/37signals-style
  claude/.claude/skills/37signals-style/SKILL.md
  claude/.claude/skills/37signals-style/agents/openai.yaml
  claude/.claude/skills/37signals-style/references/accessibility.md
  claude/.claude/skills/37signals-style/references/action-text.md
  claude/.claude/skills/37signals-style/references/actioncable.md
  claude/.claude/skills/37signals-style/references/active-storage.md
  claude/.claude/skills/37signals-style/references/ai-llm.md
  claude/.claude/skills/37signals-style/references/authentication.md
  claude/.claude/skills/37signals-style/references/background-jobs.md
  claude/.claude/skills/37signals-style/references/caching.md
  claude/.claude/skills/37signals-style/references/configuration.md
  claude/.claude/skills/37signals-style/references/controllers.md
  claude/.claude/skills/37signals-style/references/css.md
  claude/.claude/skills/37signals-style/references/database.md
  claude/.claude/skills/37signals-style/references/development-philosophy.md
  claude/.claude/skills/37signals-style/references/dhh.md
  claude/.claude/skills/37signals-style/references/email.md
  claude/.claude/skills/37signals-style/references/filtering.md
  claude/.claude/skills/37signals-style/references/hotwire.md
  claude/.claude/skills/37signals-style/references/jason-zimdars.md
  claude/.claude/skills/37signals-style/references/jorge-manrubia.md
  claude/.claude/skills/37signals-style/references/mobile.md
  claude/.claude/skills/37signals-style/references/models.md
  claude/.claude/skills/37signals-style/references/multi-tenancy.md
  claude/.claude/skills/37signals-style/references/notifications.md
  claude/.claude/skills/37signals-style/references/observability.md
  claude/.claude/skills/37signals-style/references/performance.md
  claude/.claude/skills/37signals-style/references/rails-engineering-standards-and-practices.md
  claude/.claude/skills/37signals-style/references/routing.md
  claude/.claude/skills/37signals-style/references/security-checklist.md
  claude/.claude/skills/37signals-style/references/stimulus.md
  claude/.claude/skills/37signals-style/references/testing.md
  claude/.claude/skills/37signals-style/references/views.md
  claude/.claude/skills/37signals-style/references/watching.md
  claude/.claude/skills/37signals-style/references/webhooks.md
  claude/.claude/skills/37signals-style/references/what-they-avoid.md
  claude/.claude/skills/37signals-style/references/workflows.md
  project-dictionary.txt
Due: spelling

Replace the caveman output rule with terse Simplified Technical English
  agents.md
Due: spelling

Add a playbook section for mistakes agents repeat here
  agents.md
Due: spelling

List the vendored superpowers-ruby skills in the playbook and index
  SKILLS-INDEX.md
  agents.md
Due: spelling

Drop include sentences that the skills and rule 23 already carry
  claude/.claude/TOKENS.md
  claude/.claude/WORKTREES.md
Due: spelling

docs: intent for remove-cspell
  docs/changes/remove-cspell/intent.md
Due: spelling

Record where phase 5 departed from its file
  docs/changes/ai-native-workflow/phases/05-plugins-and-playbook.md
Due: spelling

settings: remove the stray brace that made settings.json invalid JSON
  claude/.claude/settings.json
Due: none

Vendored skills: fix rails-upgrade paths, record licences and the reflow, drop authoring artifacts
  SKILLS-INDEX.md
  VENDORED-LICENSES.md
  agents.md
  claude/.claude/skills/37signals-style/SKILL.md
  claude/.claude/skills/brakeman/SKILL.md
  claude/.claude/skills/compound/SKILL.md
  claude/.claude/skills/hwc-forms-validation/SKILL.md
  claude/.claude/skills/hwc-media-content/SKILL.md
  claude/.claude/skills/hwc-navigation-content/SKILL.md
  claude/.claude/skills/hwc-realtime-streaming/SKILL.md
  claude/.claude/skills/hwc-stimulus-fundamentals/SKILL.md
  claude/.claude/skills/hwc-ux-feedback/SKILL.md
  claude/.claude/skills/rails-guides/SKILL.md
  claude/.claude/skills/rails-upgrade/SKILL.md
  claude/.claude/skills/ruby-upgrade/SKILL.md
  claude/.claude/skills/ruby/SKILL.md
  claude/.claude/skills/sandi-metz-rules/SKILL.md
  claude/.claude/skills/systematic-debugging/CREATION-LOG.md
  claude/.claude/skills/systematic-debugging/SKILL.md
  claude/.claude/skills/systematic-debugging/test-academic.md
  claude/.claude/skills/systematic-debugging/test-pressure-1.md
  claude/.claude/skills/systematic-debugging/test-pressure-2.md
  claude/.claude/skills/systematic-debugging/test-pressure-3.md
  claude/.claude/skills/using-sqlite-worktrees/SKILL.md
  docs/changes/ai-native-workflow/phases/05-plugins-and-playbook.md
Due: spelling

docs: intent for worktrees-outside-dot-worktrees
  docs/changes/worktrees-outside-dot-worktrees/intent.md
Due: spelling
