Repository eirvandelden/dotfiles: changes, and which lefthook commands are due for each by the changed paths.
All: csslint, erb_lint, eslint, spelling, rubocop, ruby-syntax

csslint:
  tags: sass css linter
  run: yarn csslint {staged_files}

erb_lint:
  tags: erb style
  run: erb_lint {staged_files}

eslint:
  tags: javascript linter
  run: yarn eslint {staged_files}

spelling:
  run: cspell {staged_files}

rubocop:
  tags: ruby linter
  run: rubocop -a {staged_files} --parallel
  stage_fixed: true

ruby-syntax:
  tags:
  - ruby
  - syntax
  run: ruby -c "{staged_files}"
  fail_text: Hey there, it looks like your Ruby syntax is incorrect. Take a break if you're tired!

docs: intent for review-report-test-ignores-global-git-config
  docs/changes/review-report-test-ignores-global-git-config/intent.md
Due: spelling

docs: spec for hotwire-native-agent-guidance
  docs/changes/hotwire-native-agent-guidance/spec.md
Due: spelling

docs: spec for review-report-test-ignores-global-git-config
  docs/changes/review-report-test-ignores-global-git-config/spec.md
Due: spelling

docs: plan for worktrees-outside-dot-worktrees
  docs/changes/worktrees-outside-dot-worktrees/plan.md
Due: spelling

docs: intent for merge-spec-into-intent
  docs/changes/merge-spec-into-intent/intent.md
Due: spelling

docs: intent for merge-spec-into-intent: close review panes once delivered
  docs/changes/merge-spec-into-intent/intent.md
Due: spelling

docs: plan for merge-spec-into-intent
  docs/changes/merge-spec-into-intent/plan.md
Due: spelling

Tests for merge-spec-into-intent
  test/artifact_chain_skills_test.rb
  test/herdr_worker_scripts_test.rb
Due: spelling, ruby-syntax

intent: interview scope and acceptance criteria, no pane in-session
  claude/.claude/skills/intent/SKILL.md
  claude/.claude/skills/intent/agents/openai.yaml
  claude/.claude/skills/worktree-first/SKILL.md
Due: spelling

plan: read intent only, absorb design decisions and domain skills
  claude/.claude/skills/intent/agents/openai.yaml
  claude/.claude/skills/plan/SKILL.md
Due: spelling

intent: shorten openai description under the line limit
  claude/.claude/skills/intent/agents/openai.yaml
Due: none

Remove the spec skill for Claude and Codex
  agents/.agents/skills/spec
  claude/.claude/skills/spec/SKILL.md
  claude/.claude/skills/spec/agents/openai.yaml
Due: spelling

hand-off-plan: drop the spec stage, split every stage below
  herdr/.config/herdr/scripts/hand-off-plan.sh
Due: none

start-review: close the reviewer pane once the report is delivered
  herdr/.config/herdr/scripts/start-review.sh
Due: none

Read acceptance criteria from intent.md in implement, review, finish, agents
  claude/.claude/agents/reviewer.md
  claude/.claude/agents/test-writer.md
  claude/.claude/skills/finish/SKILL.md
  claude/.claude/skills/implement/SKILL.md
  claude/.claude/skills/new-repo-setup/SKILL.md
  claude/.claude/skills/new-repo-setup/references/REVIEW.md
  claude/.claude/skills/review/SKILL.md
  codex/.codex/agents/reviewer.toml
  codex/.codex/agents/test-writer.toml
Due: spelling

Update playbook, skills index, herdr README and spec citations for the two-stage chain
  SKILLS-INDEX.md
  agents.md
  bin/generate-codex-agents
  claude/.claude/hooks/test-guard.rb
  claude/.claude/skills/plan/scripts/change-folder
  git/.config/git/worktree-tools/review-report-fresh
  herdr/.config/herdr/README.md
  test/change_folder_test.rb
  test/codex_agent_generation_test.rb
  test/test_guard_test.rb
Due: spelling, ruby-syntax

docs: intent for remove-cspell
  docs/changes/remove-cspell/intent.md
Due: spelling

docs: plan for remove-cspell
  docs/changes/remove-cspell/plan.md
Due: spelling

docs: spec for remove-cspell
  docs/changes/remove-cspell/spec.md
Due: spelling

Test that an unknown word commits; drop the cspell hook
  lefthook.yml
  test/lefthook_local_hooks_test.rb
Due: spelling, ruby-syntax

Delete the cspell package and its dictionaries
  cspell.yml
  cspell/.config/cspell/cspell.yml
  cspell/.config/cspell/user-dictionary.txt
  lefthook.yml
  project-dictionary.txt
Due: none

Drop cspell from packages.conf
  packages.conf
Due: none

Drop the cspell install step from CI
  .github/workflows/dotfiles-tests.yml
Due: none

Drop cspell from the dotfiles-maintenance skill
  claude/.claude/skills/dotfiles-maintenance/SKILL.md
Due: spelling

Drop the spec-skill approval test; the spec stage is gone
  test/approval_word_test.rb
Due: spelling, ruby-syntax

Review round 1 for remove-cspell
  docs/changes/remove-cspell/review.md
Due: spelling

Name the real acceptance test in the remove-cspell plan
  docs/changes/remove-cspell/plan.md
Due: spelling

Review round 1 for merge-spec-into-intent
  docs/changes/merge-spec-into-intent/review.md
Due: spelling

Test that the plan worker reports what was decided and deferred
  docs/changes/merge-spec-into-intent/review.md
  test/herdr_worker_scripts_test.rb
Due: spelling, ruby-syntax

Assert the reviewer closes its pane on the first try or a retry
  docs/changes/merge-spec-into-intent/review.md
  test/herdr_worker_scripts_test.rb
Due: spelling, ruby-syntax

implement: cite the old design doc by path, not as the spec
  claude/.claude/skills/implement/SKILL.md
  docs/changes/merge-spec-into-intent/review.md
Due: spelling

plan: list the approval word test change
  docs/changes/merge-spec-into-intent/plan.md
  docs/changes/merge-spec-into-intent/review.md
Due: spelling

Review round 2 for merge-spec-into-intent
  docs/changes/merge-spec-into-intent/review.md
Due: spelling

Close the review findings for remove-cspell
  docs/changes/remove-cspell/review.md
Due: spelling

Remove change artifacts for remove-cspell
  docs/changes/remove-cspell/intent.md
  docs/changes/remove-cspell/plan.md
  docs/changes/remove-cspell/review.md
  docs/changes/remove-cspell/spec.md
Due: spelling

Remove change artifacts for merge-spec-into-intent
  docs/changes/merge-spec-into-intent/intent.md
  docs/changes/merge-spec-into-intent/plan.md
  docs/changes/merge-spec-into-intent/review.md
Due: spelling

docs: intent and spec for trek-mcp
  docs/changes/trek-mcp/intent.md
  docs/changes/trek-mcp/spec.md
Due: spelling

docs: plan for trek-mcp
  docs/changes/trek-mcp/plan.md
Due: spelling

Add TREK MCP server to Codex config
  codex/.codex/config.toml
  test/codex_config_test.rb
Due: spelling, ruby-syntax

Document TREK MCP setup for Claude Code and Codex
  claude/.claude/HEADROOM.md
Due: spelling

Path conditions:
  csslint: any of: *.{css,scss}
  erb_lint: any of: *.{erb}
  eslint: any of: *.{js,ts,jsx,tsx}
  spelling: any of: *.{js,rb,md}
  rubocop: any of: *.{rb}, but not: application.rb|routes.rb|schema.rb
  ruby-syntax: any of: *.rb
