Repository eirvandelden/dotfiles: changes, and which lefthook commands are due for each by the changed paths.
All: csslint, erb_lint, eslint, spelling, rubocop, ruby-syntax

csslint:
  tags: sass css linter
  run: yarn csslint {staged_files}

erb_lint:
  tags: erb style
  run: erb_lint {staged_files}

eslint:
  tags: javascript linter
  run: yarn eslint {staged_files}

spelling:
  run: cspell {staged_files}

rubocop:
  tags: ruby linter
  run: rubocop -a {staged_files} --parallel
  stage_fixed: true

ruby-syntax:
  tags:
  - ruby
  - syntax
  run: ruby -c "{staged_files}"
  fail_text: Hey there, it looks like your Ruby syntax is incorrect. Take a break if you're tired!

Tests: a git-credential-1password program on PATH cannot replace the helper
  docs/changes/gh-credential-helper-in-dotfiles/plan.md
  test/git_credential_helper_test.rb
Due: spelling, ruby-syntax

Close Round 1 findings in review.md
  docs/changes/gh-credential-helper-in-dotfiles/review.md
Due: spelling

Name the 1Password credential helper by path, not by alias
  git/.config/git/config
  git/.config/git/credential-1password
Due: none

Review round 2 for gh-credential-helper-in-dotfiles
  docs/changes/gh-credential-helper-in-dotfiles/review.md
Due: spelling

Tests: GitHub credentials work before the git package is restowed
  test/git_credential_helper_test.rb
Due: spelling, ruby-syntax

Run the 1Password helper from the checkout, so it works before a restow
  docs/changes/gh-credential-helper-in-dotfiles/plan.md
  git/.config/git/config
Due: spelling

Close Round 2 findings in review.md
  docs/changes/gh-credential-helper-in-dotfiles/review.md
Due: spelling

Review round 3 for gh-credential-helper-in-dotfiles
  docs/changes/gh-credential-helper-in-dotfiles/review.md
Due: spelling

Rewrap the credential helper test comment
  docs/changes/gh-credential-helper-in-dotfiles/review.md
  test/git_credential_helper_test.rb
Due: spelling, ruby-syntax

docs: intent for design-altitude-in-plans
  docs/changes/design-altitude-in-plans/intent.md
Due: spelling

docs: intent for implement-done-opens-draft-pr
  docs/changes/implement-done-opens-draft-pr/intent.md
Due: spelling

docs: plan for agnostic-skills
  docs/changes/agnostic-skills/plan.md
Due: spelling

docs: record restow decisions in agnostic-skills plan
  docs/changes/agnostic-skills/plan.md
Due: spelling

docs: plan for implement-done-opens-draft-pr
  docs/changes/implement-done-opens-draft-pr/plan.md
Due: spelling

docs: intent for home-assistant-mcp
  docs/changes/home-assistant-mcp/intent.md
Due: spelling

docs: plan for home-assistant-mcp
  docs/changes/home-assistant-mcp/plan.md
Due: spelling

Register the Home Assistant MCP server for Codex
  codex/.codex/config.toml
Due: none

Document the Home Assistant MCP registration for Claude
  claude/.claude/HEADROOM.md
  test/home_assistant_mcp_test.rb
Due: spelling, ruby-syntax

Load the Home Assistant MCP gate token on unlock
  secrets/.config/secrets/1password.env
  test/secrets_loader_test.rb
Due: spelling, ruby-syntax

Review round 1 for home-assistant-mcp
  docs/changes/home-assistant-mcp/review.md
Due: spelling

Tighten Home Assistant Codex config tests
  test/home_assistant_mcp_test.rb
Due: spelling, ruby-syntax

docs: route Home Assistant writes through the Codex automatic reviewer
  docs/changes/home-assistant-mcp/intent.md
  docs/changes/home-assistant-mcp/plan.md
Due: spelling

docs: record round 1 fixes for home-assistant-mcp
  docs/changes/home-assistant-mcp/review.md
Due: spelling

Remove change artifacts for home-assistant-mcp
  docs/changes/home-assistant-mcp/intent.md
  docs/changes/home-assistant-mcp/plan.md
  docs/changes/home-assistant-mcp/review.md
Due: spelling

docs: plan for merge-colleague-hotwire-native-guidance
  docs/changes/merge-colleague-hotwire-native-guidance/plan.md
Due: spelling

docs: intent for merge-colleague-hotwire-native-guidance
  docs/changes/merge-colleague-hotwire-native-guidance/intent.md
Due: spelling

docs: record the lifecycle hook backing decision in the intent
  docs/changes/merge-colleague-hotwire-native-guidance/intent.md
Due: spelling

test: guard hotwire-native reference contracts and traps
  test/hotwire_native_skill_test.rb
Due: spelling, ruby-syntax

docs: add contracts, traps and reporting to the iOS reference
  claude/.claude/skills/hotwire-native/references/ios.md
Due: spelling

docs: add contracts, traps and reporting to the Android reference
  claude/.claude/skills/hotwire-native/references/android.md
Due: spelling

Record Claude and Codex review round 1 of the Hotwire Native references
  docs/changes/merge-colleague-hotwire-native-guidance/review.md
Due: spelling

test: anchor rule assertions on key phrases and check every shared rule
  test/hotwire_native_skill_test.rb
Due: spelling, ruby-syntax

docs: state the iOS session behaviours as app code and a custom process pool
  claude/.claude/skills/hotwire-native/references/ios.md
Due: spelling

docs: tie iOS bridge cleanup to the view lifecycle hooks
  claude/.claude/skills/hotwire-native/references/ios.md
Due: spelling

Close review round 1 findings
  docs/changes/merge-colleague-hotwire-native-guidance/review.md
Due: spelling

docs: tie Android bridge cleanup to onStop and onStart
  claude/.claude/skills/hotwire-native/references/android.md
Due: spelling

Record Codex review round 2 of the Hotwire Native references
  docs/changes/merge-colleague-hotwire-native-guidance/review.md
Due: spelling

Review round 3 for merge-colleague-hotwire-native-guidance
  docs/changes/merge-colleague-hotwire-native-guidance/review.md
Due: spelling

Close the rebase finding of review round 1
  docs/changes/merge-colleague-hotwire-native-guidance/review.md
Due: spelling

test: expect repeat-visit cleanup through onReceive and lifecycle hooks as overrides
  test/hotwire_native_skill_test.rb
Due: spelling, ruby-syntax

Path conditions:
  csslint: any of: *.{css,scss}
  erb_lint: any of: *.{erb}
  eslint: any of: *.{js,ts,jsx,tsx}
  spelling: any of: *.{js,rb,md}
  rubocop: any of: *.{rb}, but not: application.rb|routes.rb|schema.rb
  ruby-syntax: any of: *.rb
