Repository eirvandelden/dotfiles: changes, and which lefthook commands are due for each by the changed paths.
All: csslint, erb_lint, eslint, spelling, rubocop, ruby-syntax

csslint:
  tags: sass css linter
  run: yarn csslint {staged_files}

erb_lint:
  tags: erb style
  run: erb_lint {staged_files}

eslint:
  tags: javascript linter
  run: yarn eslint {staged_files}

spelling:
  run: cspell {staged_files}

rubocop:
  tags: ruby linter
  run: rubocop -a {staged_files} --parallel
  stage_fixed: true

ruby-syntax:
  tags:
  - ruby
  - syntax
  run: ruby -c "{staged_files}"
  fail_text: Hey there, it looks like your Ruby syntax is incorrect. Take a break if you're tired!

fix: merge guard checks the own folder and create guard checks HEAD
  claude/.claude/hooks/consent-guard.rb
  claude/.claude/skills/finish/SKILL.md
  test/consent_guard_test.rb
Due: spelling, ruby-syntax

docs: close review rounds 7 and 8 for pr-only-via-finish
  docs/changes/pr-only-via-finish/intent.md
  docs/changes/pr-only-via-finish/plan.md
  docs/changes/pr-only-via-finish/review.md
Due: spelling

Review round 9 for pr-only-via-finish
  docs/changes/pr-only-via-finish/review.md
Due: spelling

fix: create guard reads --head only inside the gh pr create window
  claude/.claude/hooks/consent-guard.rb
  test/consent_guard_test.rb
Due: spelling, ruby-syntax

docs: close review rounds 9 and 10 for pr-only-via-finish
  docs/changes/pr-only-via-finish/review.md
Due: spelling

Review round 11 for pr-only-via-finish
  docs/changes/pr-only-via-finish/review.md
Due: spelling

fix: guard splits commands on newlines and comments and chains cd targets
  claude/.claude/hooks/consent-guard.rb
  test/consent_guard_test.rb
Due: spelling, ruby-syntax

docs: close review rounds 11 and 12 for pr-only-via-finish
  docs/changes/pr-only-via-finish/intent.md
  docs/changes/pr-only-via-finish/review.md
Due: spelling

Review round 13 for pr-only-via-finish
  docs/changes/pr-only-via-finish/review.md
Due: spelling

save local setting changes
  claude/.claude/settings.json
  codex/.codex/config.toml
  codex/.codex/rules/default.rules
  neovim/.config/nvim/lazy-lock.json
Due: none

docs: intent for herdr-quieter-sounds
  docs/changes/herdr-quieter-sounds/intent.md
Due: spelling

docs: plan for herdr-quieter-sounds
  docs/changes/herdr-quieter-sounds/plan.md
Due: spelling

docs: intent for nvim-startup-errors
  docs/changes/nvim-startup-errors/intent.md
Due: spelling

docs: plan for nvim-startup-errors
  docs/changes/nvim-startup-errors/plan.md
Due: spelling

test(neovim): guard avante's mega plugin dependencies
  test/neovim_avante_dependencies_test.rb
Due: spelling, ruby-syntax

fix(neovim): declare avante's mega.cmdparse dependency
  neovim/.config/nvim/lua/plugins/ai.lua
Due: none

chore(neovim): update plugin lockfile
  neovim/.config/nvim/lazy-lock.json
Due: none

Review round 1 for nvim-startup-errors
  docs/changes/nvim-startup-errors/review.md
Due: spelling

feat: add shared main/master branch guard for repos that extend it
  lefthook-branch-guard.yml
  test/branch_guard_test.rb
Due: spelling, ruby-syntax

feat: refuse empty commits and destination pushes to main in the fallback guard
  lefthook.yml
  test/branch_guard_test.rb
  test/lefthook_posix_sh_test.rb
Due: spelling, ruby-syntax

feat: set up new worktrees from post-checkout for repos that opt in
  git/.config/git/hooks/post-checkout
  git/.config/git/worktree-tools/README.md
  git/.config/git/worktree-tools/test/post_checkout_hook_test.rb
Due: spelling, ruby-syntax

test: isolate post-checkout hook tests from inherited XDG_CONFIG_HOME and LEFTHOOK_BIN
  git/.config/git/worktree-tools/test/post_checkout_hook_test.rb
Due: spelling, ruby-syntax

test: show the guard file change takes effect between two commits
  test/branch_guard_test.rb
Due: spelling, ruby-syntax

docs: correct the post-checkout order rationale in the worktree-tools README
  git/.config/git/worktree-tools/README.md
Due: spelling

test: pushes to main-fix, mainline and a tag go through under the guard
  test/branch_guard_test.rb
Due: spelling, ruby-syntax

test: --no-verify still lets an empty commit and a no-change amend through on main
  test/branch_guard_test.rb
Due: spelling, ruby-syntax

test: clear inherited LEFTHOOK, LEFTHOOK_CONFIG and LEFTHOOK_EXCLUDE in the guard tests
  test/branch_guard_test.rb
Due: spelling, ruby-syntax

Review round 2 (codex) for nvim-startup-errors
  docs/changes/nvim-startup-errors/review.md
Due: spelling

Close round 1 review nits for nvim-startup-errors
  docs/changes/nvim-startup-errors/review.md
Due: spelling

Remove change artifacts for nvim-startup-errors
  docs/changes/nvim-startup-errors/intent.md
  docs/changes/nvim-startup-errors/plan.md
  docs/changes/nvim-startup-errors/review.md
Due: spelling

docs: record the tracked-mp3 decision in the herdr-quieter-sounds plan
  docs/changes/herdr-quieter-sounds/plan.md
Due: spelling

docs: intent for agnostic-skills
  docs/changes/agnostic-skills/intent.md
Due: spelling

docs: join intent status line for agnostic-skills
  docs/changes/agnostic-skills/intent.md
Due: spelling

docs: intent for gh-credential-helper-in-dotfiles
  docs/changes/gh-credential-helper-in-dotfiles/intent.md
Due: spelling

docs: plan for gh-credential-helper-in-dotfiles
  docs/changes/gh-credential-helper-in-dotfiles/plan.md
Due: spelling

Tests for gh-credential-helper-in-dotfiles
  test/git_credential_helper_test.rb
Due: spelling, ruby-syntax

Clear inherited git credential helpers
  git/.config/git/config
Due: none

Read GitHub HTTPS credentials from 1Password
  git/.config/git/config
Due: none

Review round 1 for gh-credential-helper-in-dotfiles
  docs/changes/gh-credential-helper-in-dotfiles/review.md
Due: spelling

Drop the Keychain-backed github.token
  git/.config/git/config
Due: none

Path conditions:
  csslint: any of: *.{css,scss}
  erb_lint: any of: *.{erb}
  eslint: any of: *.{js,ts,jsx,tsx}
  spelling: any of: *.{js,rb,md}
  rubocop: any of: *.{rb}, but not: application.rb|routes.rb|schema.rb
  ruby-syntax: any of: *.rb
