Repository eirvandelden/dotfiles: changes, and which lefthook commands are due for each by the changed paths.
All: csslint, erb_lint, eslint, spelling, rubocop, ruby-syntax

Path conditions:
  csslint: any of: *.{css,scss}
  erb_lint: any of: *.{erb}
  eslint: any of: *.{js,ts,jsx,tsx}
  spelling: any of: *.{js,rb,md}
  rubocop: any of: *.{rb}, but not: application.rb|routes.rb|schema.rb
  ruby-syntax: any of: *.rb

Remove change artifacts for herdr-worktree-panes
  docs/changes/herdr-worktree-panes/intent.md
  docs/changes/herdr-worktree-panes/plan.md
  docs/changes/herdr-worktree-panes/review.md
  docs/changes/herdr-worktree-panes/spec.md
Due: spelling

fix(codex): stop naming the employer in the recorded approval rules
  codex/.codex/rules/default.rules
  docs/changes/scrub-work-references-from-codex-rules/intent.md
  docs/changes/scrub-work-references-from-codex-rules/plan.md
  docs/changes/scrub-work-references-from-codex-rules/spec.md
  project-dictionary.txt
Due: spelling

Review round 1 for scrub-work-references-from-codex-rules
  docs/changes/scrub-work-references-from-codex-rules/review.md
Due: spelling

fix(codex): drop the recorded infrastructure labels too
  codex/.codex/rules/default.rules
  docs/changes/scrub-work-references-from-codex-rules/plan.md
  docs/changes/scrub-work-references-from-codex-rules/review.md
  docs/changes/scrub-work-references-from-codex-rules/spec.md
Due: spelling

fix(codex): keep the rule that only names the private dotfiles path
  codex/.codex/rules/default.rules
  docs/changes/scrub-work-references-from-codex-rules/plan.md
  docs/changes/scrub-work-references-from-codex-rules/spec.md
Due: spelling

Remove change artifacts for ai-native-workflow-phase-4-finish
  docs/changes/ai-native-workflow-phase-4-finish/review.md
Due: spelling

Remove change artifacts for ghostty-shift-enter-newline-followup
  docs/changes/ghostty-shift-enter-newline-followup/intent.md
  docs/changes/ghostty-shift-enter-newline-followup/plan.md
  docs/changes/ghostty-shift-enter-newline-followup/review.md
  docs/changes/ghostty-shift-enter-newline-followup/spec.md
Due: spelling

Remove change artifacts for scrub-work-references-from-codex-rules
  docs/changes/scrub-work-references-from-codex-rules/intent.md
  docs/changes/scrub-work-references-from-codex-rules/plan.md
  docs/changes/scrub-work-references-from-codex-rules/review.md
  docs/changes/scrub-work-references-from-codex-rules/spec.md
Due: spelling

Add intent, spec and plan for the no-hardwrap markdown rule
  docs/changes/no-hardwrap-markdown/intent.md
  docs/changes/no-hardwrap-markdown/plan.md
  docs/changes/no-hardwrap-markdown/spec.md
  project-dictionary.txt
Due: spelling

Warn about hardwrapped markdown at commit time
  lefthook.yml
  test/lefthook_local_hooks_test.rb
Due: spelling, ruby-syntax

Add the no-hardwrap markdownlint rule and its check/unwrap configs
  markdownlint/.config/markdownlint/config
  markdownlint/.config/markdownlint/no-hardwrap.cjs
  markdownlint/.config/markdownlint/no-hardwrap.json
  markdownlint/.config/markdownlint/unwrap.json
  test/no_hardwrap_rule_test.rb
Due: spelling, ruby-syntax

Register the markdownlint stow package and its CI dependency
  .github/workflows/dotfiles-tests.yml
  claude/.claude/skills/dotfiles-maintenance/references/repository-layout.md
  packages.conf
  project-dictionary.txt
Due: spelling

Tell Claude about a hardwrapped paragraph right after it edits markdown
  claude/.claude/hooks/markdown-hardwrap.rb
  claude/.claude/settings.json
  test/markdown_hardwrap_hook_test.rb
Due: spelling, ruby-syntax

Put the no-hardwrap rule in the playbook and core values
  agents.md
  claude/.claude/core-values.yml
  test/markdown_rule_mirror_test.rb
Due: spelling, ruby-syntax

Review round 1 for no-hardwrap-markdown
  docs/changes/no-hardwrap-markdown/review.md
Due: spelling

Keep every word when unwrapping and catch wraps inside inline markup
  docs/changes/no-hardwrap-markdown/plan.md
  markdownlint/.config/markdownlint/no-hardwrap.cjs
  test/no_hardwrap_rule_test.rb
Due: spelling, ruby-syntax

Check .markdown files too and stop tests assuming where binaries live
  claude/.claude/hooks/markdown-hardwrap.rb
  docs/changes/no-hardwrap-markdown/plan.md
  test/lefthook_local_hooks_test.rb
  test/markdown_hardwrap_hook_test.rb
Due: spelling, ruby-syntax

Write the new playbook rule and the layout entry on one line
  agents.md
  claude/.claude/skills/dotfiles-maintenance/references/repository-layout.md
Due: spelling

Mark review round 1 findings fixed
  docs/changes/no-hardwrap-markdown/review.md
Due: spelling

Review round 2 for no-hardwrap-markdown
  docs/changes/no-hardwrap-markdown/review.md
Due: spelling

Keep HTML comment words when unwrapping and warn about .markdown at commit
  claude/.claude/hooks/markdown-hardwrap.rb
  docs/changes/no-hardwrap-markdown/plan.md
  lefthook.yml
  markdownlint/.config/markdownlint/no-hardwrap.cjs
  project-dictionary.txt
  test/lefthook_local_hooks_test.rb
  test/markdown_hardwrap_hook_test.rb
  test/no_hardwrap_rule_test.rb
Due: spelling, ruby-syntax

Mark review round 2 findings fixed
  docs/changes/no-hardwrap-markdown/review.md
Due: spelling

Review round 3 for no-hardwrap-markdown
  docs/changes/no-hardwrap-markdown/review.md
Due: spelling

Skip the commit check plainly when the markdownlint package is not stowed
  docs/changes/no-hardwrap-markdown/plan.md
  lefthook.yml
  test/lefthook_local_hooks_test.rb
Due: spelling, ruby-syntax

Mark review round 3 findings fixed and name fixes by commit subject
  docs/changes/no-hardwrap-markdown/review.md
Due: spelling

Trim trailing spaces inside an HTML comment when unwrapping
  docs/changes/no-hardwrap-markdown/plan.md
  markdownlint/.config/markdownlint/no-hardwrap.cjs
  test/no_hardwrap_rule_test.rb
Due: spelling, ruby-syntax

Bring the spec in line with the .markdown and not-stowed behaviour
  docs/changes/no-hardwrap-markdown/spec.md
Due: spelling

Keep trailing spaces inside a code span when unwrapping
  docs/changes/no-hardwrap-markdown/plan.md
  docs/changes/no-hardwrap-markdown/review.md
  markdownlint/.config/markdownlint/no-hardwrap.cjs
  test/no_hardwrap_rule_test.rb
Due: spelling, ruby-syntax

Review round 4 for no-hardwrap-markdown
  docs/changes/no-hardwrap-markdown/review.md
Due: spelling

Remove change artifacts for no-hardwrap-markdown
  docs/changes/no-hardwrap-markdown/intent.md
  docs/changes/no-hardwrap-markdown/plan.md
  docs/changes/no-hardwrap-markdown/review.md
  docs/changes/no-hardwrap-markdown/spec.md
Due: spelling

set the herdr-done tone back to only warcraft 2 sounds
  herdr/.config/herdr/config.toml
Due: none

save local settings
  claude/.claude/settings.json
  codex/.codex/config.toml
  codex/.codex/rules/default.rules
  codex/.codex/terra.config.toml
  neovim/.config/nvim/lazy-lock.json
Due: none

Add intent, spec and plan for unwrapping the dotfiles markdown
  docs/changes/no-hardwrap-markdown-unwrap/intent.md
  docs/changes/no-hardwrap-markdown-unwrap/plan.md
  docs/changes/no-hardwrap-markdown-unwrap/spec.md
  project-dictionary.txt
Due: spelling

Unwrap the playbook and root markdown
  SKILLS-INDEX.md
  agents.md
  claude/.claude/CLAUDE.md
  claude/.claude/HEADROOM.md
  claude/.claude/TOKENS.md
  claude/.claude/WORKTREES.md
  codex/.codex/AGENTS.md
  git/.config/git/worktree-tools/README.md
  neovim/.config/nvim/README.md
Due: spelling

Unwrap the skill files
  claude/.claude/skills/code-review/SKILL.md
  claude/.claude/skills/dependencies/SKILL.md
  claude/.claude/skills/dotfiles-maintenance/SKILL.md
  claude/.claude/skills/dotfiles-maintenance/references/repository-layout.md
  claude/.claude/skills/finish/SKILL.md
  claude/.claude/skills/new-repo-setup/SKILL.md
  claude/.claude/skills/new-repo-setup/references/REVIEW.md
  claude/.claude/skills/object-oriented-design/SKILL.md
  claude/.claude/skills/object-oriented-design/references/examples.md
  claude/.claude/skills/plan/SKILL.md
  claude/.claude/skills/rails-api-design/SKILL.md
  claude/.claude/skills/rails-architecture/SKILL.md
  claude/.claude/skills/rails-architecture/references/examples.md
  claude/.claude/skills/rails-ops/SKILL.md
  claude/.claude/skills/rails-testing/SKILL.md
  claude/.claude/skills/rails-ui/references/hotwire-stimulus.md
  claude/.claude/skills/rails-ui/references/i18n.md
  claude/.claude/skills/rails-ui/references/interaction-design.md
  claude/.claude/skills/review/SKILL.md
  claude/.claude/skills/ruby-style/SKILL.md
  claude/.claude/skills/spec/SKILL.md
  claude/.claude/skills/sync/SKILL.md
  claude/.claude/skills/worktree-first/SKILL.md
Due: spelling

Unwrap the agent files and regenerate the Codex agents
  claude/.claude/agents/implementer.md
  claude/.claude/agents/reviewer.md
  claude/.claude/agents/test-writer.md
  claude/.claude/agents/zubat.md
  codex/.codex/agents/implementer.toml
  codex/.codex/agents/reviewer.toml
  codex/.codex/agents/test-writer.toml
  codex/.codex/agents/zubat.toml
Due: spelling

Unwrap the docs
  docs/changes/ai-native-workflow/phases/01-shared-skills.md
  docs/changes/ai-native-workflow/spec.md
  docs/open-questions.md
Due: spelling

Review round 1 for no-hardwrap-markdown-unwrap
  docs/changes/no-hardwrap-markdown-unwrap/review.md
Due: spelling

Accept the plan to scope review-report-fresh's code check to the branch
  docs/changes/review-report-fresh-merge-base/intent.md
  docs/changes/review-report-fresh-merge-base/plan.md
  docs/changes/review-report-fresh-merge-base/spec.md
Due: spelling

Prove a docs-only branch can push without a review yet
  test/review_report_check_test.rb
Due: spelling, ruby-syntax
