Repository eirvandelden/dotfiles: changes, and which lefthook commands are due for each by the changed paths.
All: csslint, erb_lint, eslint, spelling, rubocop, ruby-syntax

Path conditions:
  csslint: any of: *.{css,scss}
  erb_lint: any of: *.{erb}
  eslint: any of: *.{js,ts,jsx,tsx}
  spelling: any of: *.{js,rb,md}
  rubocop: any of: *.{rb}, but not: application.rb|routes.rb|schema.rb
  ruby-syntax: any of: *.rb

Fix rv initialization in non-login shells (e.g., Ghostty) (#13)
  zsh/.zshenv
Due: none

Add Conductor work scripts for slicing integration
  conductor/.config/conductor/scripts/work/archive
  conductor/.config/conductor/scripts/work/run
  conductor/.config/conductor/scripts/work/setup
Due: none

Add AI agent branch protection rule
  agents.md
Due: spelling

Add AI agent branch protection rule (#14)
  agents.md
Due: spelling

Add Default settings for Claude (and point it to my Agents file)
  claude/.config/claude/CLAUDE.md
  claude/.config/claude/settings.json
Due: spelling

Update git
  git/.config/git/hooks/commit-msg
  git/.config/git/ignore
Due: none

Default to ruby 4.0.1
  ruby/.ruby-version
Due: none

Install claude, codex and their cli counterparts by default
  packages.conf
Due: none

Fix rv shell integration: centralize PATH in paths.zsh
  zsh/.config/zsh/.zprofile
  zsh/.config/zsh/.zshenv
  zsh/.config/zsh/environment.zsh
  zsh/.config/zsh/paths.zsh
  zsh/.zshrc
Due: none

Fix rv shell integration: centralize PATH in paths.zsh (#15)
  zsh/.config/zsh/.zprofile
  zsh/.config/zsh/.zshenv
  zsh/.config/zsh/environment.zsh
  zsh/.config/zsh/paths.zsh
  zsh/.zshrc
Due: none

Add Sandi Metz rules and OOP principles to agents.md
  agents.md
  project-dictionary.txt
Due: spelling

Fix DI example to use domain model instead of service object
  agents.md
Due: spelling

Add Sandi Metz rules and OOP principles to agents.md (#16)
  agents.md
  project-dictionary.txt
Due: spelling

Slim work scripts to only workspace-specific config
  conductor/.config/conductor/scripts/work/run
  conductor/.config/conductor/scripts/work/setup
Due: none

Move conductor work scripts to dotfiles-work and integrate work packages
  conductor/.config/conductor/scripts/work/archive
  conductor/.config/conductor/scripts/work/run
  conductor/.config/conductor/scripts/work/setup
  install/tasks/20_install_brew_packages.sh
  install/tasks/50_stow_all.sh
Due: none

Add Caddy integration to worktree-setup, disable puma-dev for work repos
  git/.config/git/worktree-tools/lib/caddy.rb
  git/.config/git/worktree-tools/lib/config.rb
  git/.config/git/worktree-tools/lib/puma_dev.rb
  git/.config/git/worktree-tools/test/caddy_test.rb
  git/.config/git/worktree-tools/test/config_test.rb
  git/.config/git/worktree-tools/worktree-remove
  git/.config/git/worktree-tools/worktree-setup
Due: spelling, ruby-syntax

Handle undefined work package arrays in install tasks
  install/tasks/20_install_brew_packages.sh
  install/tasks/50_stow_all.sh
Due: none

Separate work config into dotfiles-work repo (#17)
  install/tasks/20_install_brew_packages.sh
  install/tasks/50_stow_all.sh
Due: none

Fix caddy hostname generation for main worktree
  git/.config/git/worktree-tools/lib/caddy.rb
  git/.config/git/worktree-tools/test/caddy_test.rb
  project-dictionary.txt
Due: spelling, ruby-syntax

Fix Caddy cleanup and config validation edge cases
  git/.config/git/worktree-tools/lib/caddy.rb
  git/.config/git/worktree-tools/lib/common.rb
  git/.config/git/worktree-tools/lib/config.rb
  git/.config/git/worktree-tools/test/caddy_test.rb
  git/.config/git/worktree-tools/test/config_test.rb
  git/.config/git/worktree-tools/worktree-remove
  project-dictionary.txt
Due: spelling, ruby-syntax

Fix worktree port selection and caddy cleanup behavior
  git/.config/git/worktree-tools/lib/caddy.rb
  git/.config/git/worktree-tools/lib/common.rb
  git/.config/git/worktree-tools/lib/config.rb
  git/.config/git/worktree-tools/test/caddy_test.rb
  git/.config/git/worktree-tools/test/config_test.rb
Due: spelling, ruby-syntax

Prefer worktree manual port over conductor port
  git/.config/git/worktree-tools/lib/config.rb
  git/.config/git/worktree-tools/test/config_test.rb
Due: spelling, ruby-syntax

Add Caddy integration to worktree-setup (#18)
  git/.config/git/worktree-tools/lib/caddy.rb
  git/.config/git/worktree-tools/lib/common.rb
  git/.config/git/worktree-tools/lib/config.rb
  git/.config/git/worktree-tools/lib/puma_dev.rb
  git/.config/git/worktree-tools/test/caddy_test.rb
  git/.config/git/worktree-tools/test/config_test.rb
  git/.config/git/worktree-tools/worktree-remove
  git/.config/git/worktree-tools/worktree-setup
  project-dictionary.txt
Due: spelling, ruby-syntax

Add .pumadev to global gitignore
  git/.config/git/ignore.global
Due: none

Replace csslint with stylelint and add .browserslistrc validation
  lefthook.yml
Due: none

Replace csslint with stylelint and add .browserslistrc validation (#20)
  lefthook.yml
Due: none

Add UI design guidelines to agents.md based on Apple HIG (OS X 2014)
  agents.md
Due: spelling

Add source attribution to UI design guidelines section
  agents.md
Due: spelling

Refine UI action guidelines in agents playbook
  agents.md
Due: spelling

Add UI design guidelines based on Apple HIG (OS X 2014) (#21)
  agents.md
Due: spelling

Disable Copilot edit predictions in Zed to show Solargraph YARD docs
  zed/.config/zed/settings.json
Due: none

Disable Copilot edit predictions in Zed to show Solargraph YARD docs (#23)
  zed/.config/zed/settings.json
Due: none

Document Minitest test grouping preference using nested classes
  agents.md
Due: spelling

Document Minitest test grouping preference using nested classes (#24)
  agents.md
Due: spelling

Switch from bundler to rv ci for gem installation
  conductor/.config/conductor/scripts/run
  conductor/.config/conductor/scripts/setup
  git/.config/git/config
  lefthook.yml
  packages.conf
  zsh/.config/zsh/aliases.zsh
  zsh/.config/zsh/environment.zsh
Due: none

Fix Conductor Ruby command execution
  conductor/.config/conductor/scripts/run
  conductor/.config/conductor/scripts/setup
  conductor/.config/conductor/scripts/test/scripts_test.rb
  project-dictionary.txt
Due: spelling, ruby-syntax

Restore .git/safe trust, binstubs, and bundle exec
  git/.config/git/config
  packages.conf
  zsh/.config/zsh/aliases.zsh
  zsh/.config/zsh/environment.zsh
Due: none

Restore bin/rails app:update:bin in bi alias
  zsh/.config/zsh/aliases.zsh
Due: none

Fix rv ci fallback for lockfile-less installs
  lefthook.yml
  test/rv_ci_fallback_test.rb
  zsh/.config/zsh/aliases.zsh
Due: spelling, ruby-syntax
