Repository eirvandelden/dotfiles: changes, and which lefthook commands are due for each by the changed paths.
All: csslint, erb_lint, eslint, spelling, rubocop, ruby-syntax

csslint:
  tags: sass css linter
  run: yarn csslint {staged_files}

erb_lint:
  tags: erb style
  run: erb_lint {staged_files}

eslint:
  tags: javascript linter
  run: yarn eslint {staged_files}

spelling:
  run: cspell {staged_files}

rubocop:
  tags: ruby linter
  run: rubocop -a {staged_files} --parallel
  stage_fixed: true

ruby-syntax:
  tags:
  - ruby
  - syntax
  run: ruby -c "{staged_files}"
  fail_text: Hey there, it looks like your Ruby syntax is incorrect. Take a break if you're tired!

Add editor stow package with terminal-aware Neovim/Neovide routing
  .clinerules/caveman.md
  .cursor/rules/caveman.mdc
  .github/copilot-instructions.md
  .opencode/AGENTS.md
  .windsurf/rules/caveman.md
  README.md
  agents.md
  editor/.local/bin/editor
  editor/.local/bin/editor-wait
  git/.config/git/config
  packages.conf
  project-dictionary.txt
  test/editor_test.rb
  zsh/.config/zsh/.zshenv
  zsh/.config/zsh/aliases.zsh
Due: spelling, ruby-syntax

Fix editor helper regressions
  test/editor_test.rb
  zsh/.config/zsh/aliases.zsh
Due: spelling, ruby-syntax

Fix hosts temp-file cleanup
  test/editor_test.rb
  zsh/.config/zsh/aliases.zsh
Due: spelling, ruby-syntax

Fix editor launch contexts
  README.md
  editor/.local/bin/editor
  editor/.local/bin/editor-wait
  git/.config/git/config
  test/editor_test.rb
Due: spelling, ruby-syntax

Add terminal-aware editor stow package (nvim/Neovide routing) (#59)
  .clinerules/caveman.md
  .cursor/rules/caveman.mdc
  .github/copilot-instructions.md
  .opencode/AGENTS.md
  .windsurf/rules/caveman.md
  README.md
  agents.md
  editor/.local/bin/editor
  editor/.local/bin/editor-wait
  git/.config/git/config
  packages.conf
  project-dictionary.txt
  test/editor_test.rb
  zsh/.config/zsh/.zshenv
  zsh/.config/zsh/aliases.zsh
Due: spelling, ruby-syntax

Add rtk for claude and codex
  claude/.claude/CLAUDE.md
  claude/.claude/RTK.md
  codex/.codex/RTK.md
  rtk/.config/rtk/config.toml
Due: spelling

Update codex settings
  claude/.claude/settings.json
  codex/.codex/config.toml
Due: none

lefthook updates to use latest ruby
  git/.config/git/hooks/post-checkout
  git/.config/git/hooks/post-merge
  git/.config/git/hooks/pre-commit
  git/.config/git/hooks/pre-push
Due: none

Update cspell dictionary
  project-dictionary.txt
Due: none

fix: use neovide-app cask token and add Flatpak for Linux
  packages.conf
Due: none

docs: clarify SteamOS prerequisites and add update-survival note in Phase 0
  docs/nix-migration/phase-0-foundation.md
Due: spelling

chore: Phase 0 foundation for Nix + home-manager migration
  docs/nix-migration/README.md
  docs/nix-migration/glossary.md
  docs/nix-migration/phase-0-foundation.md
  docs/nix-migration/phase-1-first-flake.md
  docs/nix-migration/phase-2-more-flakes.md
  docs/nix-migration/phase-3-home-manager.md
  docs/nix-migration/phase-4-zsh.md
  docs/nix-migration/phase-5-stow-packages.md
  docs/nix-migration/phase-6-nix-darwin.md
  docs/nix-migration/phase-7-end-state.md
  docs/nix-migration/phase-8-work-dotfiles.md
  docs/nix-migration/troubleshooting.md
  packages.conf
  project-dictionary.txt
Due: spelling

docs: add rv, rtk, avante, editor to Phase 5 stow tiers
  docs/nix-migration/phase-5-stow-packages.md
  project-dictionary.txt
Due: spelling

fix: drop SHARE_HISTORY, keep per-session history
  zsh/.config/zsh/.zshrc
Due: none

fix: drop SHARE_HISTORY, keep per-session history (#62)
  zsh/.config/zsh/.zshrc
Due: none

Drop LazyVim, standalone lazy.nvim config with native LSP
  neovim/.config/nvim/.neoconf.json
  neovim/.config/nvim/LICENSE
  neovim/.config/nvim/README.md
  neovim/.config/nvim/init.lua
  neovim/.config/nvim/lazy-lock.json
  neovim/.config/nvim/lazyvim.json
  neovim/.config/nvim/lsp/herb_ls.lua
  neovim/.config/nvim/lsp/lua_ls.lua
  neovim/.config/nvim/lsp/solargraph.lua
  neovim/.config/nvim/lua/config/autocmds.lua
  neovim/.config/nvim/lua/config/keymaps.lua
  neovim/.config/nvim/lua/config/lazy.lua
  neovim/.config/nvim/lua/config/options.lua
  neovim/.config/nvim/lua/core/lsp.lua
  neovim/.config/nvim/lua/plugins/ai.lua
  neovim/.config/nvim/lua/plugins/bufferline.lua
  neovim/.config/nvim/lua/plugins/conform.lua
  neovim/.config/nvim/lua/plugins/disable-neo-tree.lua
  neovim/.config/nvim/lua/plugins/flash.lua
  neovim/.config/nvim/lua/plugins/fzf-lua.lua
  neovim/.config/nvim/lua/plugins/gitsigns.lua
  neovim/.config/nvim/lua/plugins/herb.lua
  neovim/.config/nvim/lua/plugins/lazydev.lua
  neovim/.config/nvim/lua/plugins/lualine.lua
  neovim/.config/nvim/lua/plugins/mini-ai.lua
  neovim/.config/nvim/lua/plugins/mini-pairs.lua
  neovim/.config/nvim/lua/plugins/neotest-ruby.lua
  neovim/.config/nvim/lua/plugins/notify.lua
  neovim/.config/nvim/lua/plugins/nvim-dap-ruby.lua
  neovim/.config/nvim/lua/plugins/nvim-lint.lua
  neovim/.config/nvim/lua/plugins/nvim-lspconfig.lua
  neovim/.config/nvim/lua/plugins/nvm-treesitter.lua
  neovim/.config/nvim/lua/plugins/rubocop.lua
  neovim/.config/nvim/lua/plugins/selenized_rails.lua
  neovim/.config/nvim/lua/plugins/telescope.lua
  neovim/.config/nvim/lua/plugins/todo-comments.lua
  neovim/.config/nvim/lua/plugins/treesitter.lua
  neovim/.config/nvim/lua/plugins/which-key-extra.lua
  packages.conf
  project-dictionary.txt
Due: spelling

Drop LazyVim, standalone lazy.nvim config with native LSP (#63)
  neovim/.config/nvim/.neoconf.json
  neovim/.config/nvim/LICENSE
  neovim/.config/nvim/README.md
  neovim/.config/nvim/init.lua
  neovim/.config/nvim/lazy-lock.json
  neovim/.config/nvim/lazyvim.json
  neovim/.config/nvim/lsp/herb_ls.lua
  neovim/.config/nvim/lsp/lua_ls.lua
  neovim/.config/nvim/lsp/solargraph.lua
  neovim/.config/nvim/lua/config/autocmds.lua
  neovim/.config/nvim/lua/config/keymaps.lua
  neovim/.config/nvim/lua/config/lazy.lua
  neovim/.config/nvim/lua/config/options.lua
  neovim/.config/nvim/lua/core/lsp.lua
  neovim/.config/nvim/lua/plugins/ai.lua
  neovim/.config/nvim/lua/plugins/bufferline.lua
  neovim/.config/nvim/lua/plugins/conform.lua
  neovim/.config/nvim/lua/plugins/disable-neo-tree.lua
  neovim/.config/nvim/lua/plugins/flash.lua
  neovim/.config/nvim/lua/plugins/fzf-lua.lua
  neovim/.config/nvim/lua/plugins/gitsigns.lua
  neovim/.config/nvim/lua/plugins/herb.lua
  neovim/.config/nvim/lua/plugins/lazydev.lua
  neovim/.config/nvim/lua/plugins/lualine.lua
  neovim/.config/nvim/lua/plugins/mini-ai.lua
  neovim/.config/nvim/lua/plugins/mini-pairs.lua
  neovim/.config/nvim/lua/plugins/neotest-ruby.lua
  neovim/.config/nvim/lua/plugins/notify.lua
  neovim/.config/nvim/lua/plugins/nvim-dap-ruby.lua
  neovim/.config/nvim/lua/plugins/nvim-lint.lua
  neovim/.config/nvim/lua/plugins/nvim-lspconfig.lua
  neovim/.config/nvim/lua/plugins/nvm-treesitter.lua
  neovim/.config/nvim/lua/plugins/rubocop.lua
  neovim/.config/nvim/lua/plugins/selenized_rails.lua
  neovim/.config/nvim/lua/plugins/telescope.lua
  neovim/.config/nvim/lua/plugins/todo-comments.lua
  neovim/.config/nvim/lua/plugins/treesitter.lua
  neovim/.config/nvim/lua/plugins/which-key-extra.lua
  packages.conf
  project-dictionary.txt
Due: spelling

fix(lefthook): correct migration glob and add missing hooks
  git/.config/git/hooks/post-rewrite
  lefthook.yml
Due: none

fix(lefthook): use rails not bin/rails in migrations run
  lefthook.yml
Due: none

fix(lefthook): pass hook files to migrations
  lefthook.yml
  test/rv_ci_fallback_test.rb
Due: spelling, ruby-syntax

fix(lefthook): avoid migrations on branch switch
  lefthook.yml
  test/rv_ci_fallback_test.rb
Due: spelling, ruby-syntax

fix(lefthook): correct migration glob and add missing hooks (#64)
  git/.config/git/hooks/post-rewrite
  lefthook.yml
  test/rv_ci_fallback_test.rb
Due: spelling, ruby-syntax

feat: replace RTK with Headroom + semble
  claude/.claude/CLAUDE.md
  claude/.claude/HEADROOM.md
  claude/.claude/RTK.md
  claude/.claude/settings.json
  codex/.codex/HEADROOM.md
  codex/.codex/RTK.md
  install.sh
  install/tasks/42_install_uv_tools.sh
  packages.conf
  rtk/.config/rtk/config.toml
Due: spelling

fix: point codex AGENTS.md at HEADROOM.md, document semble MCP registration
  claude/.claude/HEADROOM.md
  codex/.codex/AGENTS.md
  project-dictionary.txt
Due: spelling

Replace RTK with Headroom + semble (#65)
  claude/.claude/CLAUDE.md
  claude/.claude/HEADROOM.md
  claude/.claude/RTK.md
  claude/.claude/settings.json
  codex/.codex/AGENTS.md
  codex/.codex/HEADROOM.md
  codex/.codex/RTK.md
  install.sh
  install/tasks/42_install_uv_tools.sh
  packages.conf
  project-dictionary.txt
  rtk/.config/rtk/config.toml
Due: spelling

Track ~/.conductor/settings.toml in dotfiles via stow
  conductor/.conductor/settings.toml
  packages.conf
Due: none

Track ~/.conductor/settings.toml in dotfiles via stow (#66)
  conductor/.conductor/settings.toml
  packages.conf
Due: none

Replace RTK with Headroom + semble (#65)
  agents.md
  codex/.codex/skills/fizzy-sync/SKILL.md
  codex/.codex/skills/fizzy-sync/agents/openai.yaml
  codex/.codex/skills/fizzy-sync/references/examples.md
  project-dictionary.txt
Due: spelling

fix: don't re-open closed Slack saved item cards
  codex/.codex/skills/fizzy-sync/SKILL.md
Due: spelling

fix: remove contradictory example, declare all MCP deps in manifest
  codex/.codex/skills/fizzy-sync/agents/openai.yaml
  codex/.codex/skills/fizzy-sync/references/examples.md
Due: spelling

fix: Slite dedup example — Document 2 not assigned to you
  codex/.codex/skills/fizzy-sync/references/examples.md
Due: spelling

fix: stow codex package including fizzy-sync, remove manual symlink
  .gitignore
  agents.md
Due: spelling

Add Fizzy Sync Codex skill (#67)
  .gitignore
  agents.md
  codex/.codex/skills/fizzy-sync/SKILL.md
  codex/.codex/skills/fizzy-sync/agents/openai.yaml
  codex/.codex/skills/fizzy-sync/references/examples.md
  project-dictionary.txt
Due: spelling

fix(nvim): snacks.nvim integration and config cleanup
  neovim/.config/nvim/lazy-lock.json
  neovim/.config/nvim/lua/config/keymaps.lua
  neovim/.config/nvim/lua/plugins/ai.lua
  neovim/.config/nvim/lua/plugins/conform.lua
  neovim/.config/nvim/lua/plugins/fzf-lua.lua
  neovim/.config/nvim/lua/plugins/ghostty.lua
  neovim/.config/nvim/lua/plugins/notify.lua
  neovim/.config/nvim/lua/plugins/precognition.lua
  neovim/.config/nvim/lua/plugins/snacks.lua
  neovim/.config/nvim/lua/plugins/todo-comments.lua
  packages.conf
Due: none

fix(nvim): defer Snacks global access, restore notification history keymap
  neovim/.config/nvim/lua/plugins/snacks.lua
Due: none

fix(nvim): actually toggle dim state on <leader>ud
  neovim/.config/nvim/lua/plugins/snacks.lua
Due: none

Path conditions:
  csslint: any of: *.{css,scss}
  erb_lint: any of: *.{erb}
  eslint: any of: *.{js,ts,jsx,tsx}
  spelling: any of: *.{js,rb,md}
  rubocop: any of: *.{rb}, but not: application.rb|routes.rb|schema.rb
  ruby-syntax: any of: *.rb
