Repository eirvandelden/dotfiles: changes, and which lefthook commands are due for each by the changed paths.
All: csslint, erb_lint, eslint, spelling, rubocop, ruby-syntax

Path conditions:
  csslint: any of: *.{css,scss}
  erb_lint: any of: *.{erb}
  eslint: any of: *.{js,ts,jsx,tsx}
  spelling: any of: *.{js,rb,md}
  rubocop: any of: *.{rb}, but not: application.rb|routes.rb|schema.rb
  ruby-syntax: any of: *.rb

chore: add missing cspell words for ghostty and herdr terms
  project-dictionary.txt
Due: none

fix: drop terminal-wide Ghostty shift+enter workaround, use alt+enter instead
  docs/changes/ghostty-shift-enter-newline-followup/intent.md
  docs/changes/ghostty-shift-enter-newline-followup/plan.md
  docs/changes/ghostty-shift-enter-newline-followup/spec.md
  ghostty/.config/ghostty/config
Due: spelling

Review round 1 for ghostty-shift-enter-newline-followup
  docs/changes/ghostty-shift-enter-newline-followup/review.md
Due: spelling

feat: open changed markdown rendered in the file viewer
  docs/changes/herdr-file-viewer-markdown-reading/intent.md
  docs/changes/herdr-file-viewer-markdown-reading/plan.md
  docs/changes/herdr-file-viewer-markdown-reading/spec.md
  herdr/.config/herdr/plugins/config/herdr-file-viewer/config.toml
  project-dictionary.txt
Due: spelling

feat: bind prefix+shift+f to the file viewer in its own tab
  herdr/.config/herdr/config.toml
  project-dictionary.txt
Due: none

docs: explain browsing and reading files in herdr
  herdr/.config/herdr/README.md
Due: spelling

docs: point the top-level README at the herdr viewer
  README.md
Due: spelling

test: reject a file at a stow package root
  test/stow_package_roots_test.rb
Due: spelling, ruby-syntax

Review round 1 for herdr-file-viewer-markdown-reading
  docs/changes/herdr-file-viewer-markdown-reading/review.md
Due: spelling

fix: exercise the stray report, and close round 1's nits
  docs/changes/herdr-file-viewer-markdown-reading/plan.md
  docs/changes/herdr-file-viewer-markdown-reading/review.md
  herdr/.config/herdr/README.md
  test/stow_package_roots_test.rb
Due: spelling, ruby-syntax

chore: drop this change's artifact folder
  docs/changes/herdr-file-viewer-markdown-reading/intent.md
  docs/changes/herdr-file-viewer-markdown-reading/plan.md
  docs/changes/herdr-file-viewer-markdown-reading/review.md
  docs/changes/herdr-file-viewer-markdown-reading/spec.md
Due: spelling

Extract remote matching out of the consent guard
  claude/.claude/hooks/consent-guard.rb
  claude/.claude/hooks/remote_matcher.rb
Due: spelling, ruby-syntax

Add fill-pr-template for finish
  claude/.claude/skills/finish/scripts/fill-pr-template
  test/fill_pr_template_test.rb
Due: spelling, ruby-syntax

Add change-scope for finish
  claude/.claude/skills/finish/scripts/change-scope
  test/change_scope_test.rb
Due: spelling, ruby-syntax

Add the finish skill
  SKILLS-INDEX.md
  agents.md
  agents/.agents/skills/finish
  claude/.claude/skills/finish/SKILL.md
  claude/.claude/skills/finish/agents/openai.yaml
Due: spelling

Review round 1 for ai-native-workflow-phase-4-finish
  docs/changes/ai-native-workflow-phase-4-finish/review.md
Due: spelling

Match test/verify headings before implementation/how in fill-pr-template
  claude/.claude/skills/finish/scripts/fill-pr-template
  test/fill_pr_template_test.rb
Due: spelling, ruby-syntax

Prove an unmatched heading keeps its text among matched ones
  test/fill_pr_template_test.rb
Due: spelling, ruby-syntax

Skip fenced code blocks when splitting PR template headings
  claude/.claude/skills/finish/scripts/fill-pr-template
  test/fill_pr_template_test.rb
Due: spelling, ruby-syntax

Use the installed skill path in implement, plan, spec, reviewer
  claude/.claude/agents/reviewer.md
  claude/.claude/skills/implement/SKILL.md
  claude/.claude/skills/plan/SKILL.md
  claude/.claude/skills/spec/SKILL.md
Due: spelling

End a filled PR template section with a blank line
  claude/.claude/skills/finish/scripts/fill-pr-template
  test/fill_pr_template_test.rb
Due: spelling, ruby-syntax

Use installed script paths in finish/SKILL.md
  claude/.claude/skills/finish/SKILL.md
Due: spelling

Regenerate the reviewer Codex agent for the installed skill path
  codex/.codex/agents/reviewer.toml
Due: none

Guard against repo-relative script paths leaking into skill bodies
  test/skill_parity_test.rb
Due: spelling, ruby-syntax

Update habit 6 for finish opening the PR in both scopes
  docs/changes/ai-native-workflow/habits.md
Due: spelling

finish creates and opens the PR in both scopes, not just work
  claude/.claude/skills/finish/SKILL.md
  docs/changes/ai-native-workflow/phases/04-finish.md
  docs/changes/ai-native-workflow/spec.md
Due: spelling

Review round 2 for ai-native-workflow-phase-4-finish
  docs/changes/ai-native-workflow-phase-4-finish/review.md
Due: spelling

Close Round 1 review findings
  docs/changes/ai-native-workflow-phase-4-finish/review.md
Due: spelling

Record the PR title and body file before finish deletes the change folder
  claude/.claude/skills/finish/SKILL.md
Due: spelling

Match summary headings by content, not the bare word "what"
  claude/.claude/skills/finish/scripts/fill-pr-template
  test/fill_pr_template_test.rb
Due: spelling, ruby-syntax

Update the finish phase document for the Round 2 fixes
  docs/changes/ai-native-workflow/phases/04-finish.md
Due: spelling

Fix descriptions that still said only work fills and pushes the PR
  SKILLS-INDEX.md
  claude/.claude/skills/finish/agents/openai.yaml
Due: spelling

Close every Round 2 finding in review.md
  docs/changes/ai-native-workflow-phase-4-finish/review.md
Due: spelling

Review round 3 for ai-native-workflow-phase-4-finish
  docs/changes/ai-native-workflow-phase-4-finish/review.md
Due: spelling

Keep a choice-list sub-section when absorbing a matched heading
  claude/.claude/skills/finish/scripts/fill-pr-template
  test/fill_pr_template_test.rb
Due: spelling, ruby-syntax

Anchor PR template category patterns to word starts
  claude/.claude/skills/finish/scripts/fill-pr-template
  test/fill_pr_template_test.rb
Due: spelling, ruby-syntax

Append unfilled categories at the end instead of one Context block
  claude/.claude/skills/finish/SKILL.md
  claude/.claude/skills/finish/scripts/fill-pr-template
  docs/changes/ai-native-workflow/phases/04-finish.md
  test/fill_pr_template_test.rb
Due: spelling, ruby-syntax

State the after-push stop rule in §5.4 too
  claude/.claude/skills/finish/SKILL.md
Due: spelling

Rewrite review.md's fixed marks as commit subjects, not SHAs
  claude/.claude/skills/review/SKILL.md
  docs/changes/ai-native-workflow-phase-4-finish/review.md
Due: spelling

Review round 4 for ai-native-workflow-phase-4-finish
  docs/changes/ai-native-workflow-phase-4-finish/review.md
Due: spelling
