Repository eirvandelden/dotfiles: changes, and which lefthook commands are due for each by the changed paths.
All: csslint, erb_lint, eslint, spelling, rubocop, ruby-syntax

Path conditions:
  csslint: any of: *.{css,scss}
  erb_lint: any of: *.{erb}
  eslint: any of: *.{js,ts,jsx,tsx}
  spelling: any of: *.{js,rb,md}
  rubocop: any of: *.{rb}, but not: application.rb|routes.rb|schema.rb
  ruby-syntax: any of: *.rb

docs: merge WORKTREES.md and HEADROOM.md, symlink the Codex side
  claude/.claude/HEADROOM.md
  claude/.claude/WORKTREES.md
  codex/.codex/HEADROOM.md
  codex/.codex/WORKTREES.md
Due: spelling

docs: point the index and dotfiles-maintenance at the one-source layout
  SKILLS-INDEX.md
  claude/.claude/skills/dotfiles-maintenance/SKILL.md
Due: spelling

test: run the skill parity guard on pre-push
  lefthook-local.yml
Due: none

fix: keep worktree-first model-invocable on Claude
  claude/.claude/skills/worktree-first/SKILL.md
  test/skill_parity_test.rb
Due: spelling, ruby-syntax

docs: verify Codex skills by $name injection, stow with -t $HOME
  docs/changes/ai-native-workflow/phases/01-shared-skills.md
Due: spelling

Add change-folder script deriving docs/changes/<slug> from the branch
  claude/.claude/skills/plan/scripts/change-folder
  test/change_folder_test.rb
Due: spelling, ruby-syntax

Add the intent skill
  agents/.agents/skills/intent
  claude/.claude/skills/intent/SKILL.md
  claude/.claude/skills/intent/agents/openai.yaml
Due: spelling

Add the spec skill
  agents/.agents/skills/spec
  claude/.claude/skills/spec/SKILL.md
  claude/.claude/skills/spec/agents/openai.yaml
Due: spelling

Add the plan skill
  agents/.agents/skills/plan
  claude/.claude/skills/plan/SKILL.md
  claude/.claude/skills/plan/agents/openai.yaml
Due: spelling

Add the implement skill, plus its test-writer and implementer agents
  agents/.agents/skills/implement
  claude/.claude/agents/implementer.md
  claude/.claude/agents/test-writer.md
  claude/.claude/skills/implement/SKILL.md
  claude/.claude/skills/implement/agents/openai.yaml
Due: spelling

Retire plan-handoff and handoff, absorbed into plan and implement
  SKILLS-INDEX.md
  agents/.agents/skills/handoff
  claude/.claude/skills/handoff/SKILL.md
  claude/.claude/skills/handoff/agents/openai.yaml
  claude/.claude/skills/plan-handoff/SKILL.md
  test/skill_parity_test.rb
Due: spelling, ruby-syntax

Point playbook rule 17 at the intent/spec/plan/implement chain
  agents.md
Due: spelling

worktree-first: name branches after their GitHub issue when known
  claude/.claude/skills/worktree-first/SKILL.md
Due: spelling

new-repo-setup: docs/changes/ must not be gitignored
  claude/.claude/skills/new-repo-setup/SKILL.md
Due: spelling

test: locate lefthook via PATH before the rv-specific fallback
  test/lefthook_pull_hooks_test.rb
Due: spelling, ruby-syntax

test: cover pre-commit/pre-push global fallback and --no-auto-install
  test/lefthook_local_hooks_test.rb
Due: spelling, ruby-syntax

ci: install lefthook so lefthook_pull_hooks_test.rb runs in CI
  .github/workflows/dotfiles-tests.yml
Due: none

fix(git): export LEFTHOOK_CONFIG and pass --no-auto-install in pre-commit/pre-push
  git/.config/git/hooks/pre-commit
  git/.config/git/hooks/pre-push
  project-dictionary.txt
Due: none

test: use a portable fallback check for the pre-push RED test
  test/lefthook_local_hooks_test.rb
Due: spelling, ruby-syntax

fix(lefthook): let cspell check every staged file, not just js/rb/md
  lefthook.yml
  project-dictionary.txt
Due: none

ci: install cspell so the new pre-commit spelling tests run there
  .github/workflows/dotfiles-tests.yml
Due: none

test: cover the cspell glob gap in the pre-commit fallback
  project-dictionary.txt
  test/lefthook_local_hooks_test.rb
Due: spelling, ruby-syntax

ci: install lefthook and cspell at their latest release, not a pinned one
  .github/workflows/dotfiles-tests.yml
Due: none

docs: finish opens the work PR in the browser instead of setting the board status
  docs/changes/ai-native-workflow/habits.md
  docs/changes/ai-native-workflow/phases/04-finish.md
  docs/changes/ai-native-workflow/plan.md
  docs/changes/ai-native-workflow/spec.md
Due: spelling

test: add POSIX sh regression test for no-push-to-main
  test/lefthook_posix_sh_test.rb
Due: spelling, ruby-syntax

fix: run pre-commit's no-push-to-main guard under POSIX sh
  lefthook.yml
Due: none

fix: run pre-push's no-push-to-main guard under POSIX sh
  lefthook.yml
Due: none

Add the review policy template and copy it into new-repo-setup
  claude/.claude/skills/new-repo-setup/SKILL.md
  claude/.claude/skills/new-repo-setup/references/REVIEW.md
  project-dictionary.txt
Due: spelling

Add the pre-push review-freshness check
  git/.config/git/worktree-tools/review-report-fresh
  project-dictionary.txt
  test/review_report_check_test.rb
Due: spelling, ruby-syntax

Rewrite the review skill with two backends
  claude/.claude/skills/review/SKILL.md
  claude/.claude/skills/review/agents/openai.yaml
Due: spelling

Add the reviewer agent
  claude/.claude/agents/reviewer.md
Due: spelling

Generate Codex agent definitions from the Claude ones
  bin/generate-codex-agents
  codex/.codex/agents/reviewer.toml
  codex/.codex/agents/zubat.toml
  test/codex_agent_generation_test.rb
Due: spelling, ruby-syntax

Wire the review-freshness check into pre-push
  lefthook.yml
Due: none

Add the missing spinnerVerbs vocabulary to the project dictionary
  project-dictionary.txt
Due: none

Point the playbook and skills index at the review habit
  SKILLS-INDEX.md
  agents.md
Due: spelling

Point the pane reviewer at the change folder instead of .git/herdr
  herdr/.config/herdr/scripts/start-review.sh
  test/herdr_worker_scripts_test.rb
Due: spelling, ruby-syntax

Add the test-file guard hook for bugfixes
  claude/.claude/hooks/test-guard.rb
  claude/.claude/settings.json
  test/test_guard_test.rb
Due: spelling, ruby-syntax

Translate an agent's per-path hook into a Codex instruction
  bin/generate-codex-agents
  test/codex_agent_generation_test.rb
Due: spelling, ruby-syntax

Fix the implementer agent's malformed hooks frontmatter
  claude/.claude/agents/implementer.md
Due: spelling

Generate the missing test-writer and implementer Codex agents
  codex/.codex/agents/implementer.toml
  codex/.codex/agents/test-writer.toml
Due: none
