Repository eirvandelden/dotfiles: changes, and which lefthook commands are due for each by the changed paths.
All: csslint, erb_lint, eslint, spelling, rubocop, ruby-syntax

csslint:
  tags: sass css linter
  run: yarn csslint {staged_files}

erb_lint:
  tags: erb style
  run: erb_lint {staged_files}

eslint:
  tags: javascript linter
  run: yarn eslint {staged_files}

spelling:
  run: cspell {staged_files}

rubocop:
  tags: ruby linter
  run: rubocop -a {staged_files} --parallel
  stage_fixed: true

ruby-syntax:
  tags:
  - ruby
  - syntax
  run: ruby -c "{staged_files}"
  fail_text: Hey there, it looks like your Ruby syntax is incorrect. Take a break if you're tired!

feat(nvim): avante via claude/codex CLI agents (ACP)
  neovim/.config/nvim/lua/plugins/ai.lua
  packages.conf
Due: none

fix(nvim): actually hide unwanted precognition hints
  neovim/.config/nvim/lua/plugins/precognition.lua
Due: none

Fix nvim config issues: snacks.nvim integration (#68)
  neovim/.config/nvim/lazy-lock.json
  neovim/.config/nvim/lua/config/keymaps.lua
  neovim/.config/nvim/lua/plugins/ai.lua
  neovim/.config/nvim/lua/plugins/conform.lua
  neovim/.config/nvim/lua/plugins/fzf-lua.lua
  neovim/.config/nvim/lua/plugins/ghostty.lua
  neovim/.config/nvim/lua/plugins/notify.lua
  neovim/.config/nvim/lua/plugins/precognition.lua
  neovim/.config/nvim/lua/plugins/snacks.lua
  neovim/.config/nvim/lua/plugins/todo-comments.lua
  packages.conf
Due: none

Aprove more fizzy tools
  1password/.config/1Password/telemetry-enabled
  codex/.codex/config.toml
  git/.config/git/hooks/post-checkout
  git/.config/git/hooks/pre-push
  neovim/.config/nvim/lazy-lock.json
Due: none

Add translation-verify and PR-template rules to agents.md and skills
  agents.md
  claude/.claude/skills/rails-ui/SKILL.md
Due: spelling

Add translation-verify and PR-template rules to agents.md and skills (#69)
  agents.md
  claude/.claude/skills/rails-ui/SKILL.md
Due: spelling

Let the work dotfiles install skills alongside the personal ones
  install/tasks/50_stow_all.sh
  install/utils.sh
  packages.conf
Due: none

Split YARD method-doc rule by project scope
  claude/.claude/skills/rails-architecture/SKILL.md
  claude/.claude/skills/rails-architecture/references/examples.md
Due: spelling

Split YARD method-doc rule by project scope (#70)
  claude/.claude/skills/rails-architecture/SKILL.md
  claude/.claude/skills/rails-architecture/references/examples.md
Due: spelling

Let the work dotfiles install skills alongside the personal ones (#71)
  install/tasks/50_stow_all.sh
  install/utils.sh
  packages.conf
Due: none

feat(claude): add consent guard pre-tool hook
  claude/.claude/hooks/consent-guard.sh
  claude/.claude/settings.json
  project-dictionary.txt
  test/consent_guard_test.rb
Due: spelling, ruby-syntax

feat(claude): add sync, repo-setup, plan skills
  claude/.claude/skills/new-repo-setup/SKILL.md
  claude/.claude/skills/plan-handoff/SKILL.md
  claude/.claude/skills/sync/SKILL.md
Due: spelling

docs: bake steering patterns into playbook
  agents.md
  claude/.claude/skills/code-review/SKILL.md
  claude/.claude/skills/rails-testing/SKILL.md
  claude/.claude/skills/rails-ui/SKILL.md
  claude/.claude/skills/rails-ui/references/interaction-design.md
Due: spelling

Fix consent guard bypasses found in review
  claude/.claude/hooks/consent-guard.sh
  test/consent_guard_test.rb
Due: spelling, ruby-syntax

Fix default lefthook pull hooks, deliver globally with no per-repo files
  claude/.claude/skills/dotfiles-maintenance/SKILL.md
  claude/.claude/skills/new-repo-setup/SKILL.md
  git/.config/git/hooks/commit-msg
  git/.config/git/hooks/post-checkout
  git/.config/git/hooks/post-merge
  git/.config/git/hooks/post-rewrite
  git/.config/git/hooks/pre-commit
  git/.config/git/hooks/pre-push
  git/.config/git/hooks/prepare-commit-msg
  git/.config/git/ignore.global
  lefthook.yml
  lefthook/.config/lefthook/lefthook-local.yml
  packages.conf
  project-dictionary.txt
  test/lefthook_pull_hooks_test.rb
Due: spelling, ruby-syntax

Fix default lefthook pull hooks, deliver globally with no per-repo files (#73)
  claude/.claude/skills/dotfiles-maintenance/SKILL.md
  claude/.claude/skills/new-repo-setup/SKILL.md
  git/.config/git/hooks/commit-msg
  git/.config/git/hooks/post-checkout
  git/.config/git/hooks/post-merge
  git/.config/git/hooks/post-rewrite
  git/.config/git/hooks/pre-commit
  git/.config/git/hooks/pre-push
  git/.config/git/hooks/prepare-commit-msg
  git/.config/git/ignore.global
  lefthook.yml
  lefthook/.config/lefthook/lefthook-local.yml
  packages.conf
  project-dictionary.txt
  test/lefthook_pull_hooks_test.rb
Due: spelling, ruby-syntax

fix(nvim): disable precognition targeted-motion hints
  neovim/.config/nvim/lua/plugins/precognition.lua
Due: none

fix(nvim): disable precognition targeted-motion hints (#74)
  neovim/.config/nvim/lua/plugins/precognition.lua
Due: none

docs: design TREK MCP machine auth
  docs/superpowers/specs/2026-08-17-trek-mcp-machine-client-design.md
Due: spelling

docs: plan TREK MCP machine auth
  docs/superpowers/plans/2026-08-17-trek-mcp-machine-client.md
Due: spelling

feat: configure TREK MCP machine auth
  codex/.codex/config.toml
  secrets/.config/secrets/1password.env
  test/trek_mcp_test.rb
  zsh/.config/zsh/aliases.zsh
  zsh/.config/zsh/functions/trek.zsh
Due: spelling, ruby-syntax

feat: configure TREK MCP machine auth
  docs/superpowers/plans/2026-08-17-trek-mcp-machine-client.md
  packages.conf
  test/trek_mcp_test.rb
  zsh/.config/zsh/aliases.zsh
  zsh/.config/zsh/functions/trek.zsh
Due: spelling, ruby-syntax

Switch superpowers plugin to Ruby-focused fork
  claude/.claude/settings.json
  codex/.codex/config.toml
Due: none

Switch superpowers plugin to Ruby-focused fork (#76)
  claude/.claude/settings.json
  codex/.codex/config.toml
Due: none

Loosen agent commit/push consent rules
  agents.md
Due: spelling

Enable agile plugin by default
  claude/.claude/settings.json
Due: none

Enable agile plugin by default (#78)
  claude/.claude/settings.json
Due: none

feat(ghostty,herdr): install herdr, use solunized theme in ghostty and herdr
  ghostty/.config/ghostty/config
  ghostty/.config/ghostty/themes/solunized-dark
  ghostty/.config/ghostty/themes/solunized-light
  herdr/.config/herdr/config.toml
  packages.conf
Due: none

feat(zsh): add spin to launch an isolated worktree with claude
  git/.config/git/ignore.global
  zsh/.config/zsh/functions/worktree.zsh
Due: none

fix(worktree-tools): give every worktree one puma-dev URL, fix stale docs
  README.md
  git/.config/git/worktree-tools/README.md
  git/.config/git/worktree-tools/lib/config.rb
  git/.config/git/worktree-tools/test/config_test.rb
  git/.config/git/worktree-tools/test/remove_test.rb
Due: spelling, ruby-syntax

Drop Conductor for Ghostty + herdr (#79)
  README.md
  ghostty/.config/ghostty/config
  ghostty/.config/ghostty/themes/solunized-dark
  ghostty/.config/ghostty/themes/solunized-light
  git/.config/git/ignore.global
  git/.config/git/worktree-tools/README.md
  git/.config/git/worktree-tools/lib/config.rb
  git/.config/git/worktree-tools/test/config_test.rb
  git/.config/git/worktree-tools/test/remove_test.rb
  herdr/.config/herdr/config.toml
  packages.conf
  zsh/.config/zsh/functions/worktree.zsh
Due: spelling, ruby-syntax

fix(herdr): use absolute sound paths, herdr does not expand ~
  herdr/.config/herdr/config.toml
Due: none

feat(claude): pin sonnet as default model, add herdr session hook
  claude/.claude/settings.json
Due: none

Path conditions:
  csslint: any of: *.{css,scss}
  erb_lint: any of: *.{erb}
  eslint: any of: *.{js,ts,jsx,tsx}
  spelling: any of: *.{js,rb,md}
  rubocop: any of: *.{rb}, but not: application.rb|routes.rb|schema.rb
  ruby-syntax: any of: *.rb
