Repository eirvandelden/dotfiles: changes, and which lefthook commands are due for each by the changed paths.
All: csslint, erb_lint, eslint, spelling, rubocop, ruby-syntax

csslint:
  tags: sass css linter
  run: yarn csslint {staged_files}

erb_lint:
  tags: erb style
  run: erb_lint {staged_files}

eslint:
  tags: javascript linter
  run: yarn eslint {staged_files}

spelling:
  run: cspell {staged_files}

rubocop:
  tags: ruby linter
  run: rubocop -a {staged_files} --parallel
  stage_fixed: true

ruby-syntax:
  tags:
  - ruby
  - syntax
  run: ruby -c "{staged_files}"
  fail_text: Hey there, it looks like your Ruby syntax is incorrect. Take a break if you're tired!

Record which worktree an agent pane last used
  git/.config/git/worktree-tools/lib/agent_worktree.rb
Due: spelling, ruby-syntax

Tests for herdr-viewer-opens-at-agent-worktree
  test/agent_worktree_test.rb
  test/worktree_create_test.rb
  test/worktree_viewer_test.rb
Due: spelling, ruby-syntax

Add worktree-viewer launcher that opens the file viewer at the agent's worktree
  git/.config/git/worktree-tools/worktree-viewer
Due: none

worktree-create records the worktree for the calling herdr pane
  git/.config/git/worktree-tools/worktree-create
Due: none

Bind prefix+f and prefix+shift+f to worktree-viewer
  herdr/.config/herdr/config.toml
Due: none

Document that the file viewer opens at the agent's worktree
  herdr/.config/herdr/README.md
Due: spelling

Review round 1 for herdr-viewer-opens-at-agent-worktree
  docs/changes/herdr-viewer-opens-at-agent-worktree/review.md
Due: spelling

Feed the tab hand-over test the token the plugin prints
  docs/changes/herdr-viewer-opens-at-agent-worktree/review.md
  test/worktree_viewer_test.rb
Due: spelling, ruby-syntax

Open the split to the right on an unexpected direction answer
  docs/changes/herdr-viewer-opens-at-agent-worktree/review.md
  git/.config/git/worktree-tools/worktree-viewer
  test/worktree_viewer_test.rb
Due: spelling, ruby-syntax

Call the herdr named in HERDR_BIN_PATH and warn when herdr is missing
  docs/changes/herdr-viewer-opens-at-agent-worktree/review.md
  git/.config/git/worktree-tools/worktree-viewer
  test/worktree_viewer_test.rb
Due: spelling, ruby-syntax

Add intent, spec and plan for herdr-viewer-opens-at-agent-worktree
  docs/changes/herdr-viewer-opens-at-agent-worktree/intent.md
  docs/changes/herdr-viewer-opens-at-agent-worktree/plan.md
  docs/changes/herdr-viewer-opens-at-agent-worktree/review.md
  docs/changes/herdr-viewer-opens-at-agent-worktree/spec.md
Due: spelling

Review round 2 for herdr-viewer-opens-at-agent-worktree
  docs/changes/herdr-viewer-opens-at-agent-worktree/review.md
Due: spelling

Record the real herdr check in the plan
  docs/changes/herdr-viewer-opens-at-agent-worktree/plan.md
  docs/changes/herdr-viewer-opens-at-agent-worktree/review.md
Due: spelling

Let worktree-create find herdr the way the launcher does
  docs/changes/herdr-viewer-opens-at-agent-worktree/review.md
  git/.config/git/worktree-tools/lib/common.rb
  git/.config/git/worktree-tools/worktree-create
  git/.config/git/worktree-tools/worktree-viewer
  test/worktree_create_test.rb
Due: spelling, ruby-syntax

Run the no-herdr test with a PATH that holds only ruby
  docs/changes/herdr-viewer-opens-at-agent-worktree/review.md
  test/worktree_viewer_test.rb
Due: spelling, ruby-syntax

Put the W paragraph after the cases it covers in the herdr README
  docs/changes/herdr-viewer-opens-at-agent-worktree/review.md
  herdr/.config/herdr/README.md
Due: spelling

Review round 3 for herdr-viewer-opens-at-agent-worktree
  docs/changes/herdr-viewer-opens-at-agent-worktree/review.md
Due: spelling

Name the two tools that read HERDR_BIN_PATH
  docs/changes/herdr-viewer-opens-at-agent-worktree/review.md
  git/.config/git/worktree-tools/lib/common.rb
Due: spelling, ruby-syntax

Indent the HERDR_BIN_PATH test inside its class
  docs/changes/herdr-viewer-opens-at-agent-worktree/review.md
  test/worktree_create_test.rb
Due: spelling, ruby-syntax

Review round 4 for herdr-viewer-opens-at-agent-worktree
  docs/changes/herdr-viewer-opens-at-agent-worktree/review.md
Due: spelling

Escape the viewer program path in the pane command
  docs/changes/herdr-viewer-opens-at-agent-worktree/review.md
  git/.config/git/worktree-tools/worktree-viewer
  test/worktree_viewer_test.rb
Due: spelling, ruby-syntax

Record the rebase onto origin/main in the review
  docs/changes/herdr-viewer-opens-at-agent-worktree/review.md
Due: spelling

Describe when the viewer keys hand over to the plugin
  docs/changes/herdr-viewer-opens-at-agent-worktree/review.md
  herdr/.config/herdr/config.toml
Due: spelling

Say created or reused in the prefix+f comment
  docs/changes/herdr-viewer-opens-at-agent-worktree/review.md
  herdr/.config/herdr/config.toml
Due: spelling

Review round 5 for herdr-viewer-opens-at-agent-worktree
  docs/changes/herdr-viewer-opens-at-agent-worktree/review.md
Due: spelling

Record the commit message trailer fix in the review
  docs/changes/herdr-viewer-opens-at-agent-worktree/review.md
Due: spelling

Review round 6 for herdr-viewer-opens-at-agent-worktree
  docs/changes/herdr-viewer-opens-at-agent-worktree/review.md
Due: spelling

Ignore a worktree record that is not an object with a path
  docs/changes/herdr-viewer-opens-at-agent-worktree/review.md
  git/.config/git/worktree-tools/lib/agent_worktree.rb
  test/agent_worktree_test.rb
Due: spelling, ruby-syntax

Review round 7 for herdr-viewer-opens-at-agent-worktree
  docs/changes/herdr-viewer-opens-at-agent-worktree/review.md
Due: spelling

Ignore a worktree record the launcher cannot read
  docs/changes/herdr-viewer-opens-at-agent-worktree/review.md
  git/.config/git/worktree-tools/lib/agent_worktree.rb
  test/agent_worktree_test.rb
Due: spelling, ruby-syntax

Keep worktree-create working when its record cannot be written
  docs/changes/herdr-viewer-opens-at-agent-worktree/review.md
  git/.config/git/worktree-tools/worktree-create
  test/worktree_create_test.rb
Due: spelling, ruby-syntax

Review round 8 for herdr-viewer-opens-at-agent-worktree
  docs/changes/herdr-viewer-opens-at-agent-worktree/review.md
Due: spelling

Close the viewer pane when herdr cannot prepare it
  docs/changes/herdr-viewer-opens-at-agent-worktree/review.md
  git/.config/git/worktree-tools/worktree-viewer
  test/worktree_viewer_test.rb
Due: spelling, ruby-syntax

Review round 9 for herdr-viewer-opens-at-agent-worktree
  docs/changes/herdr-viewer-opens-at-agent-worktree/review.md
Due: spelling

Review round 10 for herdr-viewer-opens-at-agent-worktree
  docs/changes/herdr-viewer-opens-at-agent-worktree/review.md
Due: spelling

Indent the pane-preparation tests inside their class
  docs/changes/herdr-viewer-opens-at-agent-worktree/review.md
  test/worktree_viewer_test.rb
Due: spelling, ruby-syntax

Say the viewer pane was closed only when herdr closed it
  docs/changes/herdr-viewer-opens-at-agent-worktree/review.md
  git/.config/git/worktree-tools/worktree-viewer
  test/worktree_viewer_test.rb
Due: spelling, ruby-syntax

Review round 11 for herdr-viewer-opens-at-agent-worktree
  docs/changes/herdr-viewer-opens-at-agent-worktree/review.md
Due: spelling

Remove change artifacts for herdr-viewer-opens-at-agent-worktree
  docs/changes/herdr-viewer-opens-at-agent-worktree/intent.md
  docs/changes/herdr-viewer-opens-at-agent-worktree/plan.md
  docs/changes/herdr-viewer-opens-at-agent-worktree/review.md
  docs/changes/herdr-viewer-opens-at-agent-worktree/spec.md
Due: spelling

docs: intent for hotwire-native-agent-guidance
  docs/changes/hotwire-native-agent-guidance/intent.md
Due: spelling

Path conditions:
  csslint: any of: *.{css,scss}
  erb_lint: any of: *.{erb}
  eslint: any of: *.{js,ts,jsx,tsx}
  spelling: any of: *.{js,rb,md}
  rubocop: any of: *.{rb}, but not: application.rb|routes.rb|schema.rb
  ruby-syntax: any of: *.rb
