Repository eirvandelden/dotfiles: changes, and which lefthook commands are due for each by the changed paths.
All: csslint, erb_lint, eslint, spelling, rubocop, ruby-syntax

Path conditions:
  csslint: any of: *.{css,scss}
  erb_lint: any of: *.{erb}
  eslint: any of: *.{js,ts,jsx,tsx}
  spelling: any of: *.{js,rb,md}
  rubocop: any of: *.{rb}, but not: application.rb|routes.rb|schema.rb
  ruby-syntax: any of: *.rb

Fix Zed calling solargraph/rubocop in wrong ruby version
  zed/.config/zed/settings.json
  zsh/.config/zsh/.zshenv
Due: none

Update to stylelint instead of CSSLint
  lefthook.yml
Due: none

Move Zed to macos only part
  packages.conf
Due: none

And add Zed to aur packages
  packages.conf
Due: none

Add support for installing brew taps
  install/tasks/20_install_brew_packages.sh
  install/utils.sh
  packages.conf
Due: none

Install ghostty via AUR/brew depending on platform
  packages.conf
Due: none

Strengthen anti-service-object guidance in agents.md
  agents.md
Due: spelling

Add documentation, TDD, and linting guidelines to agents.md
  agents.md
Due: spelling

Add concise output requirement for all AI responses
  agents.md
Due: spelling

Add documentation, TDD, and linting guidelines (#3)
  agents.md
Due: spelling

Set default folder to ~/Developer
  zsh/.config/zsh/.zshrc
Due: none

Fix rv for non-interactive shells in GUI applications
  zsh/.config/zsh/.zshenv
  zsh/.config/zsh/environment.zsh
Due: none

Add semantic HTML, classless HTML, and internationalization guidelines to agents.md
  agents.md
Due: spelling

Add PR workflow guidelines to prevent accidental upstream PRs
  agents.md
Due: spelling

Add semantic HTML and i18n guidelines (#5)
  agents.md
Due: spelling

Fix rv for non-interactive shells in GUI applications (#4)
  zsh/.config/zsh/.zshenv
  zsh/.config/zsh/environment.zsh
Due: none

Add generic git worktree setup solution
  README.md
  git/.config/git/hooks/post-checkout
  git/.config/git/worktree-tools/README.md
  git/.config/git/worktree-tools/bin/conductor-init
  git/.config/git/worktree-tools/lib/common.rb
  git/.config/git/worktree-tools/lib/config.rb
  git/.config/git/worktree-tools/lib/detect.rb
  git/.config/git/worktree-tools/lib/puma_dev.rb
  git/.config/git/worktree-tools/lib/symlinker.rb
  git/.config/git/worktree-tools/templates/bin-conductor-setup.template
  git/.config/git/worktree-tools/templates/conductor.json.template
  git/.config/git/worktree-tools/templates/script-server.template
  git/.config/git/worktree-tools/worktree-remove
  git/.config/git/worktree-tools/worktree-setup
  git/.config/git/worktree-tools/worktree-setup-all
  project-dictionary.txt
Due: spelling, ruby-syntax

Fix security vulnerabilities and puma-dev naming bug
  git/.config/git/worktree-tools/lib/config.rb
  git/.config/git/worktree-tools/lib/symlinker.rb
Due: spelling, ruby-syntax

Fix additional command injection vulnerabilities
  git/.config/git/worktree-tools/lib/common.rb
  git/.config/git/worktree-tools/worktree-setup-all
Due: spelling, ruby-syntax

Respect passed directory in new shell windows
  zsh/.config/zsh/.zshrc
Due: none

Respect passed directory in new shell windows (#7)
  zsh/.config/zsh/.zshrc
Due: none

Create CLAUDE.md symlink to agents.md
  CLAUDE.md
Due: spelling

Create CLAUDE.md symlink to agents.md (#8)
  CLAUDE.md
Due: spelling

Add Conductor workspace scripts with Rails database isolation
  conductor/.config/conductor/scripts/README.md
  conductor/.config/conductor/scripts/archive
  conductor/.config/conductor/scripts/run
  conductor/.config/conductor/scripts/setup
  git/.config/git/worktree-tools/README.md
  git/.config/git/worktree-tools/bin/conductor-init
  git/.config/git/worktree-tools/lib/file_cleaner.rb
  git/.config/git/worktree-tools/lib/symlinker.rb
  git/.config/git/worktree-tools/templates/bin-conductor-setup.template
  git/.config/git/worktree-tools/templates/conductor.json.template
Due: spelling, ruby-syntax

Fix rv Ruby PATH by removing duplicate brew shellenv call
  zsh/.config/zsh/environment.zsh
Due: none

Fix critical bugs and improve code quality
  conductor/.config/conductor/scripts/setup
  git/.config/git/hooks/post-checkout
  git/.config/git/worktree-tools/lib/common.rb
  git/.config/git/worktree-tools/lib/file_cleaner.rb
  git/.config/git/worktree-tools/lib/symlinker.rb
  git/.config/git/worktree-tools/worktree-setup-all
Due: spelling, ruby-syntax

Add generic git worktree setup solution (#6)
  README.md
  conductor/.config/conductor/scripts/README.md
  conductor/.config/conductor/scripts/archive
  conductor/.config/conductor/scripts/run
  conductor/.config/conductor/scripts/setup
  git/.config/git/hooks/post-checkout
  git/.config/git/worktree-tools/README.md
  git/.config/git/worktree-tools/lib/common.rb
  git/.config/git/worktree-tools/lib/config.rb
  git/.config/git/worktree-tools/lib/detect.rb
  git/.config/git/worktree-tools/lib/file_cleaner.rb
  git/.config/git/worktree-tools/lib/puma_dev.rb
  git/.config/git/worktree-tools/lib/symlinker.rb
  git/.config/git/worktree-tools/worktree-remove
  git/.config/git/worktree-tools/worktree-setup
  git/.config/git/worktree-tools/worktree-setup-all
  project-dictionary.txt
Due: spelling, ruby-syntax

Fix rv Ruby PATH by removing duplicate brew shellenv call (#9)
  zsh/.config/zsh/environment.zsh
Due: none

Update Ruby management documentation to reflect rv usage
  agents.md
Due: spelling

Update Ruby management documentation to reflect rv usage (#10)
  agents.md
Due: spelling

Update agents
  agents.md
  caddy/.config/caddy/Caddyfile
  ghostty/.config/ghostty/config
  git/.config/git/config
  git/.config/git/hooks/commit-msg
  git/.config/git/hooks/migrations
  git/.config/git/hooks/post-merge
  git/.config/git/hooks/pre-commit
  git/.config/git/hooks/pre-push
  git/.config/git/hooks/prepare-commit-msg
  lefthook.yml
  ruby/.gemrc
  ssh/.config/ssh/config
  zed/.config/zed/keymap.json
  zed/.config/zed/settings.json
Due: spelling

Fix brew PATH initialization order in zsh config
  zsh/.config/zsh/.zshenv
  zsh/.config/zsh/aliases.zsh
  zsh/.config/zsh/environment.zsh
Due: none

Fix brew PATH initialization order in zsh config (#11)
  zsh/.config/zsh/.zshenv
  zsh/.config/zsh/aliases.zsh
  zsh/.config/zsh/environment.zsh
Due: none

Add brew via default file
  zsh/.config/zsh/.zprofile
Due: none

Add default rv init
  zsh/.zshrc
Due: none

Fix rv initialization in login shells
  zsh/.config/zsh/.zprofile
  zsh/.zshrc
Due: none

Use HOMEBREW_PREFIX variable for rv path in .zprofile
  zsh/.config/zsh/.zprofile
Due: none

Fix rv initialization in login shells (#12)
  zsh/.config/zsh/.zprofile
  zsh/.zshrc
Due: none

Fix rv initialization in non-login shells (e.g., Ghostty)
  zsh/.zshenv
Due: none
