Repository eirvandelden/dotfiles: changes, and which lefthook commands are due for each by the changed paths.
All: csslint, erb_lint, eslint, spelling, rubocop, ruby-syntax

Path conditions:
  csslint: any of: *.{css,scss}
  erb_lint: any of: *.{erb}
  eslint: any of: *.{js,ts,jsx,tsx}
  spelling: any of: *.{js,rb,md}
  rubocop: any of: *.{rb}, but not: application.rb|routes.rb|schema.rb
  ruby-syntax: any of: *.rb

Only append PR template categories that were actually filled
  claude/.claude/skills/finish/scripts/fill-pr-template
  test/fill_pr_template_test.rb
Due: spelling, ruby-syntax

Match reviewer.md's close-mark format to review/SKILL.md
  claude/.claude/agents/reviewer.md
  codex/.codex/agents/reviewer.toml
Due: spelling

Close Round 4 findings in review.md
  docs/changes/ai-native-workflow-phase-4-finish/review.md
Due: spelling

docs: intent, spec and plan for a herdr pane per worktree
  docs/changes/herdr-worktree-panes/intent.md
  docs/changes/herdr-worktree-panes/plan.md
  docs/changes/herdr-worktree-panes/spec.md
  project-dictionary.txt
Due: spelling

Add worktree-create to sweep and create worktrees in Ruby
  git/.config/git/worktree-tools/worktree-create
  test/worktree_create_test.rb
Due: spelling, ruby-syntax

Add worktree-pane to open/close the herdr pane rooted in a worktree
  git/.config/git/worktree-tools/worktree-pane
  test/worktree_pane_test.rb
Due: spelling, ruby-syntax

hand-off-plan.sh: create the worktree first when a name is given
  herdr/.config/herdr/scripts/hand-off-plan.sh
  test/herdr_worker_scripts_test.rb
Due: spelling, ruby-syntax

Review round 1 for herdr-worktree-panes
  docs/changes/herdr-worktree-panes/review.md
Due: spelling

Point worktree-first and handoff docs at the new scripts
  claude/.claude/WORKTREES.md
  claude/.claude/skills/implement/SKILL.md
  claude/.claude/skills/worktree-first/SKILL.md
  git/.config/git/worktree-tools/README.md
Due: spelling

worktree-create: fail loudly, prune stale worktrees, resolve the repo root
  git/.config/git/worktree-tools/worktree-create
  test/worktree_create_test.rb
Due: spelling, ruby-syntax

worktree-pane: name the herdr error, scope panes to the workspace
  git/.config/git/worktree-tools/worktree-pane
  test/worktree_pane_test.rb
Due: spelling, ruby-syntax

worktree-first: stop on a failed worktree-create, show both branch-naming cases
  claude/.claude/skills/worktree-first/SKILL.md
Due: spelling

hand-off-plan.sh: use worktree-pane for the worker's pane, run scripts directly
  docs/changes/herdr-worktree-panes/plan.md
  git/.config/git/worktree-tools/README.md
  herdr/.config/herdr/scripts/hand-off-plan.sh
  test/herdr_worker_scripts_test.rb
Due: spelling, ruby-syntax

Close review round 1 findings on herdr-worktree-panes
  docs/changes/herdr-worktree-panes/review.md
Due: spelling

Review round 2 for herdr-worktree-panes
  docs/changes/herdr-worktree-panes/review.md
Due: spelling

Fix worktree-pane to detect agents by the agent field, not agent_status
  docs/changes/herdr-worktree-panes/spec.md
  git/.config/git/worktree-tools/worktree-pane
  test/worktree_pane_test.rb
Due: spelling, ruby-syntax

Fix worktree-create's detached-HEAD, missing-gh and silent-removal bugs
  claude/.claude/skills/worktree-first/SKILL.md
  git/.config/git/worktree-tools/worktree-create
  test/worktree_create_test.rb
Due: spelling, ruby-syntax

Close Round 2 review findings on herdr-worktree-panes
  docs/changes/herdr-worktree-panes/review.md
Due: spelling

Review round 3 for herdr-worktree-panes
  docs/changes/herdr-worktree-panes/review.md
Due: spelling

fix(worktree-create): pin the repo root to the main checkout from any worktree
  docs/changes/herdr-worktree-panes/plan.md
  git/.config/git/worktree-tools/worktree-create
  test/worktree_create_test.rb
Due: spelling, ruby-syntax

fix(worktree-create): reuse a worktree the intent skill already created
  docs/changes/herdr-worktree-panes/plan.md
  docs/changes/herdr-worktree-panes/spec.md
  git/.config/git/worktree-tools/worktree-create
  test/herdr_worker_scripts_test.rb
  test/worktree_create_test.rb
Due: spelling, ruby-syntax

fix(worktree-tools): drop the rv shebang so hand-off-plan.sh works in CI
  docs/changes/herdr-worktree-panes/plan.md
  git/.config/git/worktree-tools/worktree-create
  git/.config/git/worktree-tools/worktree-pane
  test/worktree_create_test.rb
  test/worktree_pane_test.rb
Due: spelling, ruby-syntax

docs(implement): pass the change's branch name to hand-off-plan.sh, not its slug
  claude/.claude/skills/implement/SKILL.md
Due: spelling

docs(herdr-worktree-panes): fix a stale Proof test name in plan.md
  docs/changes/herdr-worktree-panes/plan.md
Due: spelling

Review round 4 for herdr-worktree-panes
  docs/changes/herdr-worktree-panes/review.md
Due: spelling

fix(worktree-pane): refuse a path outside any git repository cleanly
  git/.config/git/worktree-tools/worktree-pane
  test/worktree_pane_test.rb
Due: spelling, ruby-syntax

docs(herdr-worktree-panes): close every Round 3 review finding
  docs/changes/herdr-worktree-panes/review.md
Due: spelling

fix(worktree-create): spare the reused worktree from the sweep
  git/.config/git/worktree-tools/worktree-create
  test/worktree_create_test.rb
Due: spelling, ruby-syntax

docs(herdr-worktree-panes): drop the fix/foo claim, fix spec/plan drift
  claude/.claude/skills/implement/SKILL.md
  docs/changes/herdr-worktree-panes/plan.md
  docs/changes/herdr-worktree-panes/spec.md
Due: spelling

fix(worktree-pane): reject an unknown command before touching the path
  git/.config/git/worktree-tools/worktree-pane
  test/worktree_pane_test.rb
Due: spelling, ruby-syntax

fix(worktree-tools): find the main checkout via worktree list, not git dir
  git/.config/git/worktree-tools/worktree-create
  herdr/.config/herdr/scripts/hand-off-plan.sh
Due: none

Review round 5 for herdr-worktree-panes
  docs/changes/herdr-worktree-panes/review.md
Due: spelling

docs(herdr-worktree-panes): close every Round 4 review finding
  docs/changes/herdr-worktree-panes/review.md
Due: spelling

Close Round 5 findings in review.md
  docs/changes/herdr-worktree-panes/review.md
Due: spelling

docs(herdr-worktree-panes): list all three worktree-pane commands in plan.md
  docs/changes/herdr-worktree-panes/plan.md
Due: spelling

fix(worktree-tools): fall back to --show-toplevel inside a submodule
  git/.config/git/worktree-tools/worktree-create
  herdr/.config/herdr/scripts/hand-off-plan.sh
  test/herdr_worker_scripts_test.rb
  test/worktree_create_test.rb
Due: spelling, ruby-syntax

docs(implement): stop hardwrapping SKILL.md prose
  claude/.claude/skills/implement/SKILL.md
Due: spelling

Review round 6 for herdr-worktree-panes
  docs/changes/herdr-worktree-panes/review.md
Due: spelling

fix(worktree-tools): resolve the submodule root via core.worktree
  git/.config/git/worktree-tools/worktree-create
  herdr/.config/herdr/scripts/hand-off-plan.sh
  test/herdr_worker_scripts_test.rb
  test/worktree_create_test.rb
Due: spelling, ruby-syntax

Close Round 6 findings in review.md
  docs/changes/herdr-worktree-panes/review.md
  project-dictionary.txt
Due: spelling
