Repository eirvandelden/dotfiles: changes, and which lefthook commands are due for each by the changed paths.
All: csslint, erb_lint, eslint, spelling, rubocop, ruby-syntax

Path conditions:
  csslint: any of: *.{css,scss}
  erb_lint: any of: *.{erb}
  eslint: any of: *.{js,ts,jsx,tsx}
  spelling: any of: *.{js,rb,md}
  rubocop: any of: *.{rb}, but not: application.rb|routes.rb|schema.rb
  ruby-syntax: any of: *.rb

revert(zsh): keep caddy aliases double-quoted
  zsh/.config/zsh/aliases.zsh
Due: none

fix(caddy): move work-internal hostnames out of public Caddyfile
  caddy/.config/caddy/Caddyfile
Due: none

feat(caddy,conductor): add ai.*.localhost routing and simplify AI workspace scripts
  caddy/.config/caddy/Caddyfile
  conductor/.config/conductor/scripts/archive
  conductor/.config/conductor/scripts/run
  conductor/.config/conductor/scripts/setup
  conductor/.config/conductor/scripts/test/scripts_test.rb
Due: spelling, ruby-syntax

docs(conductor): update scripts README for simplified AI workspace behaviour
  conductor/.config/conductor/scripts/README.md
Due: spelling

Remove portless from default local routing
  caddy/.config/caddy/Caddyfile
  conductor/.config/conductor/scripts/README.md
  git/.config/git/worktree-tools/README.md
  launchd/Library/LaunchAgents/sh.portless.proxy.plist
  packages.conf
Due: spelling

feat(caddy,conductor): stable AI URLs with puma-dev personal defaults (#48)
  caddy/.config/caddy/Caddyfile
  conductor/.config/conductor/scripts/README.md
  conductor/.config/conductor/scripts/archive
  conductor/.config/conductor/scripts/run
  conductor/.config/conductor/scripts/setup
  conductor/.config/conductor/scripts/test/scripts_test.rb
  git/.config/git/worktree-tools/README.md
  launchd/Library/LaunchAgents/sh.portless.proxy.plist
  packages.conf
Due: spelling, ruby-syntax

Markdownlint :)
  agents.md
Due: spelling

Expect the default ruby to be the latest 4.x
  agents.md
Due: spelling

Add to global gitignore
  git/.config/git/ignore.global
Due: none

Update Zed settings
  zed/.config/zed/settings.json
Due: none

Ran nix Installer
  zsh/.config/zsh/environment.zsh
Due: none

Fix pre-push hooks not finding rv/chnode-managed binaries
  lefthook-local.yml
Due: none

Fix pre-push hooks not finding rv/chnode-managed binaries (#49)
  lefthook-local.yml
Due: none

Update localhost dev domains
  caddy/.config/caddy/Caddyfile
Due: none

docs: clarify SteamOS prerequisites and add update-survival note in Phase 0
  docs/nix-migration/phase-0-foundation.md
Due: spelling

Add test data selection discipline to §5.3
  agents.md
Due: spelling

Add guard clause style preference to agents.md
  agents.md
Due: spelling

Add guard clause style preference to agents.md (#51)
  agents.md
Due: spelling

Updates
  git/.config/git/hooks/post-checkout
  github/.config/gh/config.yml
  ssh/.ssh/config
  zed/.config/zed/settings.json
Due: none

Add another default ruby gem, uprgade to newer ruby
  packages.conf
  ruby/.ruby-version
Due: none

Bring Codex and Claude settings under stow management
  claude/.claude/settings.json
  codex/.codex/AGENTS.md
  codex/.codex/config.toml
  packages.conf
Due: spelling

update git hooks
  git/.config/git/hooks/post-merge
  git/.config/git/hooks/pre-commit
  git/.config/git/hooks/pre-push
Due: none

Add rtk for Claude Code / Codex token savings
  claude/.claude/CLAUDE.md
  claude/.claude/RTK.md
  claude/.claude/settings.json
  codex/.codex/AGENTS.md
  codex/.codex/RTK.md
  packages.conf
  project-dictionary.txt
  rtk/.config/rtk/config.toml
Due: spelling

Remove launchd from STOW, package no longer exists
  packages.conf
Due: none

Route secrets reads to 1Password accounts
  zsh/.config/zsh/functions/secrets.zsh
Due: none

Add rubocop-yard plugin and enable all YARD cops
  rubocop/.rubocop.yml
Due: none

Block direct commits and pushes to main/master via lefthook
  lefthook.yml
Due: none

Add rv stow package with global config setting update-mode to install
  packages.conf
  rv/.config/rv/rv.kdl
Due: none

Add rv stow package with global config setting update-mode to install (#57)
  packages.conf
  rv/.config/rv/rv.kdl
Due: none

Use rtk to save on tokens
  claude/.claude/settings.json
  codex/.codex/AGENTS.md
  codex/.codex/config.toml
  lefthook.yml
  packages.conf
Due: spelling

Split agents.md into a thin core playbook plus topic skills
  agents.md
  claude/.claude/skills/code-review/SKILL.md
  claude/.claude/skills/dotfiles-maintenance/SKILL.md
  claude/.claude/skills/dotfiles-maintenance/references/repository-layout.md
  claude/.claude/skills/object-oriented-design/SKILL.md
  claude/.claude/skills/object-oriented-design/references/examples.md
  claude/.claude/skills/rails-api-design/SKILL.md
  claude/.claude/skills/rails-api-design/references/examples.md
  claude/.claude/skills/rails-architecture/SKILL.md
  claude/.claude/skills/rails-architecture/references/examples.md
  claude/.claude/skills/rails-ops/SKILL.md
  claude/.claude/skills/rails-testing/SKILL.md
  claude/.claude/skills/rails-testing/references/examples.md
  claude/.claude/skills/rails-ui/SKILL.md
  claude/.claude/skills/rails-ui/references/hotwire-stimulus.md
  claude/.claude/skills/rails-ui/references/i18n.md
  claude/.claude/skills/rails-ui/references/interaction-design.md
Due: spelling

Fix agent skill guidance review findings
  agents.md
  claude/.claude/skills/object-oriented-design/SKILL.md
Due: spelling

Update rails-ops deployment guidance for work projects
  claude/.claude/skills/rails-ops/SKILL.md
Due: spelling

Split agents.md into a thin core playbook plus skills (#58)
  agents.md
  claude/.claude/skills/code-review/SKILL.md
  claude/.claude/skills/dotfiles-maintenance/SKILL.md
  claude/.claude/skills/dotfiles-maintenance/references/repository-layout.md
  claude/.claude/skills/object-oriented-design/SKILL.md
  claude/.claude/skills/object-oriented-design/references/examples.md
  claude/.claude/skills/rails-api-design/SKILL.md
  claude/.claude/skills/rails-api-design/references/examples.md
  claude/.claude/skills/rails-architecture/SKILL.md
  claude/.claude/skills/rails-architecture/references/examples.md
  claude/.claude/skills/rails-ops/SKILL.md
  claude/.claude/skills/rails-testing/SKILL.md
  claude/.claude/skills/rails-testing/references/examples.md
  claude/.claude/skills/rails-ui/SKILL.md
  claude/.claude/skills/rails-ui/references/hotwire-stimulus.md
  claude/.claude/skills/rails-ui/references/i18n.md
  claude/.claude/skills/rails-ui/references/interaction-design.md
Due: spelling
