Repository eirvandelden/dotfiles: changes, and which lefthook commands are due for each by the changed paths.
All: csslint, erb_lint, eslint, spelling, rubocop, ruby-syntax

Path conditions:
  csslint: any of: *.{css,scss}
  erb_lint: any of: *.{erb}
  eslint: any of: *.{js,ts,jsx,tsx}
  spelling: any of: *.{js,rb,md}
  rubocop: any of: *.{rb}, but not: application.rb|routes.rb|schema.rb
  ruby-syntax: any of: *.rb

fix(codex): merge dangerous-command rules into the live default.rules
  codex/.codex/rules/default.rules
Due: none

fix(claude): show the date in the statusline when the last reply wasn't today
  claude/.claude/statusline-command.rb
  claude/.claude/test/statusline_command_test.rb
Due: spelling, ruby-syntax

refactor(claude): stop the statusline from mutating the caller's today
  claude/.claude/statusline-command.rb
  claude/.claude/test/statusline_command_test.rb
Due: spelling, ruby-syntax

feat(claude): reinject core behavioral rules on session start and each prompt
  claude/.claude/core-values.yml
  claude/.claude/hooks/core-values.rb
  claude/.claude/settings.json
  claude/.claude/skills/dotfiles-maintenance/SKILL.md
  test/core_values_test.rb
Due: spelling, ruby-syntax

style(claude): stop hardwrapping the core-values-hook paragraph
  claude/.claude/skills/dotfiles-maintenance/SKILL.md
Due: spelling

docs(claude): register the Home Assistant MCP server
  claude/.claude/HEADROOM.md
Due: spelling

feat(codex): add Home Assistant MCP server
  codex/.codex/config.toml
  secrets/.config/secrets/1password.env
Due: none

docs: add Home Assistant MCP handoff
  docs/handoffs/2026-09-02-home-assistant-mcp.md
  project-dictionary.txt
Due: spelling

docs: plan the transition to an AI-native workflow
  docs/changes/ai-native-workflow/habits.md
  docs/changes/ai-native-workflow/intent.md
  docs/changes/ai-native-workflow/phases/01-shared-skills.md
  docs/changes/ai-native-workflow/phases/02-artifact-skills.md
  docs/changes/ai-native-workflow/phases/03-review-branch.md
  docs/changes/ai-native-workflow/phases/04-finish-and-prepare.md
  docs/changes/ai-native-workflow/phases/05-plugins-and-playbook.md
  docs/changes/ai-native-workflow/phases/06-codex-guard-parity.md
  docs/changes/ai-native-workflow/phases/07-hygiene.md
  docs/changes/ai-native-workflow/plan.md
  docs/changes/ai-native-workflow/spec.md
  project-dictionary.txt
Due: spelling

fix(codex): close the Home Assistant approval-gate holes
  codex/.codex/config.toml
Due: none

docs: fix the Home Assistant MCP handoff and its network leak
  claude/.claude/HEADROOM.md
  docs/handoffs/2026-09-02-home-assistant-mcp.md
  docs/handoffs/2026-09-18-home-assistant-mcp.md
  project-dictionary.txt
Due: spelling

feat(git): remember and replay conflict resolutions
  git/.config/git/config
Due: none

fix(claude): close the remaining core-values hook silent-failure paths
  agents.md
  claude/.claude/hooks/core-values.rb
  test/core_values_test.rb
Due: spelling, ruby-syntax

docs: settle the ADR location for work changes at docs/adr/
  docs/changes/ai-native-workflow/intent.md
  docs/changes/ai-native-workflow/phases/04-finish-and-prepare.md
  docs/changes/ai-native-workflow/spec.md
Due: spelling

docs: the work review state is set on the PR in the team's review project
  docs/changes/ai-native-workflow/intent.md
  docs/changes/ai-native-workflow/phases/04-finish-and-prepare.md
Due: spelling

docs: name branches after the GitHub issue when one is known
  docs/changes/ai-native-workflow/phases/02-artifact-skills.md
  docs/changes/ai-native-workflow/spec.md
Due: spelling

docs: derive tests from acceptance criteria and guard test files during bugfixes
  docs/changes/ai-native-workflow/habits.md
  docs/changes/ai-native-workflow/phases/02-artifact-skills.md
  docs/changes/ai-native-workflow/phases/03-review-branch.md
  docs/changes/ai-native-workflow/phases/06-codex-guard-parity.md
  docs/changes/ai-native-workflow/plan.md
  docs/changes/ai-native-workflow/spec.md
Due: spelling

docs: keep review.md in the change folder; intent borrows the brainstorming interview
  docs/changes/ai-native-workflow/habits.md
  docs/changes/ai-native-workflow/phases/02-artifact-skills.md
  docs/changes/ai-native-workflow/phases/03-review-branch.md
  docs/changes/ai-native-workflow/plan.md
  docs/changes/ai-native-workflow/spec.md
Due: spelling

docs: implement gains a split mode with test-writer and implementer agents
  docs/changes/ai-native-workflow/phases/02-artifact-skills.md
  docs/changes/ai-native-workflow/phases/03-review-branch.md
  docs/changes/ai-native-workflow/plan.md
  docs/changes/ai-native-workflow/spec.md
Due: spelling

docs: merge finish-change and prepare-for-team into one finish skill
  docs/changes/ai-native-workflow/habits.md
  docs/changes/ai-native-workflow/phases/04-finish-and-prepare.md
  docs/changes/ai-native-workflow/phases/04-finish.md
  docs/changes/ai-native-workflow/plan.md
  docs/changes/ai-native-workflow/spec.md
Due: spelling

docs: one review skill with two backends; handoff folds into implement
  docs/changes/ai-native-workflow/habits.md
  docs/changes/ai-native-workflow/phases/01-shared-skills.md
  docs/changes/ai-native-workflow/phases/02-artifact-skills.md
  docs/changes/ai-native-workflow/phases/03-review.md
  docs/changes/ai-native-workflow/phases/04-finish.md
  docs/changes/ai-native-workflow/plan.md
  docs/changes/ai-native-workflow/spec.md
Due: spelling

docs: review defaults to a fresh reviewer in a herdr pane
  docs/changes/ai-native-workflow/phases/03-review.md
  docs/changes/ai-native-workflow/spec.md
Due: spelling

docs: playbook output style becomes terseness plus Simplified Technical English
  docs/changes/ai-native-workflow/phases/05-plugins-and-playbook.md
  docs/changes/ai-native-workflow/spec.md
Due: spelling

docs: intent and spec accepted
  docs/changes/ai-native-workflow/intent.md
  docs/changes/ai-native-workflow/spec.md
Due: spelling

docs: build phases 1-4 back-to-back; their habits start together
  docs/changes/ai-native-workflow/habits.md
  docs/changes/ai-native-workflow/plan.md
Due: spelling

docs: intent creates the worktree through worktree-first when needed
  docs/changes/ai-native-workflow/phases/02-artifact-skills.md
  docs/changes/ai-native-workflow/spec.md
Due: spelling

docs: habits follow the workflow order; finish removes docs/changes/ when empty
  docs/changes/ai-native-workflow/habits.md
  docs/changes/ai-native-workflow/phases/02-artifact-skills.md
  docs/changes/ai-native-workflow/phases/03-review.md
  docs/changes/ai-native-workflow/phases/04-finish.md
  docs/changes/ai-native-workflow/phases/05-plugins-and-playbook.md
  docs/changes/ai-native-workflow/phases/06-codex-guard-parity.md
  docs/changes/ai-native-workflow/plan.md
  docs/changes/ai-native-workflow/spec.md
Due: spelling

docs: name the habit instead of its old number in phase 3
  docs/changes/ai-native-workflow/phases/03-review.md
Due: spelling

docs: plan accepted
  docs/changes/ai-native-workflow/plan.md
Due: spelling

docs: executors read phase files from the documents worktree; nothing merges first
  docs/changes/ai-native-workflow/phases/01-shared-skills.md
  docs/changes/ai-native-workflow/phases/02-artifact-skills.md
  docs/changes/ai-native-workflow/phases/03-review.md
  docs/changes/ai-native-workflow/phases/04-finish.md
  docs/changes/ai-native-workflow/phases/05-plugins-and-playbook.md
  docs/changes/ai-native-workflow/phases/06-codex-guard-parity.md
  docs/changes/ai-native-workflow/phases/07-hygiene.md
  docs/changes/ai-native-workflow/plan.md
Due: spelling

docs: documents merge to main first; executors read them from the main checkout
  docs/changes/ai-native-workflow/phases/01-shared-skills.md
  docs/changes/ai-native-workflow/phases/02-artifact-skills.md
  docs/changes/ai-native-workflow/phases/03-review.md
  docs/changes/ai-native-workflow/phases/04-finish.md
  docs/changes/ai-native-workflow/phases/05-plugins-and-playbook.md
  docs/changes/ai-native-workflow/phases/06-codex-guard-parity.md
  docs/changes/ai-native-workflow/phases/07-hygiene.md
  docs/changes/ai-native-workflow/plan.md
Due: spelling

docs: Codex skills move to an agents stow package targeting ~/.agents/skills
  docs/changes/ai-native-workflow/phases/01-shared-skills.md
  docs/changes/ai-native-workflow/phases/02-artifact-skills.md
  docs/changes/ai-native-workflow/phases/07-hygiene.md
  docs/changes/ai-native-workflow/plan.md
  docs/changes/ai-native-workflow/spec.md
Due: spelling

feat: ghostty sends CSI u for shift+enter through herdr
  ghostty/.config/ghostty/config
Due: none

fix(git): export LEFTHOOK_CONFIG in post-merge/post-rewrite hooks
  git/.config/git/hooks/post-merge
  git/.config/git/hooks/post-rewrite
Due: none

ci: run test/*_test.rb on push and pull_request
  .github/workflows/dotfiles-tests.yml
Due: none

test: add the Claude/Codex skill parity drift guard
  test/skill_parity_test.rb
Due: spelling, ruby-syntax

feat(skills): migrate worktree-first onto the shared agents package
  agents/.agents/skills/worktree-first
  claude/.claude/skills/worktree-first/SKILL.md
  claude/.claude/skills/worktree-first/agents/openai.yaml
  codex/.codex/skills/worktree-first/SKILL.md
Due: spelling

feat(skills): migrate handoff onto the shared agents package
  agents/.agents/skills/handoff
  claude/.claude/skills/handoff/SKILL.md
  claude/.claude/skills/handoff/agents/openai.yaml
  codex/.codex/skills/handoff/SKILL.md
Due: spelling

feat(skills): migrate review onto the shared agents package
  agents/.agents/skills/review
  claude/.claude/skills/review/agents/openai.yaml
  codex/.codex/skills/review/SKILL.md
  test/skill_parity_test.rb
Due: spelling, ruby-syntax

feat(stow): register the agents package
  packages.conf
Due: none
