Repository eirvandelden/dotfiles: changes, and which lefthook commands are due for each by the changed paths.
All: csslint, erb_lint, eslint, spelling, rubocop, ruby-syntax

csslint:
  tags: sass css linter
  run: yarn csslint {staged_files}

erb_lint:
  tags: erb style
  run: erb_lint {staged_files}

eslint:
  tags: javascript linter
  run: yarn eslint {staged_files}

spelling:
  run: cspell {staged_files}

rubocop:
  tags: ruby linter
  run: rubocop -a {staged_files} --parallel
  stage_fixed: true

ruby-syntax:
  tags:
  - ruby
  - syntax
  run: ruby -c "{staged_files}"
  fail_text: Hey there, it looks like your Ruby syntax is incorrect. Take a break if you're tired!

docs: intent for personal-agent-autonomy
  docs/changes/personal-agent-autonomy/intent.md
Due: spelling

docs: intent for agreed-alias
  docs/changes/agreed-alias/intent.md
Due: spelling

docs: spec for agreed-alias
  docs/changes/agreed-alias/spec.md
Due: spelling

docs: plan for agreed-alias
  docs/changes/agreed-alias/plan.md
Due: spelling

Tell stage workers to wait for "accepted" or "agreed"
  herdr/.config/herdr/scripts/hand-off-plan.sh
  test/approval_word_test.rb
  test/herdr_worker_scripts_test.rb
Due: spelling, ruby-syntax

Let "agreed" approve the intent
  claude/.claude/skills/intent/SKILL.md
Due: spelling

Let "agreed" approve the spec
  claude/.claude/skills/spec/SKILL.md
  test/approval_word_test.rb
Due: spelling, ruby-syntax

Name "agreed" as the alternative approval word in rule 17
  agents.md
Due: spelling

Let "agreed" approve the plan
  claude/.claude/skills/plan/SKILL.md
Due: spelling

Review round 1 for agreed-alias
  docs/changes/agreed-alias/review.md
Due: spelling

Point the intent red flag at the words in step 4
  claude/.claude/skills/intent/SKILL.md
  test/approval_word_test.rb
Due: spelling, ruby-syntax

Fail with a message when rule 17 loses "accepted"
  test/approval_word_test.rb
Due: spelling, ruby-syntax

Name the intent phrases in rule 17
  agents.md
  test/approval_word_test.rb
Due: spelling, ruby-syntax

Name the "agreed" report-order test after the spec stage it checks
  test/herdr_worker_scripts_test.rb
Due: spelling, ruby-syntax

docs: close review round 1 findings for agreed-alias
  docs/changes/agreed-alias/review.md
Due: spelling

Review round 2 for agreed-alias
  docs/changes/agreed-alias/review.md
Due: spelling

Fail with a message when the spec prompt loses "agreed"
  test/herdr_worker_scripts_test.rb
Due: spelling, ruby-syntax

docs: close review round 2 findings for agreed-alias
  docs/changes/agreed-alias/review.md
Due: spelling

docs(worktree-tools): plan fixing project names that are not hostnames
  docs/plans/worktree-init-hostname.md
Due: spelling

fix(worktree-tools): turn a project name into a hostname it can actually use
  git/.config/git/worktree-tools/lib/config.rb
  git/.config/git/worktree-tools/test/config_test.rb
Due: spelling, ruby-syntax

Remove change artifacts for agreed-alias
  docs/changes/agreed-alias/intent.md
  docs/changes/agreed-alias/plan.md
  docs/changes/agreed-alias/review.md
  docs/changes/agreed-alias/spec.md
Due: spelling

docs: spec for personal-agent-autonomy
  docs/changes/personal-agent-autonomy/spec.md
Due: spelling

docs: record confirmed escalation triggers in spec
  docs/changes/personal-agent-autonomy/spec.md
Due: spelling

docs: plan for personal-agent-autonomy
  docs/changes/personal-agent-autonomy/plan.md
Due: spelling

Remove orphaned claude/.config/claude/settings.json
  claude/.config/claude/settings.json
Due: none

Record phase 7 executor departures
  docs/changes/ai-native-workflow/phases/07-hygiene.md
Due: spelling

consent guard: pin the Codex PreToolUse payload
  test/consent_guard_test.rb
Due: spelling, ruby-syntax

test guard: read the files a Codex apply_patch names
  claude/.claude/hooks/test-guard.rb
  test/test_guard_test.rb
Due: spelling, ruby-syntax

codex rules: drop machine-specific allows, layer the guarded commands
  codex/.codex/rules/default.rules
  test/guard_parity_test.rb
Due: spelling, ruby-syntax

playbook: the consent guard now runs in Codex too
  agents.md
  docs/changes/ai-native-workflow/habits.md
Due: spelling

codex: run the consent and test guards from inline hooks
  codex/.codex/config.toml
  test/guard_parity_test.rb
Due: spelling, ruby-syntax

codex rules: allow pushes to origin only, drop a one-off sed allow
  codex/.codex/rules/default.rules
Due: none

test guard: tolerate a null tool_input; parity test fails loudly on a missing hook
  claude/.claude/hooks/test-guard.rb
  test/guard_parity_test.rb
Due: spelling, ruby-syntax

lefthook: run the guard parity test at pre-commit; playbook names the rule's limit
  agents.md
  lefthook-local.yml
  project-dictionary.txt
Due: spelling

docs: intent for merge-spec-into-intent
  docs/changes/merge-spec-into-intent/intent.md
Due: spelling

docs: intent for merge-spec-into-intent: close review panes once delivered
  docs/changes/merge-spec-into-intent/intent.md
Due: spelling

docs: spec for remove-cspell
  docs/changes/remove-cspell/spec.md
Due: spelling

Remove change artifacts for ai-native-workflow
  docs/changes/ai-native-workflow/habits.md
  docs/changes/ai-native-workflow/intent.md
  docs/changes/ai-native-workflow/phases/01-shared-skills.md
  docs/changes/ai-native-workflow/phases/02-artifact-skills.md
  docs/changes/ai-native-workflow/phases/03-review.md
  docs/changes/ai-native-workflow/phases/04-finish.md
  docs/changes/ai-native-workflow/phases/05-plugins-and-playbook.md
  docs/changes/ai-native-workflow/phases/06-codex-guard-parity.md
  docs/changes/ai-native-workflow/phases/07-hygiene.md
  docs/changes/ai-native-workflow/plan.md
  docs/changes/ai-native-workflow/spec.md
Due: spelling

docs: spec for worktrees-outside-dot-worktrees
  docs/changes/worktrees-outside-dot-worktrees/spec.md
Due: spelling

docs: intent for codex-auto-review-approvals
  docs/changes/codex-auto-review-approvals/intent.md
Due: spelling

Path conditions:
  csslint: any of: *.{css,scss}
  erb_lint: any of: *.{erb}
  eslint: any of: *.{js,ts,jsx,tsx}
  spelling: any of: *.{js,rb,md}
  rubocop: any of: *.{rb}, but not: application.rb|routes.rb|schema.rb
  ruby-syntax: any of: *.rb
