Repository eirvandelden/dotfiles: changes, and which lefthook commands are due for each by the changed paths.
All: csslint, erb_lint, eslint, spelling, rubocop, ruby-syntax

csslint:
  tags: sass css linter
  run: yarn csslint {staged_files}

erb_lint:
  tags: erb style
  run: erb_lint {staged_files}

eslint:
  tags: javascript linter
  run: yarn eslint {staged_files}

spelling:
  run: cspell {staged_files}

rubocop:
  tags: ruby linter
  run: rubocop -a {staged_files} --parallel
  stage_fixed: true

ruby-syntax:
  tags:
  - ruby
  - syntax
  run: ruby -c "{staged_files}"
  fail_text: Hey there, it looks like your Ruby syntax is incorrect. Take a break if you're tired!

finish: close leftover stage panes via herdr pane list, with confirmation
  claude/.claude/skills/finish/SKILL.md
  docs/changes/stage-handoffs/plan.md
  docs/changes/stage-handoffs/spec.md
Due: spelling

Review round 2 for stage-handoffs
  docs/changes/stage-handoffs/review.md
Due: spelling

docs: close review round 2 findings for stage-handoffs
  docs/changes/stage-handoffs/review.md
Due: spelling

spec/plan/implement: drop the stale main-checkout reason
  claude/.claude/skills/implement/SKILL.md
  claude/.claude/skills/plan/SKILL.md
  claude/.claude/skills/spec/SKILL.md
Due: spelling

hand-off-plan.sh: name the push command, split report wording per stage
  herdr/.config/herdr/scripts/hand-off-plan.sh
  test/herdr_worker_scripts_test.rb
Due: spelling, ruby-syntax

hand-off-plan.sh: per-stage direction, intent stage, chain to next stage
  herdr/.config/herdr/scripts/hand-off-plan.sh
  test/herdr_worker_scripts_test.rb
Due: spelling, ruby-syntax

docs: revise spec for stage handoffs — per-stage panes
  docs/changes/stage-handoffs/spec.md
Due: spelling

docs: revise plan for stage handoffs — per-stage panes
  docs/changes/stage-handoffs/plan.md
Due: spelling

Review round 3 for stage-handoffs
  docs/changes/stage-handoffs/review.md
Due: spelling

intent/spec/plan: document per-stage panes and the accept-time chain
  claude/.claude/skills/intent/SKILL.md
  claude/.claude/skills/plan/SKILL.md
  claude/.claude/skills/spec/SKILL.md
  docs/changes/ai-native-workflow/habits.md
  herdr/.config/herdr/README.md
Due: spelling

docs: describe the single skill-owned chain for stage handoffs
  docs/changes/ai-native-workflow/habits.md
  docs/changes/stage-handoffs/plan.md
  docs/changes/stage-handoffs/spec.md
Due: spelling

skills: accepted stage commits, pushes, then chains with the coordinator id
  claude/.claude/skills/intent/SKILL.md
  claude/.claude/skills/plan/SKILL.md
  claude/.claude/skills/spec/SKILL.md
Due: spelling

hand-off-plan.sh: prompt names the coordinator, the skill owns the chain
  herdr/.config/herdr/scripts/hand-off-plan.sh
  test/herdr_worker_scripts_test.rb
Due: spelling, ruby-syntax

Review round 4 for stage-handoffs
  docs/changes/stage-handoffs/review.md
Due: spelling

docs: close review round 3 findings for stage-handoffs
  docs/changes/stage-handoffs/review.md
Due: spelling

hand-off-plan.sh: drop the dead next_stage column, write the report after acceptance
  herdr/.config/herdr/scripts/hand-off-plan.sh
Due: none

test: each accepting skill chains once, read from its SKILL.md; coordinator-id tests renamed
  test/herdr_worker_scripts_test.rb
Due: spelling, ruby-syntax

skills: a failed chain call is noted, not retried, in the pane's report
  claude/.claude/skills/intent/SKILL.md
  claude/.claude/skills/plan/SKILL.md
  claude/.claude/skills/spec/SKILL.md
Due: spelling

docs: plan describes the tested chain, the commit-push-chain Accept steps
  docs/changes/stage-handoffs/plan.md
Due: spelling

docs: close review round 4 findings for stage-handoffs
  docs/changes/stage-handoffs/review.md
Due: spelling

hand-off-plan.sh, test: a failed chain goes into the report, the chain test counts every call
  herdr/.config/herdr/scripts/hand-off-plan.sh
  test/herdr_worker_scripts_test.rb
Due: spelling, ruby-syntax

Review round 5 for stage-handoffs
  docs/changes/stage-handoffs/review.md
Due: spelling

finish: keep main's fill-pr-template wording after the rebase
  claude/.claude/skills/finish/SKILL.md
Due: spelling

docs: close review round 5 findings for stage-handoffs
  docs/changes/stage-handoffs/review.md
Due: spelling

Remove change artifacts for stage-handoffs
  docs/changes/stage-handoffs/intent.md
  docs/changes/stage-handoffs/plan.md
  docs/changes/stage-handoffs/review.md
  docs/changes/stage-handoffs/spec.md
Due: spelling

Add intent, spec and plan for rubocop refute methods
  docs/changes/rubocop-refute-methods/intent.md
  docs/changes/rubocop-refute-methods/plan.md
  docs/changes/rubocop-refute-methods/spec.md
Due: spelling

Keep the reproduction marker out of plan prose
  docs/changes/rubocop-refute-methods/plan.md
Due: spelling

Teach the spell checker the Rails framework gem names
  project-dictionary.txt
Due: none

Stop the global RuboCop fallback rewriting refute into Rails-only assertions
  rubocop/.rubocop.yml
Due: none

Tests for rubocop-refute-methods
  docs/changes/rubocop-refute-methods/plan.md
  test/rubocop_fallback_test.rb
Due: spelling, ruby-syntax

Lift the bugfix test guard for the helper cleanup
  docs/changes/rubocop-refute-methods/plan.md
Due: spelling

Use plain Minitest refute in the POSIX sh hook test
  test/lefthook_posix_sh_test.rb
Due: spelling, ruby-syntax

Use plain Minitest refute in PR template, hook, hardwrap and rv tests
  test/fill_pr_template_test.rb
  test/lefthook_local_hooks_test.rb
  test/no_hardwrap_rule_test.rb
  test/rv_ci_fallback_test.rb
Due: spelling, ruby-syntax

Use plain Minitest refute in change folder, skill and worktree tests
  test/change_folder_test.rb
  test/change_scope_test.rb
  test/codex_agent_generation_test.rb
  test/review_report_check_test.rb
  test/skill_parity_test.rb
  test/worktree_create_test.rb
Due: spelling, ruby-syntax

Use plain Minitest refute in editor and pull hook tests
  test/editor_test.rb
  test/lefthook_pull_hooks_test.rb
Due: spelling, ruby-syntax

Record how the refute_command_ran mutation check was done
  docs/changes/rubocop-refute-methods/plan.md
Due: spelling

Review round 1 for rubocop-refute-methods
  docs/changes/rubocop-refute-methods/review.md
Due: spelling

Make the fallback test fail when RuboCop never checks the sample
  docs/changes/rubocop-refute-methods/plan.md
  test/rubocop_fallback_test.rb
Due: spelling, ruby-syntax

Review round 2 for rubocop-refute-methods
  docs/changes/rubocop-refute-methods/review.md
Due: spelling

Install RuboCop and its plugins in CI so the fallback test runs there
  .github/workflows/dotfiles-tests.yml
  docs/changes/rubocop-refute-methods/plan.md
  docs/changes/rubocop-refute-methods/spec.md
Due: spelling

Path conditions:
  csslint: any of: *.{css,scss}
  erb_lint: any of: *.{erb}
  eslint: any of: *.{js,ts,jsx,tsx}
  spelling: any of: *.{js,rb,md}
  rubocop: any of: *.{rb}, but not: application.rb|routes.rb|schema.rb
  ruby-syntax: any of: *.rb
