Repository eirvandelden/dotfiles: changes, and which lefthook commands are due for each by the changed paths.
All: csslint, erb_lint, eslint, spelling, rubocop, ruby-syntax

Path conditions:
  csslint: any of: *.{css,scss}
  erb_lint: any of: *.{erb}
  eslint: any of: *.{js,ts,jsx,tsx}
  spelling: any of: *.{js,rb,md}
  rubocop: any of: *.{rb}, but not: application.rb|routes.rb|schema.rb
  ruby-syntax: any of: *.rb

chore(claude): stop sandboxing Claude Code commands
  claude/.claude/settings.json
Due: none

chore: use Ruby 4.0.6 as the default runtime
  ruby/.ruby-version
Due: none

feat(packages): add git-delta for rendering diffs in the terminal
  packages.conf
Due: none

fix(git): put the Claude ignore patterns in the file git actually reads
  git/.config/git/ignore
  git/.config/git/ignore.global
Due: none

feat(codex): ask before the remaining destructive fizzy actions
  codex/.codex/config.toml
Due: none

fix(claude): bring back the zubat agent definition
  claude/.claude/agents/zubat.md
Due: spelling

feat(install): give launchd services the Homebrew PATH
  install.sh
  install/tasks/24_configure_launchd_path.sh
Due: none

fix(claude): read the guarded command as tokens, not as text
  claude/.claude/hooks/consent-guard.sh
  test/consent_guard_test.rb
Due: spelling, ruby-syntax

Resolve the branch where a git command actually acts
  claude/.claude/hooks/consent-guard.sh
  test/consent_guard_test.rb
Due: spelling, ruby-syntax

fix(claude): expand a leading ~ in the resolved checkout path
  claude/.claude/hooks/consent-guard.sh
  test/consent_guard_test.rb
Due: spelling, ruby-syntax

feat(herdr): spawn a handoff worker and a reviewer from the current session
  herdr/.config/herdr/scripts/hand-off-plan.sh
  herdr/.config/herdr/scripts/start-review.sh
  project-dictionary.txt
  test/herdr_worker_scripts_test.rb
Due: spelling, ruby-syntax

feat(claude,codex): add /handoff and /review to both agents
  claude/.claude/skills/handoff/SKILL.md
  claude/.claude/skills/review/SKILL.md
  codex/.codex/skills/handoff/SKILL.md
  codex/.codex/skills/handoff/agents/openai.yaml
  codex/.codex/skills/review/SKILL.md
  codex/.codex/skills/review/agents/openai.yaml
Due: spelling

fix(herdr): build worker names Herdr will accept
  herdr/.config/herdr/scripts/hand-off-plan.sh
  herdr/.config/herdr/scripts/start-review.sh
  test/herdr_worker_scripts_test.rb
Due: spelling, ruby-syntax

fix(herdr): give the reviewer a base branch that resolves, and the worker a checkout it can branch from
  claude/.claude/skills/handoff/SKILL.md
  codex/.codex/skills/handoff/SKILL.md
  herdr/.config/herdr/scripts/hand-off-plan.sh
  herdr/.config/herdr/scripts/start-review.sh
  test/herdr_worker_scripts_test.rb
Due: spelling, ruby-syntax

fix(herdr): make the scripts installable anywhere and offline-safe
  claude/.claude/skills/handoff/SKILL.md
  claude/.claude/skills/review/SKILL.md
  herdr/.config/herdr/scripts/hand-off-plan.sh
  herdr/.config/herdr/scripts/start-review.sh
  packages.conf
  project-dictionary.txt
  test/herdr_worker_scripts_test.rb
Due: spelling, ruby-syntax

fix: keep project files that a stow package ignores
  git/.config/git/worktree-tools/lib/file_cleaner.rb
  git/.config/git/worktree-tools/test/file_cleaner_test.rb
Due: spelling, ruby-syntax

feat(herdr): play the Overlord minion line when an agent finishes
  herdr/.config/herdr/config.toml
Due: none

docs(claude): point new repos at the shared rubocop rules
  claude/.claude/skills/new-repo-setup/SKILL.md
Due: spelling

fix(git): let the security hooks run outside Rails apps
  lefthook.yml
Due: none

fix(git): let bundle-audit refresh its advisories from inside a hook
  lefthook.yml
Due: none

feat(herdr): report back to the agent that asked
  claude/.claude/skills/handoff/SKILL.md
  claude/.claude/skills/review/SKILL.md
  codex/.codex/skills/handoff/SKILL.md
  codex/.codex/skills/review/SKILL.md
  herdr/.config/herdr/scripts/hand-off-plan.sh
  herdr/.config/herdr/scripts/start-review.sh
  test/herdr_worker_scripts_test.rb
Due: spelling, ruby-syntax

fix(herdr): keep a review report out of the directory the worktree sweep deletes
  herdr/.config/herdr/scripts/hand-off-plan.sh
  herdr/.config/herdr/scripts/start-review.sh
  test/herdr_worker_scripts_test.rb
Due: spelling, ruby-syntax

fix(herdr): make the report-back line survive a busy caller and an odd path
  herdr/.config/herdr/scripts/hand-off-plan.sh
  herdr/.config/herdr/scripts/start-review.sh
  test/herdr_worker_scripts_test.rb
Due: spelling, ruby-syntax

fix(herdr): refuse before spawning when there is nobody to report back to
  herdr/.config/herdr/scripts/hand-off-plan.sh
  herdr/.config/herdr/scripts/start-review.sh
  test/herdr_worker_scripts_test.rb
Due: spelling, ruby-syntax

fix(herdr): settle the report file before starting an agent
  herdr/.config/herdr/scripts/hand-off-plan.sh
  herdr/.config/herdr/scripts/start-review.sh
  test/herdr_worker_scripts_test.rb
Due: spelling, ruby-syntax
