Repository eirvandelden/dotfiles: changes, and which lefthook commands are due for each by the changed paths.
All: csslint, erb_lint, eslint, spelling, rubocop, ruby-syntax

Path conditions:
  csslint: any of: *.{css,scss}
  erb_lint: any of: *.{erb}
  eslint: any of: *.{js,ts,jsx,tsx}
  spelling: any of: *.{js,rb,md}
  rubocop: any of: *.{rb}, but not: application.rb|routes.rb|schema.rb
  ruby-syntax: any of: *.rb

Make the herdr config test explain a missing setting
  test/herdr_config_test.rb
Due: spelling, ruby-syntax

Review round 2 for herdr-terminal-notifications
  docs/changes/herdr-terminal-notifications/review.md
Due: spelling

Dismiss the post-merge notification check in the review
  docs/changes/herdr-terminal-notifications/review.md
Due: spelling

Remove change artifacts for herdr-terminal-notifications
  docs/changes/herdr-terminal-notifications/intent.md
  docs/changes/herdr-terminal-notifications/plan.md
  docs/changes/herdr-terminal-notifications/review.md
  docs/changes/herdr-terminal-notifications/spec.md
Due: spelling

Tests for lefthook-hook-regeneration
  docs/changes/lefthook-hook-regeneration/intent.md
  docs/changes/lefthook-hook-regeneration/plan.md
  docs/changes/lefthook-hook-regeneration/spec.md
  test/lefthook_global_hooks_sync_test.rb
  test/lefthook_pull_hooks_test.rb
Due: spelling, ruby-syntax

A pull only installs and migrates when the matching files changed
  docs/changes/lefthook-hook-regeneration/plan.md
  lefthook.yml
Due: spelling

Pulls and rebases no longer replace the global git hooks
  lefthook.yml
Due: none

A pull that deletes the root Gemfile no longer runs bundle install
  docs/changes/lefthook-hook-regeneration/plan.md
  lefthook.yml
Due: spelling

Plan: the nested pull command test needs the NUL-separated list
  docs/changes/lefthook-hook-regeneration/plan.md
Due: spelling

Expect the NUL-separated file list in the nested migration hook
  docs/changes/lefthook-hook-regeneration/plan.md
  test/rv_ci_fallback_test.rb
Due: spelling, ruby-syntax

Review round 1 for lefthook-hook-regeneration
  docs/changes/lefthook-hook-regeneration/review.md
Due: spelling

A pulled file name can no longer run a shell command after git pull
  lefthook.yml
Due: none

Tests: a pulled file name cannot run a command, and the sync tests prove a hook ran
  docs/changes/lefthook-hook-regeneration/plan.md
  test/lefthook_global_hooks_sync_test.rb
  test/lefthook_pull_hooks_test.rb
Due: spelling, ruby-syntax

Close Round 1 findings in review.md
  docs/changes/lefthook-hook-regeneration/review.md
Due: spelling

Review round 2 for lefthook-hook-regeneration
  docs/changes/lefthook-hook-regeneration/review.md
Due: spelling

Spec: only bundle install needs a root Gemfile
  docs/changes/lefthook-hook-regeneration/spec.md
Due: spelling

Say why a long pull can run a migration command twice
  lefthook.yml
Due: none

Plan: the round 2 review nits
  docs/changes/lefthook-hook-regeneration/plan.md
Due: spelling

Tests find the lefthook binary through one shared helper
  test/lefthook_binary.rb
  test/lefthook_global_hooks_sync_test.rb
  test/lefthook_local_hooks_test.rb
  test/lefthook_posix_sh_test.rb
  test/lefthook_pull_hooks_test.rb
Due: spelling, ruby-syntax

Review round 3 for lefthook-hook-regeneration
  docs/changes/lefthook-hook-regeneration/review.md
Due: spelling

Close Round 2 findings in review.md
  docs/changes/lefthook-hook-regeneration/review.md
Due: spelling

Spec: name both lefthook versions the tests ran on, and that CI installs the latest
  docs/changes/lefthook-hook-regeneration/review.md
  docs/changes/lefthook-hook-regeneration/spec.md
Due: spelling

Review round 4 for lefthook-hook-regeneration
  docs/changes/lefthook-hook-regeneration/review.md
Due: spelling

Plan: describe the : {files} form, not the unsafe shell comment
  docs/changes/lefthook-hook-regeneration/plan.md
  docs/changes/lefthook-hook-regeneration/review.md
Due: spelling

Review round 5 for lefthook-hook-regeneration
  docs/changes/lefthook-hook-regeneration/review.md
Due: spelling

Remove change artifacts for lefthook-hook-regeneration
  docs/changes/lefthook-hook-regeneration/intent.md
  docs/changes/lefthook-hook-regeneration/plan.md
  docs/changes/lefthook-hook-regeneration/review.md
  docs/changes/lefthook-hook-regeneration/spec.md
Due: spelling

docs: intent for stage handoffs — every stage after intent in a fresh pane
  docs/changes/stage-handoffs/intent.md
Due: spelling

docs: spec for stage handoffs
  docs/changes/stage-handoffs/spec.md
Due: spelling

docs: plan for stage handoffs
  docs/changes/stage-handoffs/plan.md
Due: spelling

Tests for stage-handoffs
  test/herdr_worker_scripts_test.rb
Due: spelling, ruby-syntax

finish: close leftover stage panes before removing the change folder
  claude/.claude/skills/finish/SKILL.md
Due: spelling

spec/plan/implement: default to a fresh pane, matching review
  claude/.claude/skills/implement/SKILL.md
  claude/.claude/skills/plan/SKILL.md
  claude/.claude/skills/spec/SKILL.md
Due: spelling

hand-off-plan.sh: accept a stage name and change slug
  herdr/.config/herdr/scripts/hand-off-plan.sh
Due: none

Review round 1 for stage-handoffs
  docs/changes/stage-handoffs/review.md
Due: spelling

docs: describe spec/plan/implement's pane-by-default flow
  docs/changes/ai-native-workflow/habits.md
  herdr/.config/herdr/README.md
Due: spelling

test: restore ported handoff coverage and tighten prompt assertions
  test/herdr_worker_scripts_test.rb
Due: spelling, ruby-syntax

spec/plan: document committing the artifact on acceptance; note slug/branch rule
  claude/.claude/skills/implement/SKILL.md
  claude/.claude/skills/plan/SKILL.md
  claude/.claude/skills/spec/SKILL.md
Due: spelling

hand-off-plan.sh: tell each stage pane to invoke its skill's here backend
  herdr/.config/herdr/scripts/hand-off-plan.sh
Due: none

finish: close the stage pane from the worktree it runs in
  claude/.claude/skills/finish/SKILL.md
Due: spelling

docs: close review round 1 findings for stage-handoffs
  docs/changes/stage-handoffs/review.md
Due: spelling
