Repository eirvandelden/dotfiles: changes, and which lefthook commands are due for each by the changed paths.
All: csslint, erb_lint, eslint, spelling, rubocop, ruby-syntax

csslint:
  tags: sass css linter
  run: yarn csslint {staged_files}

erb_lint:
  tags: erb style
  run: erb_lint {staged_files}

eslint:
  tags: javascript linter
  run: yarn eslint {staged_files}

spelling:
  run: cspell {staged_files}

rubocop:
  tags: ruby linter
  run: rubocop -a {staged_files} --parallel
  stage_fixed: true

ruby-syntax:
  tags:
  - ruby
  - syntax
  run: ruby -c "{staged_files}"
  fail_text: Hey there, it looks like your Ruby syntax is incorrect. Take a break if you're tired!

Review round 1 for trek-mcp
  docs/changes/trek-mcp/review.md
Due: spelling

Review round 2 for trek-mcp
  docs/changes/trek-mcp/review.md
Due: spelling

Tighten TREK Codex config tests
  test/codex_config_test.rb
Due: spelling, ruby-syntax

docs: update trek-mcp plan and intent for main
  docs/changes/trek-mcp/intent.md
  docs/changes/trek-mcp/plan.md
Due: spelling

docs: record review fixes for trek-mcp
  docs/changes/trek-mcp/review.md
Due: spelling

Review round 3 for trek-mcp
  docs/changes/trek-mcp/review.md
Due: spelling

Make Codex ask before the 10 destructive TREK tools
  codex/.codex/config.toml
  test/codex_config_test.rb
Due: spelling, ruby-syntax

docs: correct Codex approval semantics in trek-mcp plan
  docs/changes/trek-mcp/plan.md
Due: spelling

docs: record round 3 fixes for trek-mcp
  docs/changes/trek-mcp/review.md
Due: spelling

Review round 4 for trek-mcp
  docs/changes/trek-mcp/review.md
Due: spelling

Catch any TREK tool approval mode that asks
  test/codex_config_test.rb
Due: spelling, ruby-syntax

docs: align trek-mcp intent, plan and spec with the 10-tool choice
  docs/changes/trek-mcp/intent.md
  docs/changes/trek-mcp/plan.md
  docs/changes/trek-mcp/spec.md
Due: spelling

docs: record round 4 fixes for trek-mcp
  docs/changes/trek-mcp/review.md
Due: spelling

Review round 5 for trek-mcp
  docs/changes/trek-mcp/review.md
Due: spelling

Rename TREK test helper to asking_trek_tools
  test/codex_config_test.rb
Due: spelling, ruby-syntax

docs: record round 5 fix for trek-mcp
  docs/changes/trek-mcp/review.md
Due: spelling

Review round 6 for trek-mcp
  docs/changes/trek-mcp/review.md
Due: spelling

Remove change artifacts for trek-mcp
  docs/changes/trek-mcp/intent.md
  docs/changes/trek-mcp/plan.md
  docs/changes/trek-mcp/review.md
  docs/changes/trek-mcp/spec.md
Due: spelling

docs: intent for personal-agent-autonomy
  docs/changes/personal-agent-autonomy/intent.md
Due: spelling

docs: spec for personal-agent-autonomy
  docs/changes/personal-agent-autonomy/spec.md
Due: spelling

docs: record confirmed escalation triggers in spec
  docs/changes/personal-agent-autonomy/spec.md
Due: spelling

Add auto-accept gate for autonomous delivery
  claude/.claude/skills/plan/scripts/auto-accept
  test/auto_accept_test.rb
Due: spelling, ruby-syntax

docs: plan for personal-agent-autonomy
  docs/changes/personal-agent-autonomy/plan.md
Due: spelling

Add --auto to hand-off-plan.sh for autonomous delivery
  herdr/.config/herdr/scripts/hand-off-plan.sh
  test/herdr_worker_scripts_test.rb
Due: spelling, ruby-syntax

Add personal autonomous-delivery section to the playbook
  agents.md
  claude/.claude/core-values.yml
  test/autonomy_contract_test.rb
Due: spelling, ruby-syntax

Teach the intent skill the autonomous delivery loop
  claude/.claude/skills/intent/SKILL.md
Due: spelling

Add auto mode with cross-model critique to the plan skill
  claude/.claude/skills/plan/SKILL.md
Due: spelling

Add auto mode to the code-review skill
  claude/.claude/skills/code-review/SKILL.md
Due: spelling

Add auto mode to the implement skill
  claude/.claude/skills/implement/SKILL.md
Due: spelling

Add auto mode to the review skill
  claude/.claude/skills/review/SKILL.md
Due: spelling

Share the code-review skill with Codex
  agents/.agents/skills/code-review
  claude/.claude/skills/code-review/agents/openai.yaml
  test/skill_parity_test.rb
Due: spelling, ruby-syntax

Add auto mode to the finish skill
  claude/.claude/skills/finish/SKILL.md
Due: spelling

Keep the intent skill's single spec chain call; describe the auto loop by stage
  claude/.claude/skills/intent/SKILL.md
  test/autonomy_contract_test.rb
Due: spelling, ruby-syntax

Split the core-values carve-out onto its own short line
  claude/.claude/core-values.yml
Due: none

Review round 1 for personal-agent-autonomy
  docs/changes/personal-agent-autonomy/review.md
Due: spelling

auto-accept: require a closed slot on every finding and read only the status line
  claude/.claude/skills/plan/scripts/auto-accept
  test/auto_accept_test.rb
Due: spelling, ruby-syntax

hand-off-plan.sh: refuse a change slug that looks like an option
  herdr/.config/herdr/scripts/hand-off-plan.sh
  test/herdr_worker_scripts_test.rb
Due: spelling, ruby-syntax

Make a pane-started intent session the delivery coordinator
  claude/.claude/skills/intent/SKILL.md
  herdr/.config/herdr/scripts/hand-off-plan.sh
  test/autonomy_contract_test.rb
  test/herdr_worker_scripts_test.rb
Due: spelling, ruby-syntax

Name the auto argument in the implement and plan skill frontmatter
  claude/.claude/skills/implement/SKILL.md
  claude/.claude/skills/plan/SKILL.md
  test/autonomy_contract_test.rb
Due: spelling, ruby-syntax

core-values: scope never-merge to autonomous delivery
  claude/.claude/core-values.yml
  test/autonomy_contract_test.rb
Due: spelling, ruby-syntax

Path conditions:
  csslint: any of: *.{css,scss}
  erb_lint: any of: *.{erb}
  eslint: any of: *.{js,ts,jsx,tsx}
  spelling: any of: *.{js,rb,md}
  rubocop: any of: *.{rb}, but not: application.rb|routes.rb|schema.rb
  ruby-syntax: any of: *.rb
